# Data Validation Using MySQL

In [143]:
mysql://student:student@localhost:3306

In [144]:
use 4iz562;

## Extend the Data Model

In [145]:
alter table PART_PARTY
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(18) default '000000000000000000',
add DQM_ERR longtext
;

In [ ]:
alter table PARTY_ADDRESS
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(9) default '000000000',
add DQM_ERR longtext
;

In [ ]:
alter table PARTY_CONTACT
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(5) default '00000',
add DQM_ERR longtext
;

In [ ]:
alter table PROD_CONTRACT
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(7) default '0000000',
add DQM_ERR longtext
;

In [ ]:
drop table if exists DQM_ISSUES;

In [ ]:
CREATE TABLE `DQM_ISSUES` (
  `ISSUE_ID` bigint NOT NULL AUTO_INCREMENT,
  `ISSUE_TSTMP` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `TABLE_NAME` varchar(100) COLLATE utf8_czech_ci NOT NULL,
  `ATTRIBUTE_NAME` varchar(100) COLLATE utf8_czech_ci NOT NULL,
  `ROW_ID` bigint NOT NULL,
  `ISSUE_CODE` smallint NOT NULL,
  `ISSUE_TEXT` longtext COLLATE utf8_czech_ci,
  PRIMARY KEY (`ISSUE_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_czech_ci;

## DQM ERR tags

<attribute name>'-'<rule id>'-'<characteristic>

Examples:
* RC-1-CMPLT

Characteristics:
* CMPLT = Completeness
* SMACC = Semantic Accurracy
* SNACC = Syntactic Accuracy
* UNQNS = Uniqueness
* INCNS = Internal Consistency
* EXCNS = External Consistency

## Validate / create reference data

### Validate REF_CALENDAR

In [8]:
select max(CAL_DATE) from REF_CALENDAR;

,max(CAL_DATE)
0,2014-12-31

### Create RES

In [9]:
drop table if exists REF_RES;

In [10]:
CREATE TABLE `REF_RES` (
  `ICO` char(8) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `OKRESLAU` char(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `DDATVZN` date DEFAULT NULL,
  `DDATZAN` date DEFAULT NULL,
  `ZPZAN` int DEFAULT NULL,
  `DDATPAKT` date DEFAULT NULL,
  `FORMA` int DEFAULT NULL,
  `ROSFORMA` int DEFAULT NULL,
  `KATPO` int DEFAULT NULL,
  `NACE` varchar(10) DEFAULT NULL,
  `ICZUJ` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `FIRMA` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `CCISS2010` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `KODADM` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `PSC` char(5) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `OBEC_TEXT` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `COBCE_TEXT` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `ULICE_TEXT` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `TYPCDOM` smallint DEFAULT NULL,
  `CDOM` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `COR` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `DATPLAT` date DEFAULT NULL,
  `PRIZNAK` char(1) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `CISS2010` varchar(50) DEFAULT NULL,
  `TEXTADR` varchar(256) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

In [195]:
SHOW GLOBAL VARIABLES like '%%local_infile%%';

,Variable_name,Value
0,local_infile,ON

In [196]:
SET GLOBAL local_infile = 'ON';

In [197]:
SHOW GLOBAL VARIABLES like '%%local_infile%%';

,Variable_name,Value
0,local_infile,ON

In [198]:
load data local infile 'ROS.csv' into table REF_RES;

In [29]:
select 
case when trim(ADDR_NUM1) 
regexp '^[0-9]+$' = 1 
then 'T' else 'F' end as flag, count(*) as freq 
from PARTY_ADDRESS group by 1;

,flag,freq
0,F,955217

In [30]:
select 
case when trim(ADDR_STREET) 
regexp '^[0-9a-zA-Z]+$' = 1 
then 'T' else 'F' end as flag, count(*) as freq 
from PARTY_ADDRESS group by 1;

,flag,freq
0,F,465796
1,T,489421

## PART_PARTY

### PARTY_RC

In [31]:
select concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)) from PART_PARTY limit 0,1;

,"concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10))"
0,001000010000000000

#### Re-set validation attributes

In [32]:
update PART_PARTY
set 
DQM_VALID_SCORE = 0,
DQM_VALID_CODE = '000000000000000000',
DQM_ERR = ''
where 1 = 1;

#### Rule 1: Non-existing date in RC with a length of 9

In [33]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-1-SMACC ') 
where
cast(
    concat(
        '19',substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 9
    ;

#### Rule 2: Non-existing date in RC with a length of 10

In [34]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-2-SMACC ') 
where
cast(
    concat(
        case when substr(PARTY_RC,1,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) < 54
        then '20'
        else '19'
        end,
        substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 10
    ;

#### Rule 3: Inconsistent date from RC and DOFBIRTH

In [35]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-3-INCNS ') 
where
party_type = 'P'
and PARTY_RC REGEXP '[0-9]+'
and not
cast(
    concat(
        case when length(trim(PARTY_RC)) = 10 and trim(substr(PARTY_RC,1,2)) * 1 < 54
        then concat('20',trim(substr(PARTY_RC,1,2)))
        else concat('19',trim(substr(PARTY_RC,1,2)))
        end,
        trim(substr(PARTY_RC,3,2)),
        trim(substr(PARTY_RC,5,2))
    ) as char(10)
) = cast(PARTY_DOFBIRTH as char(10))
;

#### Rule 4: Missing RC

In [36]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-4-CMPLTN ') 
where
PARTY_TYPE = 'P'
and (PARTY_RC is null or PARTY_RC = '' or PARTY_RC = ' ')
;

#### Rule 5: Not-numeric RC

In [37]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-5-SMACC RC-5-SNACC ') 
where
PARTY_TYPE = 'P'
and not PARTY_RC REGEXP '[0-9]+'
;

#### Rule 6: Gender from RC not consistent with PARTY_GENDER

In [38]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-6-INCNS ') 
where
PARTY_TYPE = 'P' and PARTY_RC REGEXP '[0-9]+'
and
(
(substr(PARTY_RC,3,2) - 1 > 50 and PARTY_GENDER not in ('F'))
 or
(substr(PARTY_RC,3,2) - 1 < 50 and PARTY_GENDER not in ('M'))
)
;

#### Rule 7: Age from RC not consistent with PARTY_AGE

In [39]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-7-INCNS ') 
where
PARTY_TYPE = 'P'
and
(PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE())) <> 0
;

#### Rule 23: Modulo check failed

In [40]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-23-SMACC ') 
where
PARTY_TYPE = 'P' and PARTY_RC REGEXP '[0-9]+' and length(trim(PARTY_RC)) = 10
and not
case when
mod(
cast(
concat(
    substr(trim(PARTY_RC),1,2),
    case when cast(substr(PARTY_RC,3,2) as signed) < 54
        then substr(PARTY_RC,3,2)
     when cast(substr(PARTY_RC,3,2) as signed) - 50 < 10
    	then concat('0',cast(substr(PARTY_RC,3,2) as signed) - 50)
    else cast(substr(PARTY_RC,3,2) as signed) - 50
        end,
    substr(trim(PARTY_RC),5,5)    
) as signed)
,11) = 10 then 0
else 
mod(
cast(
concat(
    substr(trim(PARTY_RC),1,2),
    case when cast(substr(PARTY_RC,3,2) as signed) < 54
        then substr(PARTY_RC,3,2)
     when cast(substr(PARTY_RC,3,2) as signed) - 50 < 10
    	then concat('0',cast(substr(PARTY_RC,3,2) as signed) - 50)
    else cast(substr(PARTY_RC,3,2) as signed) - 50
        end,
    substr(trim(PARTY_RC),5,5)    
) as signed)
,11)
end = substr(trim(PARTY_RC),10,1)
;

In [41]:
select PARTY_RC from PART_PARTY where DQM_ERR like '%%RC-23-SMACC%%' limit 0,10;

,PARTY_RC
0,9999999999
1,5754068327
2,5754063634
3,5704067913
4,5704064794
5,5754062150
6,5754062241
7,5754067731
8,5754066601
9,5754050131

### PARTY_CREGNUM

#### Rule 8: ICO Checksum failed

In [42]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-8-SMACC ') 
where
PARTY_TYPE = 'C' and
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 0 and substr(PARTY_CREGNUM,8,1) <> 1
)
or
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 1 and substr(PARTY_CREGNUM,8,1) <> 0
)
or
(
MOD(11 -
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11),10) <> substr(PARTY_CREGNUM,8,1)
);

In [43]:
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-8-SMACC%%' limit 0,10;

#### Rule 9: ICO Lookup failed

In [44]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-9-SMACC ') 
where
PARTY_TYPE = 'C' and
trim(PARTY_CREGNUM) not in (select trim(PARTY_CREGNUM)from REF_PARTY_CREGNUM);

In [45]:
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-9-SMACC%%' limit 0,10;

,PARTY_CREGNUM
0,10363670
1,10363904
2,10364986
3,10364994
4,10366041
5,10366661
6,10367179
7,10370943
8,10372695
9,10373527

### PARTY_FNAME

#### Rule 10: PARTY_FNAME lookup failed

In [46]:
alter table REF_FNAME add MCODE char(32);

In [47]:
update REF_FNAME set MCODE = md5(upper(trim(VALUE)));

In [48]:
alter table REF_FNAME add index(MCODE);

In [49]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'FNAME-10-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_FNAME))) not in (select MCODE from REF_FNAME);

In [50]:
select PARTY_FNAME from PART_PARTY where DQM_ERR like '%%FNAME-10-SMACC%%' limit 0,10;

,PARTY_FNAME
0,ERDENETUYA
1,OKSANA IVANIVNA
2,Ž A N N A
3,ZINOVIY
4,LÝ
5,E L I S A
6,THI SAU
7,VAN QUYEN
8,M E L Á N I A
9,TSOLMON

### PARTY_LNAME

#### Rule 11: PARTY_LNAME lookup failed

In [51]:
alter table REF_LNAME add MCODE char(32);

In [52]:
update REF_LNAME set MCODE = md5(upper(trim(VALUE)));

In [53]:
alter table REF_LNAME add index(MCODE);

In [54]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'LNAME-11-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_LNAME))) not in (select MCODE from REF_LNAME);

In [55]:
select PARTY_LNAME from PART_PARTY where DQM_ERR like '%%LNAME-11-SMACC%%' limit 0,10;

,PARTY_LNAME
0,STRNADOVA
1,ČECHOVA
2,POSPÍŠILOVA
3,ŠÍMOVA
4,TESAŘOVA
5,JÍLKOVA
6,PROKEŠOVA
7,RICHTEROVA
8,JANOUŠKOVA
9,SOBOTKOVA

### PARTY_SINCE

#### Rule 12: PARTY_SINCE inconsistent to contract

In [56]:
update PART_PARTY as a
inner join (select PARTY_ID, min(cntr_validfrom) as min_valid_from from PROD_CONTRACT group by 1) as b
on (a.PARTY_ID = b.PARTY_ID)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,17),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'SINCE-12-EXCNS ')
where not a.PARTY_SINCE = b.min_valid_from
;

## PARTY_ADDRESS

### ADDR_ZIP

#### Rule 13: Incorrect PSC syntax

In [57]:
update PARTY_ADDRESS
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'ZIP-13-SNACC ') 
where not ADDR_ZIP regexp '^[0-9]{5}$' = 1
;

In [58]:
select ADDR_ZIP from PARTY_ADDRESS where DQM_ERR like '%%ZIP-13-SNACC%%' limit 0,10;

,ADDR_ZIP
0,398 4
1,796 0
2,431 0
3,798 6
4,580 0
5,696 6
6,390 0
7,266 0
8,684 0
9,278 0

In [205]:
update PARTY_ADDRESS
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'ID-23-SNACC ') 
where md5(concat(ADDR_ZIP,'_',ADDR_STREET,'_',ADDR_CITY)) not in (select MCODE_CRISP from REF_UIRADR_MERGED)
;

In [206]:
select count(*) from PARTY_ADDRESS where DQM_ERR like '%%ID-23-SNACC%%' limit 0,10;

,count(*)
0,582453

## PARTY_CONTACT

#### Rule 14: Incorrect Email syntax

In [60]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-14-SNACC ') 
where CONT_TYPE = 'E' and not trim(CONT_VALUE) regexp '^[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*@[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*\\.[a-zA-Z]{2,6}$' = 1
;

In [62]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-14-SNACC%%';

,count(*)
0,98130

In [63]:
select * from PARTY_CONTACT where DQM_ERR like '%%VALUE-14-SNACC%%' limit 0,10;

,CONT_ID,PARTY_ID,CONT_TYPE,CONT_PRIMARY_FLG,CONT_VALUE,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,5,5,E,None,lholubovi#gmail&com,0.1,00001,VALUE-14-SNACC
1,7,7,E,None,michele_cechovi@volny.cz,0.1,00001,VALUE-14-SNACC
2,9,10,E,None,oksana ivanivna_kucharovi@volny.cz,0.1,00001,VALUE-14-SNACC
3,10,11,E,None,thanh hai_mrizovi@volny.cz,0.1,00001,VALUE-14-SNACC
4,12,13,E,None,lydie_strnadovi@gmail.com,0.1,00001,VALUE-14-SNACC
5,13,14,E,None,thu ha.vlachovi@gmail.cz,0.1,00001,VALUE-14-SNACC
6,19,20,E,None,anastazie_mrizovi@gmail.com,0.1,00001,VALUE-14-SNACC
7,22,23,E,None,elisa_sobotkovi@volny.cz,0.1,00001,VALUE-14-SNACC
8,23,24,E,None,thi sau_soukupovi@gmail.cz,0.1,00001,VALUE-14-SNACC
9,27,28,E,None,alben&hlavicek#gmail&cz,0.1,00001,VALUE-14-SNACC

#### Rule 15: Missing Email

In [64]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'EMAIL-15-CMPLT ') 
where 
PARTY_ID not in (select PARTY_ID from PARTY_CONTACT where CONT_TYPE = 'E')
;

In [65]:
select count(*) from PART_PARTY where DQM_ERR like '%%EMAIL-15-CMPLT%%';

,count(*)
0,154978

#### Rule 16: Missing Mobile

In [ ]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'MOBILE-16-CMPLT ') 
where 
PARTY_ID not in (select PARTY_ID from PARTY_CONTACT where CONT_TYPE = 'M')
;

In [ ]:
select count(*) from PART_PARTY where DQM_ERR like '%%MOBILE-16-CMPLT%%';

#### Rule 17: Incorrect Mobile Prefix

In [66]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-17-SMACC ') 
where CONT_TYPE = 'M'
and substr(CONT_VALUE,1,3) * 1 not between 601 and 608
and substr(CONT_VALUE,1,3) * 1 not in (702,703,705)
and substr(CONT_VALUE,1,3) * 1 not between 720 and 739
and substr(CONT_VALUE,1,3) * 1 not between 770 and 779
and substr(CONT_VALUE,1,3) * 1 not between 790 and 792
and substr(CONT_VALUE,1,3) * 1 not in (797,799)
;

In [67]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-17-SMACC%%';

,count(*)
0,55038

#### Rule 18: Incorrect Mobile Length

In [68]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-18-SMACC VALUE-18-SNACC ') 
where CONT_TYPE = 'M'
and length(replace(CONT_VALUE,' ','')) <> 9
;

In [70]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-18-SMACC%%';

,count(*)
0,29291

## PROD_CONTRACT

#### Rule 19: Invalid product code

In [71]:
update PROD_CONTRACT as a
inner join (select PRODUCT_CODE, min(VALID_FROM) as min_valid_from, max(VALID_TO) as max_valid_to from PRODUCT_CATALOGUE group by 1) as b
on (a.PRODUCT_CODE = b.PRODUCT_CODE)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,3)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CODE-19-SMACC ') 
where 
not a.CNTR_VALIDFROM between b.min_valid_from and b.max_valid_to
;

In [72]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

,count(*)
0,31764

#### Rule 20: Valid From after Valid To

In [73]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,3),'11',substr(DQM_VALID_CODE,6,2)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALIDFROM-20-INCNS VALIDTO-20-INCNS ') 
where CNTR_VALIDFROM > CNTR_VALIDTO
;

In [74]:
select * from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

,CNTR_ID,PARTY_ID,PRODUCT_CODE,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE,CNTR_PAY_FREQ,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,27,6,DO3,2012-08-04,2012-07-14,DSM,2,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
1,36,8,UI3,2012-07-22,2012-04-25,DSM,2,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
2,64,14,PR3,2012-11-15,2012-04-23,STK,2,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
3,125,26,HA3,2012-06-09,2012-03-14,STK,12,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
4,134,28,PR3,2012-08-28,2012-05-20,STK,2,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
5,139,29,PR3,2012-05-10,2012-02-17,STK,4,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
6,220,45,HA3,2012-09-21,2012-04-15,STK,5,0.3,0001101,VALIDFROM-20-INCNS VALIDTO-20-INCNS PAY_FREQ-22-SNACC VALIDFROM-20-INCNS VALIDTO-20-INCNS
7,223,45,NE3,2012-08-15,2012-07-20,STK,12,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
8,278,57,HA3,2012-09-07,2012-02-17,STK,1,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
9,316,64,NE3,2012-06-25,2012-04-15,STK,12,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS

In [76]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

,count(*)
0,31764

#### Rule 21: Terminated contract with no canceltype

In [77]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,5),'1',substr(DQM_VALID_CODE,7,1)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CANCTYPE-21-CMPLT ') 
where
CNTR_CANCTYPE is null and CNTR_VALIDTO <= current_date;
;

In [78]:
select CNTR_VALIDFROM, CNTR_VALIDTO, CNTR_CANCTYPE from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE
0,2012-02-01,2016-03-15,None
1,2012-11-07,2016-03-08,None
2,2011-06-15,2019-10-05,None
3,2012-12-22,2020-03-17,None
4,2012-11-12,2013-06-10,None
5,2010-11-24,2013-06-04,None
6,2010-11-19,2019-08-06,None
7,2011-12-17,2020-06-26,None
8,2010-02-03,2022-06-03,None
9,2010-10-15,2013-04-13,None

In [82]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

,count(*)
0,344151

#### Rule 22: Incorrect frequency of payment

In [83]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'PAY_FREQ-22-SNACC ') 
where
CNTR_PAY_FREQ not in (select CODE from LOV_PMT_FREQ);
;

In [84]:
select * from PROD_CONTRACT where DQM_ERR like '%%PAY_FREQ-22-SNACC%%' limit 0,10;

,CNTR_ID,PARTY_ID,PRODUCT_CODE,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE,CNTR_PAY_FREQ,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,21,5,UI2,2011-10-05,2019-04-11,None,3,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
1,44,10,PR2,2011-10-20,2999-06-28,None,3,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC
2,53,11,NE1,2010-06-15,2013-12-22,None,3,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
3,62,13,DO3,2012-02-27,2023-02-22,None,5,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC
4,63,13,NE3,2012-01-15,2023-02-25,None,3,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC
5,68,14,NE1,2010-10-10,2018-05-28,None,5,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
6,73,15,NE2,2011-01-13,2014-07-06,None,3,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
7,75,16,HA2,2011-04-01,2012-08-28,STK,3,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC
8,83,17,NE3,2012-11-12,2014-04-13,None,3,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
9,93,19,NE1,2010-05-20,2012-10-15,STK,5,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC

In [86]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%PAY_FREQ-22-SNACC%%' limit 0,10;

,count(*)
0,91693

## Report

### PART_PARTY

In [148]:
select count(*) into @rowCnt from PART_PARTY;

In [149]:
select 1 - (count(*) / @rowCnt) as 'Semantic Accuracy' from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SMACC%%';

,Semantic Accuracy
0,0.3121

In [146]:
update DQM_MDR
set
CHAR_SEM_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SMACC%%'),
CHAR_SYN_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SNACC%%'),
CHAR_COM = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-CMPLT%%'),
CHAR_INT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-INCNS%%'),
CHAR_EXT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-EXCNS%%')
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_RC';

CREATE PROCEDURE `4iz562`.`updateCharacteristics`(
    IN tablePar varchar(32),
    IN attributePar varchar(32),
    IN attributeAlias varchar(32),
    IN rowCnt bigint
)
BEGIN
  	   
   	 SET @s = concat(  
   	    "update DQM_MDR set",
   	    " CHAR_SEM_ACC = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-SMACC.*' = 1),",
   	    " CHAR_SYN_ACC = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-SNACC.*' = 1),",
		" CHAR_COM = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-CMPLT.*' = 1),",
		" CHAR_INT_CON = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-INCNS.*' = 1),",
		" CHAR_EXT_CON = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-EXCNS.*' = 1)",
		" where TABLE_NAME = ", quote(tablePar), " and COLUMN_NAME = ", quote(attributePar)
	);
				
   	prepare stmt from @s;
   	execute stmt;
    commit;
    deallocate prepare stmt;
END;

In [150]:
select @rowCnt

,@rowCnt
0,383131

In [151]:
CALL `4iz562`.`updateCharacteristics`('PART_PARTY','PARTY_ID','ID',@rowCnt);

In [152]:
CALL updateCharacteristics('PART_PARTY','PARTY_TYPE','TYPE',@rowCnt);

In [153]:
CALL updateCharacteristics('PART_PARTY','PARTY_FNAME','FNAME',@rowCnt);

In [154]:
CALL updateCharacteristics('PART_PARTY','PARTY_LNAME','LNAME',@rowCnt);

In [155]:
CALL updateCharacteristics('PART_PARTY','PARTY_NAME','NAME',@rowCnt);

In [156]:
CALL updateCharacteristics('PART_PARTY','PARTY_FORM','FORM',@rowCnt);

In [157]:
CALL updateCharacteristics('PART_PARTY','PARTY_CREGNUM','CREGNUM',@rowCnt);

In [158]:
CALL updateCharacteristics('PART_PARTY','PARTY_RC','RC',@rowCnt);

In [159]:
CALL updateCharacteristics('PART_PARTY','PARTY_COUNTRY','COUNTRY',@rowCnt);

In [160]:
CALL updateCharacteristics('PART_PARTY','PARTY_POFBIRTH','POFBIRTH',@rowCnt);

In [161]:
CALL updateCharacteristics('PART_PARTY','PARTY_AGE','AGE',@rowCnt);

In [162]:
CALL updateCharacteristics('PART_PARTY','PARTY_TITBEF','TITBEF',@rowCnt);

In [163]:
CALL updateCharacteristics('PART_PARTY','PARTY_TITAFT','TITAFT',@rowCnt);

In [164]:
CALL updateCharacteristics('PART_PARTY','PARTY_ESA95','ESA95',@rowCnt);

In [165]:
CALL updateCharacteristics('PART_PARTY','PARTY_OKEC','OKEC',@rowCnt);

In [166]:
CALL updateCharacteristics('PART_PARTY','PARTY_SINCE','SINCE',@rowCnt);

In [167]:
CALL updateCharacteristics('PART_PARTY','PARTY_POFBIRTH','POFBIRTH',@rowCnt);

### PARTY_ADDRESS

In [207]:
select count(*) into @rowCnt from PARTY_ADDRESS;

In [208]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_ID','ID',@rowCnt);

In [209]:
CALL updateCharacteristics('PARTY_ADDRESS','PARTY_ID','ID1',@rowCnt);

In [171]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_TYPE','TYPE',@rowCnt);

In [172]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_COUNTRY','COUNTRY',@rowCnt);

In [173]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_CITY','CITY',@rowCnt);

In [174]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_STREET','STREET',@rowCnt);

In [175]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_NUM1','NUM1',@rowCnt);

In [176]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_NUM2','NUM2',@rowCnt);

In [177]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_ZIP','ZIP',@rowCnt);

### PARTY_CONTACT

In [178]:
select count(*) into @rowCnt from PARTY_CONTACT;

In [179]:
CALL updateCharacteristics('PARTY_CONTACT','CONT_ID','ID',@rowCnt);

In [180]:
CALL updateCharacteristics('PARTY_CONTACT','PARTY_ID','ID',@rowCnt);

In [181]:
CALL updateCharacteristics('PARTY_CONTACT','CONT_TYPE','TYPE',@rowCnt);

In [182]:
CALL updateCharacteristics('PARTY_CONTACT','CONT_PRIMARY_FLG','PRIMARY_FLG',@rowCnt);

In [183]:
CALL updateCharacteristics('PARTY_CONTACT','CONT_VALUE','VALUE',@rowCnt);

### PROD_CONTRACT

In [184]:
select count(*) into @rowCnt from PROD_CONTRACT;

In [185]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_ID','ID',@rowCnt);

In [186]:
CALL updateCharacteristics('PROD_CONTRACT','PARTY_ID','ID',@rowCnt);

In [187]:
CALL updateCharacteristics('PROD_CONTRACT','PRODUCT_CODE','CODE',@rowCnt);

In [188]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_VALIDFROM','VALIDFROM',@rowCnt);

In [189]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_VALIDTO','VALIDTO',@rowCnt);

In [190]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_CANCTYPE','CANCTYPE',@rowCnt);

In [191]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_PAY_FREQ','PAY_FREQ',@rowCnt);

### Exceptions

In [192]:
update DQM_MDR set CHAR_COM = (
    select 1 - (count(*) / (select count(*) from PART_PARTY)) from PART_PARTY 
    where DQM_ERR like '%%EMAIL-15-CMPLT%%' or 
    DQM_ERR like '%%MOBILE-16-CMPLT%%'
    )
 where TABLE_NAME = "PARTY_CONTACT" and COLUMN_NAME = "CONT_VALUE";

In [193]:
select * from DQM_MDR where not COLUMN_NAME like '%%DQM_%%';

,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,COLUMN_DEFAULT,DATA_TYPE,COLUMN_TYPE,COLLATION_NAME,COLUMN_COMMENT,CHAR_SEM_ACC,CHAR_SYN_ACC,CHAR_COM,CHAR_INT_CON,CHAR_EXT_CON,U01,U02,U03,U04,U05,U06,U07,U08,U09,U10
0,4iz562,PARTY_ADDRESS,ADDR_ID,None,bigint,bigint,None,Primární klíč adresy,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
1,4iz562,PARTY_ADDRESS,PARTY_ID,0,bigint,bigint,None,Odkaz na PK tabulky PART_PARTY,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
2,4iz562,PARTY_ADDRESS,ADDR_TYPE,,varchar,varchar(1),utf8mb4_0900_ai_ci,Typ adresy,1.000000,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
3,4iz562,PARTY_ADDRESS,ADDR_COUNTRY,,varchar,varchar(3),utf8mb4_0900_ai_ci,Kód země,1.000000,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
4,4iz562,PARTY_ADDRESS,ADDR_CITY,None,varchar,varchar(250),utf8_czech_ci,Město,1.000000,1.000000,1.000000,1.000000,1.000000,1,1,1,1,0,0,0,0,0,0
5,4iz562,PARTY_ADDRESS,ADDR_STREET,None,varchar,varchar(100),utf8_czech_ci,Ulice,1.000000,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
6,4iz562,PARTY_ADDRESS,ADDR_NUM1,None,varchar,varchar(10),utf8_czech_ci,Číslo popisné,1.000000,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
7,4iz562,PARTY_ADDRESS,ADDR_NUM2,None,varchar,varchar(10),utf8_czech_ci,Číslo orientační a písmeno adresy,1.000000,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
8,4iz562,PARTY_ADDRESS,ADDR_ZIP,None,char,char(5),utf8_czech_ci,PSČ,1.000000,0.979090,1.000000,1.000000,1.000000,1,1,1,1,0,0,0,0,0,0
9,4iz562,PARTY_CONTACT,CONT_ID,None,bigint,bigint,None,Primární klíč kontaktu,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
10,4iz562,PARTY_CONTACT,PARTY_ID,None,bigint,bigint,None,Odkaz na PK tabulky PART_PARTY,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
11,4iz562,PARTY_CONTACT,CONT_TYPE,None,char,char(1),utf8_czech_ci,Typ kontaktu,1.000000,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
12,4iz562,PARTY_CONTACT,CONT_PRIMARY_FLG,None,char,char(1),utf8_czech_ci,Příznak primárního kontaktu,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
13,4iz562,PARTY_CONTACT,CONT_VALUE,None,varchar,varchar(255),utf8_czech_ci,Konkrétní hodnota kontaktu,0.896118,0.759499,0.595496,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
14,4iz562,PART_PARTY,PARTY_ID,None,bigint,bigint,None,Primární klíč tabulky klientů,1.000000,1.000000,1.000000,1.000000,1.000000,1,1,1,1,0,0,0,0,0,0
15,4iz562,PART_PARTY,PARTY_TYPE,None,char,char(1),utf8_czech_ci,Typ klienta,1.000000,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
16,4iz562,PART_PARTY,PARTY_FNAME,None,varchar,varchar(45),utf8_czech_ci,Křestní jméno klienta,0.817535,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
17,4iz562,PART_PARTY,PARTY_LNAME,None,varchar,varchar(60),utf8_czech_ci,Příjmení klienta,0.976603,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
18,4iz562,PART_PARTY,PARTY_NAME,None,varchar,varchar(255),utf8_czech_ci,Název společnosti,0.800173,1.000000,1.000000,1.000000,1.000000,0,1,1,1,0,0,0,0,0,0
19,4iz562,PART_PARTY,PARTY_FORM,None,smallint,smallint,None,Právní forma společnosti,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
20,4iz562,PART_PARTY,PARTY_CREGNUM,None,varchar,varchar(8),utf8_czech_ci,Komerční registrační číslo (IČO),0.693771,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
21,4iz562,PART_PARTY,PARTY_RC,None,varchar,varchar(10),utf8_czech_ci,Rodné číslo,0.312421,0.966706,0.986840,0.318779,1.000000,0,0,0,0,0,0,0,0,0,0
22,4iz562,PART_PARTY,PARTY_COUNTRY,None,char,char(3),utf8_czech_ci,Kód země původu,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
23,4iz562,PART_PARTY,PARTY_POFBIRTH,None,varchar,varchar(45),utf8_czech_ci,Místo narození,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
24,4iz562,PART_PARTY,PARTY_AGE,None,int,int,None,Věk klienta,1.000000,1.000000,1.000000,1.000000,1.000000,1,1,1,1,0,0,0,0,0,0
25,4iz562,PART_PARTY,PARTY_GENDER,None,char,char(1),utf8_czech_ci,Pohlaví klienta,NaN,NaN,0.979802,1.000000,1.000000,1,1,0,1,0,0,0,0,0,0
26,4iz562,PART_PARTY,PARTY_DOFBIRTH,None,date,date,None,Datum narození klienta,NaN,NaN,0.989935,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
27,4iz562,PART_PARTY,PARTY_TITBEF,None,varchar,varchar(10),utf8_czech_ci,Titul před jménem,1.000000,1.000000,1.000000,1.000000,1.000000,1,1,0,1,0,0,0,0,0,0
28,4iz562,PART_PARTY,PARTY_TITAFT,None,varchar,varchar(10),utf8_czech_ci,Titul za jménem,1.000000,1.000000,1.000000,1.000000,1.000000,1,1,0,1,0,0,0,0,0,0
29,4iz562,PART_PARTY,PARTY_ESA95,None,int,int,None,Kód institucionálního sektoru,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
30,4iz562,PART_PARTY,PARTY_OKEC,None,char,char(4),utf8_czech_ci,OKEČ kód,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
31,4iz562,PART_PARTY,PARTY_SINCE,None,date,date,None,Datum počátku statutu klient,1.000000,1.000000,1.000000,1.000000,0.923564,1,0,0,0,0,0,0,0,0,0
32,4iz562,PROD_CONTRACT,CNTR_ID,None,bigint,bigint,None,Primární klíč kontraktů,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
33,4iz562,PROD_CONTRACT,PARTY_ID,None,bigint,bigint,None,Odkaz na PK tabulky PART_PARTY,1.000000,1.000000,1.000000,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0
34,4iz562,PROD_CONTRACT,PRODUCT_CODE,None,char,char(3),utf8_czech_ci,Identifikátor produktu,0.975116,1.000000,1.000000,1.000000,1.000000,1,1,1,1,0,0,0,0,0,0
35,4iz562,PROD_CONTRACT,CNTR_VALIDFROM,None,date,date,None,Datum počátku kontraktu,1.000000,1.000000,1.000000,0.966332,1.000000,0,1,1,1,0,0,0,0,0,0
36,4iz562,PROD_CONTRACT,CNTR_VALIDTO,None,date,date,None,Datum konce kontraktu,1.000000,1.000000,1.000000,0.966332,1.000000,0,1,1,1,0,0,0,0,0,0
37,4iz562,PROD_CONTRACT,CNTR_CANCTYPE,None,char,char(3),utf8_czech_ci,Typ ukončení kontraktu,1.000000,1.000000,0.635220,1.000000,1.000000,1,1,1,0,0,0,0,0,0,0
38,4iz562,PROD_CONTRACT,CNTR_PAY_FREQ,None,smallint,smallint,None,Frekvence placení pojistného,1.000000,0.902811,1.000000,1.000000,1.000000,1,0,0,0,0,0,0,0,0,0

## Duplicitní klienti

In [194]:
select count(*) from (
select
concat(PARTY_TYPE,'_',coalesce(trim(PARTY_RC),trim(PARTY_CREGNUM))) as CUST_ID, count(*) as FREQ
from PART_PARTY
group by 1 having count(*) >1) as a;

,count(*)
0,140932

## Matching adresa

In [136]:
ALTER TABLE `4iz562`.REF_UIRADR_MERGED ADD MCODE_CRISP char(32) NOT NULL;

In [137]:
update REF_UIRADR_MERGED set MCODE_CRISP = md5(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
)) where 1 = 1;

In [138]:
CREATE INDEX REF_UIRADR_MERGED_MCODE_CRISP_IDX USING BTREE ON `4iz562`.REF_UIRADR_MERGED (MCODE_CRISP);

In [139]:
select * from PARTY_ADDRESS where md5(concat(ADDR_ZIP,'_',ADDR_STREET,'_',ADDR_CITY)) not in (select MCODE_CRISP from REF_UIRADR_MERGED) limit 0,10;

,ADDR_ID,PARTY_ID,ADDR_TYPE,ADDR_COUNTRY,ADDR_CITY,ADDR_STREET,ADDR_NUM1,ADDR_NUM2,ADDR_ZIP,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,1,38569,C,CZE,Dobruška,Na Budíně 854,None,None,51801,0.0,000000000,None
1,2,292510,C,CZE,Dobruška,Na Budíně 854,None,None,51801,0.0,000000000,None
2,3,38570,C,CZE,Plzeň - Jižní Předměstí,U Svépomoci 1708/10,None,None,30100,0.0,000000000,None
3,4,183048,C,CZE,Plzeň - Jižní Předměstí,U Svépomoci 1708/10,None,None,30100,0.0,000000000,None
4,5,292511,C,CZE,Plzeň - Jižní Předměstí,U Svépomoci 1708/10,None,None,30100,0.0,000000000,None
5,6,38572,C,CZE,ZNOJMO,NA HRÁZI 3335/61,None,None,67181,0.0,000000000,None
6,7,38575,C,CZE,VRANÉ NAD VLTAVOU,Nad Zastávkou 213,None,None,25246,0.0,000000000,None
7,8,183051,C,CZE,VRANÉ NAD VLTAVOU,Nad Zastávkou 213,None,None,25246,0.0,000000000,None
8,9,292515,C,CZE,VRANÉ NAD VLTAVOU,Nad Zastávkou 213,None,None,25246,0.0,000000000,None
9,10,292279,C,CZE,Říčany,Brněnská 23,None,None,66482,0.0,000000000,None

In [201]:
select count(*) from PARTY_ADDRESS where md5(concat(ADDR_ZIP,'_',ADDR_STREET,'_',ADDR_CITY)) not in (select MCODE_CRISP from REF_UIRADR_MERGED);

,count(*)
0,582453

In [199]:
select count(*) from REF_RES;

,count(*)
0,3289147