# MySQL Kernel Tutorial

## Připojení

In [230]:
mysql://student:student123@localhost:3306

In [231]:
show databases;

,Database
0,4iz562
1,information_schema
2,mysql
3,performance_schema
4,sys

In [232]:
use 4iz562;

## Obsah databáze

In [233]:
show tables;

,Tables_in_4iz562
0,DQM_ISSUES
1,DQM_MDR
2,LOV_ADDR_TYPE
3,LOV_CONT_TYPE
4,LOV_COUNTRY
5,LOV_ESA95
6,LOV_GENDER
7,LOV_OKEC
8,LOV_PARTY_TYPE
9,LOV_PMT_FREQ
10,LOV_PRODUCT_CAT
11,PARTY_ADDRESS
12,PARTY_CONTACT
13,PART_PARTY
14,PRODUCT_CATALOGUE
15,PROD_CONTRACT
16,REF_CALENDAR
17,REF_FNAME
18,REF_LNAME
19,REF_NACE
20,REF_PARTY_CREGNUM
21,REF_RES
22,REF_TITAFT
23,REF_TITBEF
24,REF_UIRADR_ADRESA
25,REF_UIRADR_MERGED

In [5]:
describe table PART_PARTY;

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PART_PARTY,None,ALL,None,None,None,None,383131,100.0,None

In [6]:
describe PART_PARTY;

,Field,Type,Null,Key,Default,Extra
0,PARTY_ID,bigint,NO,PRI,None,auto_increment
1,PARTY_TYPE,char(1),YES,MUL,None,
2,PARTY_FNAME,varchar(45),YES,MUL,None,
3,PARTY_LNAME,varchar(60),YES,,None,
4,PARTY_NAME,varchar(255),NO,,None,
5,PARTY_FORM,smallint,YES,,None,
6,PARTY_CREGNUM,varchar(8),YES,,None,
7,PARTY_RC,varchar(10),YES,,None,
8,PARTY_COUNTRY,char(3),YES,,None,
9,PARTY_POFBIRTH,varchar(45),YES,,None,
10,PARTY_AGE,int,YES,,None,
11,PARTY_GENDER,char(1),YES,,None,
12,PARTY_DOFBIRTH,date,YES,,None,
13,PARTY_TITBEF,varchar(10),YES,,None,
14,PARTY_TITAFT,varchar(10),YES,,None,
15,PARTY_ESA95,int,YES,,None,
16,PARTY_OKEC,char(4),YES,,None,
17,PARTY_SINCE,date,YES,,None,
18,DQM_VALID_SCORE,"decimal(3,2)",YES,,0.00,
19,DQM_VALID_CODE,char(18),YES,,000000000000000000,
20,DQM_ERR,longtext,YES,,None,
21,PARTY_RC_STD,varchar(10),YES,,None,
22,PARTY_FNAME_STD,varchar(45),YES,,None,
23,PARTY_MNAME_STD,varchar(45),YES,,None,
24,PARTY_LNAME_STD,varchar(45),YES,,None,
25,PARTY_TITBEF_STD,varchar(10),YES,,None,
26,PARTY_TITAFT_STD,varchar(10),YES,,None,

In [7]:
drop table if exists DQM_MDR;

create table DQM_MDR as  
select 
table_schema,
table_name,
column_name, 
column_default,
data_type,
column_type,
collation_name,
column_comment
from information_schema.columns 
where table_schema='4iz562' 
order by table_schema, table_name, ordinal_position;

In [8]:
select * from DQM_MDR limit 0,10;

,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,COLUMN_DEFAULT,DATA_TYPE,COLUMN_TYPE,COLLATION_NAME,COLUMN_COMMENT
0,4iz562,DQM_ISSUES,ISSUE_ID,None,bigint,bigint,None,
1,4iz562,DQM_ISSUES,ISSUE_TSTMP,CURRENT_TIMESTAMP,timestamp,timestamp,None,
2,4iz562,DQM_ISSUES,TABLE_NAME,None,varchar,varchar(100),utf8_czech_ci,
3,4iz562,DQM_ISSUES,ATTRIBUTE_NAME,None,varchar,varchar(100),utf8_czech_ci,
4,4iz562,DQM_ISSUES,ROW_ID,None,bigint,bigint,None,
5,4iz562,DQM_ISSUES,ISSUE_CODE,None,smallint,smallint,None,
6,4iz562,DQM_ISSUES,ISSUE_TEXT,None,longtext,longtext,utf8_czech_ci,
7,4iz562,DQM_MDR,TABLE_SCHEMA,None,varchar,varchar(64),utf8_bin,
8,4iz562,DQM_MDR,TABLE_NAME,None,varchar,varchar(64),utf8_bin,
9,4iz562,DQM_MDR,COLUMN_NAME,None,varchar,varchar(64),utf8_tolower_ci,

## Simple Data Validation

In [9]:
select PARTY_TYPE, count(*) as FREQ from PART_PARTY group by 1;

,PARTY_TYPE,FREQ
0,C,119348
1,P,263783

In [10]:
select
a.PARTY_GENDER,
case
when b.VALUE is not null then 'T'
else 'F'
end as FLAG,
count(*) as FREQ
from PART_PARTY as a
left outer join LOV_GENDER as b
on(a.PARTY_GENDER = b.CODE)
where a.PARTY_TYPE = 'P'
group by 1,2;

,PARTY_GENDER,FLAG,FREQ
0,F,T,150905
1,M,T,107550
2,None,F,5328

In [11]:
select count(*) from PART_PARTY
where trim(PARTY_TITBEF) not like "%%.%%"
and PARTY_TYPE = 'P' and PARTY_TITBEF is not null;

,count(*)
0,31087

## Výčet funkcí

* MIN(), MAX(), AVG()
* LOWER(), UPPER()
* MD5(), CRC32() SHA1(), SHA2()
* SOUNDEX()
* SUBSTR()
* REPLACE()
* RAND()
* LOCATE()
* LENGTH()
* CONCAT()
* COALESCE()
* TRIM()

In [12]:
select PARTY_FNAME, soundex(PARTY_FNAME)
from PART_PARTY limit 0,10;

,PARTY_FNAME,soundex(PARTY_FNAME)
0,-,
1,-,
2,-,
3,-,
4,-,
5,-,
6,-,
7,-,
8,-,
9,-,

In [13]:
set @str = 'David Pejcoch';

In [14]:
select
md5(@str),
crc32(@str),
sha1(@str),
sha2(@str, 224)
;

,md5(@str),crc32(@str),sha1(@str),"sha2(@str, 224)"
0,7fe03ebc0831724305405496b6697f0f,3454305632,0737210c6e85305f4b18ae0e205f6aedb90bc64f,d58ccac0718ebabfc658477f3b5c32a7deabc7d00cc240e1b4ae55bf

### Simple Matching (Hash) Codes

In [15]:
select md5(
    concat(
        trim(upper(coalesce(ADDR_CITY,'NA'))),'_',
        trim(upper(coalesce(ADDR_STREET,'NA'))),'_',
        trim(upper(coalesce(ADDR_NUM1,'NA'))),'_',
        trim(upper(coalesce(ADDR_NUM2,'NA')))
        )
    ) as HASH
    from PARTY_ADDRESS limit 0,5;

,HASH
0,491c1fa29da4fbd253f1b31f1ff1bf3a
1,491c1fa29da4fbd253f1b31f1ff1bf3a
2,39a43091d119eca7476e121ec31f4099
3,39a43091d119eca7476e121ec31f4099
4,39a43091d119eca7476e121ec31f4099

In [16]:
select crc32(
    concat(
        trim(upper(coalesce(ADDR_CITY,'NA'))),'_',
        trim(upper(coalesce(ADDR_STREET,'NA'))),'_',
        trim(upper(coalesce(ADDR_NUM1,'NA'))),'_',
        trim(upper(coalesce(ADDR_NUM2,'NA')))
        )
    ) as HASH
    from PARTY_ADDRESS limit 0,5;

,HASH
0,1805122328
1,1805122328
2,1693665593
3,1693665593
4,1693665593

### An Example of Sampling: 10% Sample

In [17]:
explain
select
case when b.VALUE is not null then 'T' else 'F' end as flag,
count(*) as FREQ
from (
    select PARTY_FNAME from PART_PARTY where PARTY_TYPE = 'P' and rand() <= 0.1
    ) as a
left outer join REF_FNAME as b
on (trim(a.PARTY_FNAME) = trim(b.VALUE))
group by 1;

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PART_PARTY,None,ALL,PARTY_TYPE,None,None,None,383131,69.04,Using where; Using temporary
1,1,SIMPLE,b,None,ALL,None,None,None,None,57137,100.00,Using where; Using join buffer (hash join)

In [18]:
show index from PART_PARTY;

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment,Visible,Expression
0,PART_PARTY,0,PRIMARY,1,PARTY_ID,A,383131,None,None,,BTREE,,,YES,None
1,PART_PARTY,1,PARTY_FNAME,1,PARTY_FNAME,A,9823,None,None,YES,BTREE,,,YES,None
2,PART_PARTY,1,PARTY_TYPE,1,PARTY_TYPE,A,1,None,None,YES,BTREE,,,YES,None

In [19]:
show index from REF_FNAME;

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment,Visible,Expression
0,REF_FNAME,0,PRIMARY,1,CODE,A,57137,None,None,,BTREE,,,YES,None
1,REF_FNAME,1,MCODE,1,MCODE,A,57137,None,None,YES,BTREE,,,YES,None

In [20]:
alter table PART_PARTY add index(PARTY_FNAME);
alter table PART_PARTY add index(PARTY_TYPE);

In [21]:
alter table REF_FNAME add index(VALUE);

In [22]:
analyze table PART_PARTY update histogram on PARTY_TYPE, PARTY_FNAME;

,Table,Op,Msg_type,Msg_text
0,4iz562.PART_PARTY,histogram,status,Histogram statistics created for column 'PARTY_FNAME'.
1,4iz562.PART_PARTY,histogram,status,Histogram statistics created for column 'PARTY_TYPE'.

In [23]:
analyze table REF_FNAME update histogram on VALUE;

,Table,Op,Msg_type,Msg_text
0,4iz562.REF_FNAME,histogram,status,Histogram statistics created for column 'VALUE'.

In [24]:
show index from PART_PARTY;

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment,Visible,Expression
0,PART_PARTY,0,PRIMARY,1,PARTY_ID,A,383131,None,None,,BTREE,,,YES,None
1,PART_PARTY,1,PARTY_FNAME,1,PARTY_FNAME,A,9823,None,None,YES,BTREE,,,YES,None
2,PART_PARTY,1,PARTY_TYPE,1,PARTY_TYPE,A,1,None,None,YES,BTREE,,,YES,None
3,PART_PARTY,1,PARTY_FNAME_2,1,PARTY_FNAME,A,9823,None,None,YES,BTREE,,,YES,None
4,PART_PARTY,1,PARTY_TYPE_2,1,PARTY_TYPE,A,1,None,None,YES,BTREE,,,YES,None

In [25]:
show index from REF_FNAME;

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment,Visible,Expression
0,REF_FNAME,0,PRIMARY,1,CODE,A,57137,None,None,,BTREE,,,YES,None
1,REF_FNAME,1,MCODE,1,MCODE,A,57137,None,None,YES,BTREE,,,YES,None
2,REF_FNAME,1,VALUE,1,VALUE,A,57137,None,None,YES,BTREE,,,YES,None

In [26]:
explain
select
case when b.VALUE is not null then 'T' else 'F' end as flag,
count(*) as FREQ
from (
    select PARTY_FNAME from PART_PARTY where PARTY_TYPE = 'P' and rand() <= 0.1
    ) as a
left outer join REF_FNAME as b
on (trim(a.PARTY_FNAME) = trim(b.VALUE))
group by 1;

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PART_PARTY,None,ALL,"PARTY_TYPE,PARTY_TYPE_2",None,None,None,383131,69.04,Using where; Using temporary
1,1,SIMPLE,b,None,index,VALUE,VALUE,138,None,57137,100.00,Using where; Using index; Using join buffer (hash join)

## Primary Key Candidates

In [27]:
select PARTY_ID, CONT_TYPE, count(*) 
from PARTY_CONTACT
group by 1,2
having count(*) > 1;

## Regular Expressions

.      Libovolný znak
[xyz]  Některý z množiny znaků obsahující x,y,z
[0-9]  Některý z intervalu 0 až 9
[^xyz] Žádný z množiny znaků obsahující x,y,z
*      Opakování znaku, např. [0-9]* je libovolně dlouhá posloupnost čísel
+      Alespoň jeden výskyt předchůdce
?      Nejvýše jeden výskyt předchůdce
^      Začátek řádku
$      Konec řádku
\<     Začátek slova
\>     Konec slova

In [28]:
select
case when trim(CONT_VALUE)
regexp '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,24}$' = 1
then 'T' else 'F' end as FLAG,
count(*) as FREQ
from PARTY_CONTACT
where CONT_TYPE = 'E'
group by 1;

FLAG|FREQ  |
----+------+
T   |173163|
F   | 54990|

# Data Characteristics

## Prepare MDR

In [29]:
mysql://student:student123@localhost:3306

In [30]:
use 4iz562;

In [31]:
drop table if exists DQM_MDR;

create table DQM_MDR as  
select 
table_schema,
table_name,
column_name, 
column_default,
data_type,
column_type,
collation_name,
column_comment
from information_schema.columns 
where table_schema='4iz562' 
and table_name in (
    'PART_PARTY',
    'PARTY_ADDRESS',
    'PARTY_CONTACT',
    'PROD_CONTRACT'
    )
order by table_schema, table_name, ordinal_position;

In [32]:
alter table DQM_MDR
add CHAR_SEM_ACC decimal(18,10),
add CHAR_SYN_ACC decimal(18,10),
add CHAR_COM decimal(18,10),
add CHAR_INT_CON decimal(18,10),
add CHAR_EXT_CON decimal(18,10)
;

In [33]:
describe DQM_MDR;

,Field,Type,Null,Key,Default,Extra
0,TABLE_SCHEMA,varchar(64),NO,,None,
1,TABLE_NAME,varchar(64),NO,,None,
2,COLUMN_NAME,varchar(64),YES,,None,
3,COLUMN_DEFAULT,text,YES,,None,
4,DATA_TYPE,longtext,YES,,None,
5,COLUMN_TYPE,mediumtext,NO,,None,
6,COLLATION_NAME,varchar(64),YES,,None,
7,COLUMN_COMMENT,text,NO,,None,
8,CHAR_SEM_ACC,"decimal(18,10)",YES,,None,
9,CHAR_SYN_ACC,"decimal(18,10)",YES,,None,
10,CHAR_COM,"decimal(18,10)",YES,,None,
11,CHAR_INT_CON,"decimal(18,10)",YES,,None,
12,CHAR_EXT_CON,"decimal(18,10)",YES,,None,

In [34]:
update DQM_MDR set CHAR_INT_CON = 1, CHAR_EXT_CON = 1 where 1 = 1;

In [35]:
 update DQM_MDR set CHAR_COM = 1 where 
(TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_ID')
 or 
(TABLE_NAME = 'PARTY_ADDRESS' and COLUMN_NAME = 'ADDRESS_ID')
 or   
(TABLE_NAME = 'PARTY_CONTACT' and COLUMN_NAME = 'CONT_ID')
 or   
(TABLE_NAME = 'PROD_CONTRACT' and COLUMN_NAME = 'CNTR_ID')
;

## PART_PARTY

In [36]:
select count(*) into @part_party_count from PART_PARTY;

In [37]:
select count(*) into @part_party_p_count from PART_PARTY where PARTY_TYPE = 'P';

In [38]:
select count(*) into @part_party_c_count from PART_PARTY where PARTY_TYPE = 'C';

In [39]:
select 
@part_party_count,
@part_party_p_count,
@part_party_c_count;

,@part_party_count,@part_party_p_count,@part_party_c_count
0,383131,263783,119348

In [40]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_count 
from PART_PARTY 
where (PARTY_TYPE is not null or not PARTY_TYPE = '')
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_TYPE';

In [41]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_count 
from PART_PARTY 
where (PARTY_COUNTRY is not null or not PARTY_COUNTRY = '')
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_COUNTRY';

In [42]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_count 
from PART_PARTY 
where (PARTY_SINCE is not null)
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_SINCE';

In [43]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_count 
from PART_PARTY 
where (PARTY_ESA95 is not null or not PARTY_ESA95 = '')
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_ESA95';

In [44]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_FNAME is not null or not PARTY_FNAME = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_FNAME';

In [45]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_LNAME is not null or not PARTY_LNAME = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_LNAME';

In [ ]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_RC is not null or not PARTY_RC = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_RC';

In [46]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_AGE is not null or not PARTY_AGE = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_AGE';

In [ ]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_POFBIRTH is not null or not PARTY_POFBIRTH = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_POFBIRTH';

In [47]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_GENDER is not null or not PARTY_GENDER = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_GENDER';

In [ ]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_DOFBIRTH is not null) and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_DOFBIRTH';

In [48]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_TITBEF is not null or not PARTY_TITBEF = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_TITBEF';

In [49]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_TITAFT is not null or not PARTY_TITAFT = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_TITAFT';

In [ ]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_c_count 
from PART_PARTY 
where (PARTY_CREGNUM is not null or not PARTY_CREGNUM = '') and PARTY_TYPE = 'C'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_CREGNUM';

In [50]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_c_count 
from PART_PARTY 
where (PARTY_NAME is not null or not PARTY_NAME = '') and PARTY_TYPE = 'C'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_NAME';

In [51]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_c_count 
from PART_PARTY 
where (PARTY_FORM is not null or not PARTY_FORM = '') and PARTY_TYPE = 'C'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_FORM';

In [52]:
select 
TABLE_NAME, 
COLUMN_NAME,  
CHAR_SEM_ACC,
CHAR_SYN_ACC,
CHAR_COM,
CHAR_INT_CON,
CHAR_EXT_CON
from DQM_MDR;

,TABLE_NAME,COLUMN_NAME,CHAR_SEM_ACC,CHAR_SYN_ACC,CHAR_COM,CHAR_INT_CON,CHAR_EXT_CON
0,PARTY_ADDRESS,ADDR_ID,None,None,NaN,1.0,1.0
1,PARTY_ADDRESS,PARTY_ID,None,None,NaN,1.0,1.0
2,PARTY_ADDRESS,ADDR_TYPE,None,None,NaN,1.0,1.0
3,PARTY_ADDRESS,ADDR_COUNTRY,None,None,NaN,1.0,1.0
4,PARTY_ADDRESS,ADDR_CITY,None,None,NaN,1.0,1.0
5,PARTY_ADDRESS,ADDR_STREET,None,None,NaN,1.0,1.0
6,PARTY_ADDRESS,ADDR_NUM1,None,None,NaN,1.0,1.0
7,PARTY_ADDRESS,ADDR_NUM2,None,None,NaN,1.0,1.0
8,PARTY_ADDRESS,ADDR_ZIP,None,None,NaN,1.0,1.0
9,PARTY_ADDRESS,DQM_VALID_SCORE,None,None,NaN,1.0,1.0
10,PARTY_ADDRESS,DQM_VALID_CODE,None,None,NaN,1.0,1.0
11,PARTY_ADDRESS,DQM_ERR,None,None,NaN,1.0,1.0
12,PARTY_ADDRESS,ADDR_CODE,None,None,NaN,1.0,1.0
13,PARTY_ADDRESS,ADDR_FMCODE,None,None,NaN,1.0,1.0
14,PARTY_ADDRESS,ADDR_ZIP_STD,None,None,NaN,1.0,1.0
15,PARTY_CONTACT,CONT_ID,None,None,1.000000,1.0,1.0
16,PARTY_CONTACT,PARTY_ID,None,None,NaN,1.0,1.0
17,PARTY_CONTACT,CONT_TYPE,None,None,NaN,1.0,1.0
18,PARTY_CONTACT,CONT_PRIMARY_FLG,None,None,NaN,1.0,1.0
19,PARTY_CONTACT,CONT_VALUE,None,None,NaN,1.0,1.0
20,PARTY_CONTACT,DQM_VALID_SCORE,None,None,NaN,1.0,1.0
21,PARTY_CONTACT,DQM_VALID_CODE,None,None,NaN,1.0,1.0
22,PARTY_CONTACT,DQM_ERR,None,None,NaN,1.0,1.0
23,PART_PARTY,PARTY_ID,None,None,1.000000,1.0,1.0
24,PART_PARTY,PARTY_TYPE,None,None,1.000000,1.0,1.0
25,PART_PARTY,PARTY_FNAME,None,None,1.000000,1.0,1.0
26,PART_PARTY,PARTY_LNAME,None,None,1.000000,1.0,1.0
27,PART_PARTY,PARTY_NAME,None,None,1.000000,1.0,1.0
28,PART_PARTY,PARTY_FORM,None,None,0.930900,1.0,1.0
29,PART_PARTY,PARTY_CREGNUM,None,None,NaN,1.0,1.0
30,PART_PARTY,PARTY_RC,None,None,NaN,1.0,1.0
31,PART_PARTY,PARTY_COUNTRY,None,None,1.000000,1.0,1.0
32,PART_PARTY,PARTY_POFBIRTH,None,None,NaN,1.0,1.0
33,PART_PARTY,PARTY_AGE,None,None,0.989833,1.0,1.0
34,PART_PARTY,PARTY_GENDER,None,None,0.979802,1.0,1.0
35,PART_PARTY,PARTY_DOFBIRTH,None,None,NaN,1.0,1.0
36,PART_PARTY,PARTY_TITBEF,None,None,0.166656,1.0,1.0
37,PART_PARTY,PARTY_TITAFT,None,None,0.041902,1.0,1.0
38,PART_PARTY,PARTY_ESA95,None,None,0.311507,1.0,1.0
39,PART_PARTY,PARTY_OKEC,None,None,NaN,1.0,1.0
40,PART_PARTY,PARTY_SINCE,None,None,0.929852,1.0,1.0
41,PART_PARTY,DQM_VALID_SCORE,None,None,NaN,1.0,1.0
42,PART_PARTY,DQM_VALID_CODE,None,None,NaN,1.0,1.0
43,PART_PARTY,DQM_ERR,None,None,NaN,1.0,1.0
44,PART_PARTY,PARTY_RC_STD,None,None,NaN,1.0,1.0
45,PART_PARTY,PARTY_FNAME_STD,None,None,NaN,1.0,1.0
46,PART_PARTY,PARTY_MNAME_STD,None,None,NaN,1.0,1.0
47,PART_PARTY,PARTY_LNAME_STD,None,None,NaN,1.0,1.0
48,PART_PARTY,PARTY_TITBEF_STD,None,None,NaN,1.0,1.0
49,PART_PARTY,PARTY_TITAFT_STD,None,None,NaN,1.0,1.0
50,PROD_CONTRACT,CNTR_ID,None,None,1.000000,1.0,1.0
51,PROD_CONTRACT,PARTY_ID,None,None,NaN,1.0,1.0
52,PROD_CONTRACT,PRODUCT_CODE,None,None,NaN,1.0,1.0
53,PROD_CONTRACT,CNTR_VALIDFROM,None,None,NaN,1.0,1.0
54,PROD_CONTRACT,CNTR_VALIDTO,None,None,NaN,1.0,1.0
55,PROD_CONTRACT,CNTR_CANCTYPE,None,None,NaN,1.0,1.0
56,PROD_CONTRACT,CNTR_PAY_FREQ,None,None,NaN,1.0,1.0
57,PROD_CONTRACT,DQM_VALID_SCORE,None,None,NaN,1.0,1.0
58,PROD_CONTRACT,DQM_VALID_CODE,None,None,NaN,1.0,1.0
59,PROD_CONTRACT,DQM_ERR,None,None,NaN,1.0,1.0

# Named Entity Recognition

## SpaCy

In [1]:
!pip install -U spacy

Collecting spacy
  Downloading spacy-3.2.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.1/6.1 MB 15.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.9/site-packages (from spacy) (3.0.3)
Collecting srsly<3.0.0,>=2.4.1
  Downloading srsly-2.4.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (452 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 452.6/452.6 KB 8.6 MB/s eta 0:00:0000:01
Collecting spacy-loggers<2.0.0,>=1.0.0
  Downloading spacy_loggers-1.0.1-py3-none-any.whl (7.0 kB)
Collecting spacy-legacy<3.1.0,>=3.0.8
  Downloading spacy_legacy-3.0.9-py2.py3-none-any.whl (20 kB)
Collecting typer<0.5.0,>=0.3.0
  Downloading typer-0.4.0-py3-none-any.whl (27 kB)
Collecting wasabi<1.1.0,>=0.8.1
  Downloading wasabi-0.9.0-py3-none-any.whl (25 kB)
Collecting preshed<3.1.0,>=3.0.2
  Downloading preshed-3.0.6-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.1/128.1 KB 2.2 MB/s eta 0:00:00a 0:00:01
Collecting cymem<2.1.0,>=2.0.2
  Downloading cymem-2.0.6-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (35 kB)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.9/site-packages (from spacy) (21.3)
Collecting catalogue<2.1.0,>=2.0.6
  Downloading catalogue-2.0.6-py3-none-any.whl (17 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/conda/lib/python3.9/site-packages (from spacy) (4.62.3)
Collecting blis<0.8.0,>=0.4.0
  Downloading blis-0.7.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 11.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: setuptools in /opt/conda/lib/python3.9/site-packages (from spacy) (59.8.0)
Collecting pathy>=0.3.5
  Downloading pathy-0.6.1-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 KB 741.4 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.15.0 in /opt/conda/lib/python3.9/site-packages (from spacy) (1.21.5)
Collecting thinc<8.1.0,>=8.0.12
  Downloading thinc-8.0.13-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (635 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 636.0/636.0 KB 4.2 MB/s eta 0:00:0000:0100:01
Collecting langcodes<4.0.0,>=3.2.0
  Downloading langcodes-3.3.0-py3-none-any.whl (181 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 181.6/181.6 KB 2.2 MB/s eta 0:00:00a 0:00:01
Collecting murmurhash<1.1.0,>=0.28.0
  Downloading murmurhash-1.0.6-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (21 kB)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/conda/lib/python3.9/site-packages (from spacy) (2.27.1)
Collecting pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4
  Downloading pydantic-1.8.2-cp39-cp39-manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 7.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.9/site-packages (from packaging>=20.0->spacy) (3.0.7)
Collecting smart-open<6.0.0,>=5.0.0
  Downloading smart_open-5.2.1-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.6/58.6 KB 597.5 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.9/site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy) (4.0.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.11)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.8)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/conda/lib/python3.9/site-packages (from typer<0.5.0,>=0.3.0->spacy) (8.0.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.9/site-packages (from jinja2->spacy) (2.0.1)
Installing collected packages: wasabi, murmurhash, cymem, typer, spacy-loggers, spacy-legacy, smart-open, pydantic, preshed, langcodes, catalogue, blis, srsly, pathy, thinc, spacy
Successfully installed blis-0.7.5 catalogue-2.0.6 cymem-2.0.6 langcodes-3.3.0 murmurhash-1.0.6 pathy-0.6.1 preshed-3.0.6 pydantic-1.8.2 smart-open-5.2.1 spacy-3.2.2 spacy-legacy-3.0.9 spacy-loggers-1.0.1 srsly-2.4.2 thinc-8.0.13 typer-0.4.0 wasabi-0.9.0

In [87]:
import spacy

### Spacy NLP Models

In [4]:
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl (13.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.9/13.9 MB 7.4 MB/s eta 0:00:0000:0100:01m
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in /opt/conda/lib/python3.9/site-packages (from en-core-web-sm==3.2.0) (3.2.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.1)
Requirement already satisfied: pathy>=0.3.5 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.6.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (4.62.3)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.7.5)
Requirement already satisfied: numpy>=1.15.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.21.5)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.9.0)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (21.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.6)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.9)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.3.0)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.3)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.6)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.8.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.27.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (59.8.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.4.2)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /opt/conda/lib/python3.9/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.13)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.9/site-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /opt/conda/lib/python3.9/site-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.9/site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (4.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2021.10.8)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/conda/lib/python3.9/site-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.9/site-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.1)
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-3.2.0
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [88]:
nlp = spacy.load("en_core_web_sm")

In [6]:
text = 'This is a text about Albert the king comming from Germany who was born in 1810 and had funny accent.'

In [7]:
doc = nlp(text)

In [10]:
print('Noun phrases:', [chunk.text for chunk in doc.noun_chunks])

Noun phrases: ['This', 'a text', 'Albert', 'the king', 'Germany', 'who', 'funny accent']

In [11]:
print('Verbs:', [token.lemma_ for token in doc if token.pos_ == 'VERB'])

Verbs: ['comme', 'bear', 'have']

In [12]:
for entity in doc.ents:
    print(entity.text, entity.label_)

Albert PERSON
Germany GPE
1810 DATE

### Co je dostupné:
* 'CARDINAL',
* 'DATE',
* 'EVENT' = named hurricanes, battles, wars, sports events, ...
* 'FAC' = buildings, airports, highways, bridges, ...
* 'GPE' = Geo-political Entity = countries, cities, states
* 'LANGUAGE',
* 'LAW',
* 'LOC' = non-GPE locations, mountain ranges, bodies of water
* 'MONEY',
* 'NORP' = nationalities or religious or political groups
* 'ORDINAL',
* 'ORG',
* 'PERCENT',
* 'PERSON',
* 'PRODUCT' = objects, vehicles, foods, not services
* 'QUANTITY',
* 'TIME',
* 'WORK_OF_ART' = titles of books, songs, ...

In [52]:
text = 'David Pejcoch, 55D St Margarets Road, TW1 2LL, Twickenham, UK, david@pejcoch.com, +420 111 222 333, £500'

In [101]:
doc = nlp(text)

In [102]:
for entity in doc.ents:
    print(entity.text, entity.label_)

David Pejcoch PERSON
Twickenham GPE
UK GPE
+420 CARDINAL
500 MONEY

### SpaCy Matching

In [79]:
from spacy.matcher import Matcher

In [80]:
matcher = Matcher(nlp.vocab)

In [81]:
text = nlp('My social insurance number is 78978958 and my NINO is C789582XY.')

In [82]:
pattern = [{"TEXT": {"REGEX": "[0-9]{8}"}}]

In [83]:
matcher.add("SIN",[pattern])

In [84]:
matches = matcher(text)

In [85]:
for match_id, start, end in matches:
    print(text[start:end])

78978958

# Week 3 Pseudonymizace

* Zjistit, zda máme consent pro zpracování
* Pokud ne, identifikovat PII osob, které již se mnou nemají žádný obchodní vztah
* V případě CRM DB nemusím řešit žádnou archivaci vyžadovanou zákonem (to bude problém systémů ŽP, NŽP)
* Anonymizovat / Pseudonymizovat / Maskovat / Smazat

## Kandidáti pro právo být zapomenut

In [53]:
select count(*) from (
    select PARTY_ID, max(CNTR_VALIDTO) from PROD_CONTRACT group by 1 having max(CNTR_VALIDTO) < current_date
    ) as a;

,count(*)
0,82493

In [54]:
select
concat(PARTY_TYPE,'_',coalesce(trim(PARTY_RC),trim(PARTY_CREGNUM))) as CUST_ID, count(*) as FREQ
from PART_PARTY
group by 1 having count(*) >3 order by 2 desc limit 0,15

,CUST_ID,FREQ
0,P_,5042
1,P_CIZINEC,2633
2,P_NEVYPLNENO,2555
3,P_9999999999,2542
4,P_NENI,2526
5,C_NEVYPLNENO,1171
6,C_9999999999,1161
7,C_,1150
8,C_NENI,1143
9,P_335215951,6
10,P_436206711,6
11,P_500720609,6
12,P_500926272,6
13,P_506120963,6
14,P_510326770,6

## ID Pseudonymization

In [55]:
select PARTY_RC, md5(PARTY_RC), crc32(PARTY_RC) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_RC is not null limit 0,10;

,PARTY_RC,md5(PARTY_RC),crc32(PARTY_RC)
0,9999999999,e0ec043b3f9e198ec09041687e4d4e8d,719060942
1,320815621,031856f70bd9bd206f3ba679e6fd1f43,3618853718
2,325815553,c3d354dccc9cf8f828bef164ee8f28f2,1088073458
3,325815000,7856f3a8b336c65fedce2846d33a4370,2725235174
4,325814030,deae90e017d38a8ab5525c03a835f795,838794560
5,325814126,3fe5f2cda30286eb4a07b34e8aed7d6e,3225682691
6,325814795,4e662560fdbf6da51b3b684cd7d36ecc,3191142336
7,325813596,98ca75b9cfe53f6548599b77ed8ddc95,3111013037
8,320812182,494cce7971e339e377278df015cc9c5d,3741213162
9,325812685,6ca02187e9935c7bb77e6bafce689652,2206659434

## Shuffle

In [56]:
# https://stackoverflow.com/questions/11860023/shuffle-a-string-with-mysql-sql

CREATE FUNCTION shuffle(
    v_chars TEXT
)
RETURNS TEXT
NOT DETERMINISTIC -- multiple RAND()'s
NO SQL
SQL SECURITY INVOKER
COMMENT ''
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
    DECLARE u_pos    INT UNSIGNED;
    DECLARE u        INT UNSIGNED;

    SET u = LENGTH(v_chars);
    WHILE u > 0
    DO
      SET u_pos = 1 + FLOOR(RAND() * u);
      SET v_retval = CONCAT(v_retval, MID(v_chars, u_pos, 1));
      SET v_chars = CONCAT(LEFT(v_chars, u_pos - 1), MID(v_chars, u_pos + 1, u));
      SET u = u - 1;
    END WHILE;

    RETURN v_retval;
END;

In [4]:
SET GLOBAL log_bin_trust_function_creators = 1;

In [5]:
select PARTY_LNAME, shuffle(PARTY_LNAME) from PART_PARTY where PARTY_TYPE = 'P' limit 0,10;

,PARTY_LNAME,shuffle(PARTY_LNAME)
0,KOVÁČOVÁ,VÁOČOVKÁ
1,NĚMEC,EMCĚN
2,STRNADOVA,NARTSVADO
3,ŠULCOVÁ,OLCUÁVŠ
4,HOLUBOVÁ,BVHLOOÁU
5,KUČEROVÁ,EKUOVRČÁ
6,ČECHOVA,ČOAHEVC
7,ŠEBESTOVÁ,EEVBOTŠÁS
8,KOHOUT,KUOHOT
9,KUCHAŘOVÁ,CŘAÁHKUOV

## Mapping table

In [57]:
alter table REF_LNAME add RAND_ID decimal(18,16);

In [8]:
update REF_LNAME set RAND_ID = rand();

In [10]:
select RAND_ID, count(*) from REF_LNAME group by 1 having count(*) > 1 limit 0,10;

,RAND_ID,count(*)
0,0.281444,2
1,0.324742,2
2,0.032813,2
3,0.297641,2
4,0.804238,2
5,0.556773,3
6,0.915203,2
7,0.168995,2
8,0.569341,2
9,0.801797,2

In [6]:
select CODE, VALUE from REF_LNAME limit 0,10;

,CODE,VALUE
0,1,AADI
1,2,AAFJES
2,3,AALBREGT
3,4,AALDERS
4,5,AALDERSOVÁ
5,6,AAMANN
6,7,AANDERUD
7,8,AANENSENOVÁ
8,9,AAOUATIF
9,10,AARDOOM

In [20]:
select 
CONT_VALUE, 
@num_tokens := 1 + LENGTH(CONT_VALUE) - LENGTH(regexp_replace(CONT_VALUE,'[-\._@]','')) AS num_tokens,
substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 1)), '#', -1) as t1,
IF(@num_tokens > 1, substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 2)), '#', -1), '') as t2,
IF(@num_tokens > 2, substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 3)), '#', -1), '') as t3,
IF(@num_tokens > 3, substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 4)), '#', -1), '') as t4,
IF(@num_tokens > 4, substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 5)), '#', -1), '') as t5
from  PARTY_CONTACT where CONT_TYPE = 'E' limit 0,5;

,CONT_VALUE,num_tokens,t1,t2,t3,t4,t5
0,erdenetuya.kovicovi@seznam.cz,4,ERDENETUYA,KOVICOVI,SEZNAM,CZ,
1,vnemec@volny.cz,3,VNEMEC,VOLNY,CZ,,
2,elena@strnadovi.com,3,ELENA,STRNADOVI,COM,,
3,hasmik@sulcovi.eu,3,HASMIK,SULCOVI,EU,,
4,lholubovi#gmail&com,1,LHOLUBOVI,,,,

## Encryption

In [11]:
select AES_ENCRYPT(PARTY_RC, UNHEX(SHA2('My secret passphrase',512))) from PART_PARTY limit 0,5;

,"AES_ENCRYPT(PARTY_RC, UNHEX(SHA2('My secret passphrase',512)))"
0,b'q3\xc4\xd4C\x00\x82\xb1\xeb!\xccU\xcb\xf6\x9e\xdd'
1,"b""\xa1D[\xf6\xbaX'C\xa6\xe0rh5;\xc6\x8b"""
2,"b'\x9d\x1b\xf6\xa5\xad\\D\x10kU\x15f""\xf8\xff\x17'"
3,b'\xf4/#\tz}^\xcd&:I_\x08\x1f\xb3c'
4,"b'*\xf3\xa8B \xd9,|j\xe3\xc4\xc3\xa67:\xd9'"

# Week 4 MySQL Profiling

## Orphans

In [3]:
select 
count(*) as NUM_OF_RECORDS,
count(distinct PARTY_ID) as NUM_OF_PARTY_ID,
min(PARTY_ID) as MIN_PARTY_ID,  
max(PARTY_ID) as MAX_PARTY_ID, 
max(PARTY_ID) - min(PARTY_ID) + 1 as ID_RANGE 
from PARTY_CONTACT 
where PARTY_ID not in (select PARTY_ID from PART_PARTY);

,NUM_OF_RECORDS,NUM_OF_PARTY_ID,MIN_PARTY_ID,MAX_PARTY_ID,ID_RANGE
0,37879,37879,383132,421010,37879

In [4]:
select a.PARTY_TYPE, b.PARTY_TYPE_CNT, count(*) as NUM_OF_RECORDS
from PART_PARTY as a
inner join (select PARTY_TYPE, count(*) as PARTY_TYPE_CNT from PART_PARTY group by 1) as b
on (a.PARTY_TYPE = b.PARTY_TYPE)
where PARTY_ID not in (select PARTY_ID from PARTY_CONTACT)
group by 1;

,PARTY_TYPE,PARTY_TYPE_CNT,NUM_OF_RECORDS
0,C,119348,119348

## Syntax Patterns

select
translate(
lower(PARTY_RC),
    'abcdefghijklmnopqrstuvwxyz0123456789',
    'AAAAAAAAAAAAAAAAAAAAAAAAAA9999999999') as PATTERN,
count(*) as FREQ
from PART_PARTY
group by lower(PARTY_RC);

In [5]:
select
REGEXP_REPLACE(REGEXP_REPLACE(lower(PARTY_RC),'[a-z]','A'), '[0-9]', '9') as PATTERN,
count(*) as FREQ
from PART_PARTY
group by 1;

,PATTERN,FREQ
0,9999999999,183810
1,999999999,68378
2,AAAAAAA,2633
3,,6192
4,AAAAAAAAAA,3726
5,AAAA,3669
6,None,114723

In [7]:
select
PARTY_TYPE,
REGEXP_REPLACE(REGEXP_REPLACE(lower(PARTY_RC),'[a-z]+','A'), '[0-9]+', '9') as PATTERN,
count(*) as FREQ
from PART_PARTY
group by 1,2;

,PARTY_TYPE,PATTERN,FREQ
0,P,9,251027
1,P,A,7714
2,P,,5042
3,C,None,114723
4,C,A,2314
5,C,,1150
6,C,9,1161

## Continuous Variables

In [8]:
select 
count(*) as FREQ,
count(distinct PARTY_AGE) as DISTINCT_FREQ,
min(PARTY_AGE) as MIN,
max(PARTY_AGE) as MAX,
avg(PARTY_AGE) as AVG,
std(PARTY_AGE) as STD,
variance(PARTY_AGE) as VAR
from PART_PARTY
where PARTY_TYPE = 'P';

,FREQ,DISTINCT_FREQ,MIN,MAX,AVG,STD,VAR
0,263783,84,15,98,45.6612,18.49909,342.216337

In [9]:
select
min(year(PARTY_DOFBIRTH) + PARTY_AGE) as MIN,
max(year(PARTY_DOFBIRTH) + PARTY_AGE) as MAX
from PART_PARTY
where PARTY_TYPE = 'P';

,MIN,MAX
0,2012,2108

In [10]:
select
year(PARTY_DOFBIRTH) + PARTY_AGE as DT,
count(*) as FREQ
from PART_PARTY
where PARTY_TYPE = 'P'
group by 1
order by 2 desc limit 0,10;

,DT,FREQ
0,2012.0,232558
1,NaN,5304
2,2044.0,585
3,2045.0,559
4,2040.0,530
5,2041.0,513
6,2048.0,512
7,2042.0,508
8,2046.0,504
9,2043.0,500

In [11]:
select
substr(PARTY_RC, 1,6) as RC_YEAR, PARTY_AGE, PARTY_DOFBIRTH, year(PARTY_DOFBIRTH) + PARTY_AGE as DT
from PART_PARTY
where PARTY_TYPE = 'P'
and year(PARTY_DOFBIRTH) + PARTY_AGE = 2044
limit 0,10;

,RC_YEAR,PARTY_AGE,PARTY_DOFBIRTH,DT
0,NENI,34,2010-07-23,2044
1,785105,34,2010-05-20,2044
2,780105,34,2010-10-13,2044
3,785106,34,2010-10-19,2044
4,780107,34,2010-01-27,2044
5,780109,34,2010-08-26,2044
6,780109,34,2010-06-08,2044
7,780110,34,2010-02-07,2044
8,785116,34,2010-08-15,2044
9,780116,34,2010-02-11,2044

In [12]:
select (PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE())), count(*) from PART_PARTY where PARTY_TYPE = 'P' group by 1 order by 1 limit 0,10;

,"(PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE()))",count(*)
0,NaN,5304
1,-10.0,47232
2,-9.0,185326
3,3.0,63
4,4.0,311
5,5.0,356
6,6.0,390
7,7.0,391
8,8.0,398
9,9.0,408

# Week 5 - 13 Data Validation Using MySQL

## Extend the Data Model

In [58]:
alter table PART_PARTY
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(18) default '000000000000000000',
add DQM_ERR longtext
;

In [59]:
alter table PARTY_ADDRESS
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(9) default '000000000',
add DQM_ERR longtext
;

In [60]:
alter table PARTY_CONTACT
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(5) default '00000',
add DQM_ERR longtext
;

In [61]:
alter table PROD_CONTRACT
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(7) default '0000000',
add DQM_ERR longtext
;

In [62]:
drop table if exists DQM_ISSUES;

In [63]:
CREATE TABLE `DQM_ISSUES` (
  `ISSUE_ID` bigint NOT NULL AUTO_INCREMENT,
  `ISSUE_TSTMP` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `TABLE_NAME` varchar(100) COLLATE utf8_czech_ci NOT NULL,
  `ATTRIBUTE_NAME` varchar(100) COLLATE utf8_czech_ci NOT NULL,
  `ROW_ID` bigint NOT NULL,
  `ISSUE_CODE` smallint NOT NULL,
  `ISSUE_TEXT` longtext COLLATE utf8_czech_ci,
  PRIMARY KEY (`ISSUE_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_czech_ci;

## DQM ERR tags

<attribute name>'-'<rule id>'-'<characteristic>

Examples:
* RC-1-CMPLT

Characteristics:
* CMPLT = Completeness
* SMACC = Semantic Accurracy
* SNACC = Syntactic Accuracy
* UNQNS = Uniqueness
* INCNS = Internal Consistency
* EXCNS = External Consistency

## Validate / create reference data

### Validate REF_CALENDAR

In [64]:
select max(CAL_DATE) from REF_CALENDAR;

,max(CAL_DATE)
0,2014-12-31

### Create RES

In [65]:
drop table if exists REF_RES;

In [66]:
CREATE TABLE `REF_RES` (
  `ICO` char(8) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `OKRESLAU` char(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `DDATVZN` date DEFAULT NULL,
  `DDATZAN` date DEFAULT NULL,
  `ZPZAN` int DEFAULT NULL,
  `DDATPAKT` date DEFAULT NULL,
  `FORMA` int DEFAULT NULL,
  `ROSFORMA` int DEFAULT NULL,
  `KATPO` int DEFAULT NULL,
  `NACE` varchar(10) DEFAULT NULL,
  `ICZUJ` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `FIRMA` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `CCISS2010` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `KODADM` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `PSC` char(5) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `OBEC_TEXT` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `COBCE_TEXT` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `ULICE_TEXT` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `TYPCDOM` smallint DEFAULT NULL,
  `CDOM` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `COR` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `DATPLAT` date DEFAULT NULL,
  `PRIZNAK` char(1) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `CISS2010` varchar(50) DEFAULT NULL,
  `TEXTADR` varchar(256) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

In [67]:
SHOW GLOBAL VARIABLES like '%%local_infile%%';

,Variable_name,Value
0,local_infile,OFF

In [68]:
SET GLOBAL local_infile = 'ON';

In [69]:
SHOW GLOBAL VARIABLES like '%%local_infile%%';

,Variable_name,Value
0,local_infile,ON

In [70]:
load data local infile 'ROS.csv' into table REF_RES;

In [71]:
select 
case when trim(ADDR_NUM1) 
regexp '^[0-9]+$' = 1 
then 'T' else 'F' end as flag, count(*) as freq 
from PARTY_ADDRESS group by 1;

,flag,freq
0,F,955217

In [72]:
select 
case when trim(ADDR_STREET) 
regexp '^[0-9a-zA-Z]+$' = 1 
then 'T' else 'F' end as flag, count(*) as freq 
from PARTY_ADDRESS group by 1;

,flag,freq
0,F,465796
1,T,489421

## PART_PARTY

### PARTY_RC

In [73]:
select concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)) from PART_PARTY limit 0,1;

,"concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10))"
0,001000010000000000

#### Re-set validation attributes

In [74]:
update PART_PARTY
set 
DQM_VALID_SCORE = 0,
DQM_VALID_CODE = '000000000000000000',
DQM_ERR = ''
where 1 = 1;

#### Rule 1: Non-existing date in RC with a length of 9

In [75]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-1-SMACC ') 
where
cast(
    concat(
        '19',substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 9
    ;

#### Rule 2: Non-existing date in RC with a length of 10

In [76]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-2-SMACC ') 
where
cast(
    concat(
        case when substr(PARTY_RC,1,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) < 54
        then '20'
        else '19'
        end,
        substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 10
    ;

#### Rule 3: Inconsistent date from RC and DOFBIRTH

In [77]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-3-INCNS ') 
where
party_type = 'P'
and PARTY_RC REGEXP '[0-9]+'
and not
cast(
    concat(
        case when length(trim(PARTY_RC)) = 10 and trim(substr(PARTY_RC,1,2)) * 1 < 54
        then concat('20',trim(substr(PARTY_RC,1,2)))
        else concat('19',trim(substr(PARTY_RC,1,2)))
        end,
        trim(substr(PARTY_RC,3,2)),
        trim(substr(PARTY_RC,5,2))
    ) as char(10)
) = cast(PARTY_DOFBIRTH as char(10))
;

#### Rule 4: Missing RC

In [78]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-4-CMPLTN ') 
where
PARTY_TYPE = 'P'
and (PARTY_RC is null or PARTY_RC = '' or PARTY_RC = ' ')
;

#### Rule 5: Not-numeric RC

In [79]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-5-SMACC RC-5-SNACC ') 
where
PARTY_TYPE = 'P'
and not PARTY_RC REGEXP '[0-9]+'
;

#### Rule 6: Gender from RC not consistent with PARTY_GENDER

In [80]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-6-INCNS ') 
where
PARTY_TYPE = 'P' and PARTY_RC REGEXP '[0-9]+'
and
(
(substr(PARTY_RC,3,2) - 1 > 50 and PARTY_GENDER not in ('F'))
 or
(substr(PARTY_RC,3,2) - 1 < 50 and PARTY_GENDER not in ('M'))
)
;

#### Rule 7: Age from RC not consistent with PARTY_AGE

In [81]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-7-INCNS ') 
where
PARTY_TYPE = 'P'
and
(PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE())) <> 0
;

#### Rule 23: Modulo check failed

In [82]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-23-SMACC ') 
where
PARTY_TYPE = 'P' and PARTY_RC REGEXP '[0-9]+' and length(trim(PARTY_RC)) = 10
and not
case when
mod(
cast(
concat(
    substr(trim(PARTY_RC),1,2),
    case when cast(substr(PARTY_RC,3,2) as signed) < 54
        then substr(PARTY_RC,3,2)
     when cast(substr(PARTY_RC,3,2) as signed) - 50 < 10
    	then concat('0',cast(substr(PARTY_RC,3,2) as signed) - 50)
    else cast(substr(PARTY_RC,3,2) as signed) - 50
        end,
    substr(trim(PARTY_RC),5,5)    
) as signed)
,11) = 10 then 0
else 
mod(
cast(
concat(
    substr(trim(PARTY_RC),1,2),
    case when cast(substr(PARTY_RC,3,2) as signed) < 54
        then substr(PARTY_RC,3,2)
     when cast(substr(PARTY_RC,3,2) as signed) - 50 < 10
    	then concat('0',cast(substr(PARTY_RC,3,2) as signed) - 50)
    else cast(substr(PARTY_RC,3,2) as signed) - 50
        end,
    substr(trim(PARTY_RC),5,5)    
) as signed)
,11)
end = substr(trim(PARTY_RC),10,1)
;

In [83]:
select PARTY_RC from PART_PARTY where DQM_ERR like '%%RC-23-SMACC%%' limit 0,10;

,PARTY_RC
0,9999999999
1,5754068327
2,5754063634
3,5704067913
4,5704064794
5,5754062150
6,5754062241
7,5754067731
8,5754066601
9,5754050131

### PARTY_CREGNUM

#### Rule 8: ICO Checksum failed

In [84]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-8-SMACC ') 
where
PARTY_TYPE = 'C' and
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 0 and substr(PARTY_CREGNUM,8,1) <> 1
)
or
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 1 and substr(PARTY_CREGNUM,8,1) <> 0
)
or
(
MOD(11 -
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11),10) <> substr(PARTY_CREGNUM,8,1)
);

In [85]:
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-8-SMACC%%' limit 0,10;

#### Rule 9: ICO Lookup failed

In [86]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-9-SMACC ') 
where
PARTY_TYPE = 'C' and
trim(PARTY_CREGNUM) not in (select trim(PARTY_CREGNUM)from REF_PARTY_CREGNUM);

In [87]:
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-9-SMACC%%' limit 0,10;

,PARTY_CREGNUM
0,10363670
1,10363904
2,10364986
3,10364994
4,10366041
5,10366661
6,10367179
7,10370943
8,10372695
9,10373527

### PARTY_FNAME

#### Rule 10: PARTY_FNAME lookup failed

In [88]:
alter table REF_FNAME add MCODE char(32);

In [89]:
update REF_FNAME set MCODE = md5(upper(trim(VALUE)));

In [90]:
alter table REF_FNAME add index(MCODE);

In [91]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'FNAME-10-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_FNAME))) not in (select MCODE from REF_FNAME);

In [92]:
select PARTY_FNAME from PART_PARTY where DQM_ERR like '%%FNAME-10-SMACC%%' limit 0,10;

,PARTY_FNAME
0,ERDENETUYA
1,OKSANA IVANIVNA
2,Ž A N N A
3,ZINOVIY
4,LÝ
5,E L I S A
6,THI SAU
7,VAN QUYEN
8,M E L Á N I A
9,TSOLMON

### PARTY_LNAME

#### Rule 11: PARTY_LNAME lookup failed

In [93]:
alter table REF_LNAME add MCODE char(32);

In [94]:
update REF_LNAME set MCODE = md5(upper(trim(VALUE)));

In [95]:
alter table REF_LNAME add index(MCODE);

In [96]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'LNAME-11-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_LNAME))) not in (select MCODE from REF_LNAME);

In [97]:
select PARTY_LNAME from PART_PARTY where DQM_ERR like '%%LNAME-11-SMACC%%' limit 0,10;

,PARTY_LNAME
0,STRNADOVA
1,ČECHOVA
2,POSPÍŠILOVA
3,ŠÍMOVA
4,TESAŘOVA
5,JÍLKOVA
6,PROKEŠOVA
7,RICHTEROVA
8,JANOUŠKOVA
9,SOBOTKOVA

### PARTY_SINCE

#### Rule 12: PARTY_SINCE inconsistent to contract

In [98]:
update PART_PARTY as a
inner join (select PARTY_ID, min(cntr_validfrom) as min_valid_from from PROD_CONTRACT group by 1) as b
on (a.PARTY_ID = b.PARTY_ID)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,17),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'SINCE-12-EXCNS ')
where not a.PARTY_SINCE = b.min_valid_from
;

## PARTY_ADDRESS

### ADDR_ZIP

#### Rule 13: Incorrect PSC syntax

In [99]:
update PARTY_ADDRESS
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'ZIP-13-SNACC ') 
where not ADDR_ZIP regexp '^[0-9]{5}$' = 1
;

In [100]:
select ADDR_ZIP from PARTY_ADDRESS where DQM_ERR like '%%ZIP-13-SNACC%%' limit 0,10;

,ADDR_ZIP
0,398 4
1,796 0
2,431 0
3,798 6
4,580 0
5,696 6
6,390 0
7,266 0
8,684 0
9,278 0

## PARTY_CONTACT

#### Rule 14: Incorrect Email syntax

In [101]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-14-SNACC ') 
where CONT_TYPE = 'E' and not trim(CONT_VALUE) regexp '^[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*@[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*\\.[a-zA-Z]{2,6}$' = 1
;

In [102]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-14-SNACC%%';

,count(*)
0,98130

In [103]:
select * from PARTY_CONTACT where DQM_ERR like '%%VALUE-14-SNACC%%' limit 0,10;

,CONT_ID,PARTY_ID,CONT_TYPE,CONT_PRIMARY_FLG,CONT_VALUE,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,5,5,E,None,lholubovi#gmail&com,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
1,7,7,E,None,michele_cechovi@volny.cz,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
2,9,10,E,None,oksana ivanivna_kucharovi@volny.cz,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
3,10,11,E,None,thanh hai_mrizovi@volny.cz,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
4,12,13,E,None,lydie_strnadovi@gmail.com,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
5,13,14,E,None,thu ha.vlachovi@gmail.cz,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
6,19,20,E,None,anastazie_mrizovi@gmail.com,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
7,22,23,E,None,elisa_sobotkovi@volny.cz,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
8,23,24,E,None,thi sau_soukupovi@gmail.cz,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC
9,27,28,E,None,alben&hlavicek#gmail&cz,0.2,00001,VALUE-14-SNACC VALUE-14-SNACC

#### Rule 15: Missing Email

In [104]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'EMAIL-15-CMPLT ') 
where 
PARTY_ID not in (select PARTY_ID from PARTY_CONTACT where CONT_TYPE = 'E')
;

In [105]:
select count(*) from PART_PARTY where DQM_ERR like '%%EMAIL-15-CMPLT%%';

,count(*)
0,154978

#### Rule 16: Missing Mobile

In [106]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'MOBILE-16-CMPLT ') 
where 
PARTY_ID not in (select PARTY_ID from PARTY_CONTACT where CONT_TYPE = 'M')
;

In [107]:
select count(*) from PART_PARTY where DQM_ERR like '%%MOBILE-16-CMPLT%%';

,count(*)
0,119348

#### Rule 17: Incorrect Mobile Prefix

In [108]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-17-SMACC ') 
where CONT_TYPE = 'M'
and substr(CONT_VALUE,1,3) * 1 not between 601 and 608
and substr(CONT_VALUE,1,3) * 1 not in (702,703,705)
and substr(CONT_VALUE,1,3) * 1 not between 720 and 739
and substr(CONT_VALUE,1,3) * 1 not between 770 and 779
and substr(CONT_VALUE,1,3) * 1 not between 790 and 792
and substr(CONT_VALUE,1,3) * 1 not in (797,799)
;

In [109]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-17-SMACC%%';

,count(*)
0,55038

#### Rule 18: Incorrect Mobile Length

In [110]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-18-SMACC VALUE-18-SNACC ') 
where CONT_TYPE = 'M'
and length(replace(CONT_VALUE,' ','')) <> 9
;

In [111]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-18-SMACC%%';

,count(*)
0,29291

## PROD_CONTRACT

#### Rule 19: Invalid product code

In [112]:
update PROD_CONTRACT as a
inner join (select PRODUCT_CODE, min(VALID_FROM) as min_valid_from, max(VALID_TO) as max_valid_to from PRODUCT_CATALOGUE group by 1) as b
on (a.PRODUCT_CODE = b.PRODUCT_CODE)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,3)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CODE-19-SMACC ') 
where 
not a.CNTR_VALIDFROM between b.min_valid_from and b.max_valid_to
;

In [113]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

,count(*)
0,31764

#### Rule 20: Valid From after Valid To

In [114]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,3),'11',substr(DQM_VALID_CODE,6,2)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALIDFROM-20-INCNS VALIDTO-20-INCNS ') 
where CNTR_VALIDFROM > CNTR_VALIDTO
;

In [115]:
select * from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

,CNTR_ID,PARTY_ID,PRODUCT_CODE,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE,CNTR_PAY_FREQ,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,27,6,DO3,2012-08-04,2012-07-14,DSM,2,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
1,36,8,UI3,2012-07-22,2012-04-25,DSM,2,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
2,64,14,PR3,2012-11-15,2012-04-23,STK,2,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
3,125,26,HA3,2012-06-09,2012-03-14,STK,12,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
4,134,28,PR3,2012-08-28,2012-05-20,STK,2,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
5,139,29,PR3,2012-05-10,2012-02-17,STK,4,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
6,220,45,HA3,2012-09-21,2012-04-15,STK,5,0.3,0001101,VALIDFROM-20-INCNS VALIDTO-20-INCNS PAY_FREQ-22-SNACC VALIDFROM-20-INCNS VALIDTO-20-INCNS
7,223,45,NE3,2012-08-15,2012-07-20,STK,12,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
8,278,57,HA3,2012-09-07,2012-02-17,STK,1,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS
9,316,64,NE3,2012-06-25,2012-04-15,STK,12,0.2,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS VALIDFROM-20-INCNS VALIDTO-20-INCNS

In [116]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

,count(*)
0,31764

#### Rule 21: Terminated contract with no canceltype

In [117]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,5),'1',substr(DQM_VALID_CODE,7,1)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CANCTYPE-21-CMPLT ') 
where
CNTR_CANCTYPE is null and CNTR_VALIDTO <= current_date;
;

In [118]:
select CNTR_VALIDFROM, CNTR_VALIDTO, CNTR_CANCTYPE from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE
0,2012-02-01,2016-03-15,None
1,2012-11-07,2016-03-08,None
2,2011-06-15,2019-10-05,None
3,2012-12-22,2020-03-17,None
4,2012-11-12,2013-06-10,None
5,2010-11-24,2013-06-04,None
6,2010-11-19,2019-08-06,None
7,2011-12-17,2020-06-26,None
8,2010-02-03,2022-06-03,None
9,2010-10-15,2013-04-13,None

In [119]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

,count(*)
0,344021

#### Rule 22: Incorrect frequency of payment

In [120]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'PAY_FREQ-22-SNACC ') 
where
CNTR_PAY_FREQ not in (select CODE from LOV_PMT_FREQ);
;

In [121]:
select * from PROD_CONTRACT where DQM_ERR like '%%PAY_FREQ-22-SNACC%%' limit 0,10;

,CNTR_ID,PARTY_ID,PRODUCT_CODE,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE,CNTR_PAY_FREQ,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,21,5,UI2,2011-10-05,2019-04-11,None,3,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
1,44,10,PR2,2011-10-20,2999-06-28,None,3,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC
2,53,11,NE1,2010-06-15,2013-12-22,None,3,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
3,62,13,DO3,2012-02-27,2023-02-22,None,5,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC
4,63,13,NE3,2012-01-15,2023-02-25,None,3,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC
5,68,14,NE1,2010-10-10,2018-05-28,None,5,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
6,73,15,NE2,2011-01-13,2014-07-06,None,3,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
7,75,16,HA2,2011-04-01,2012-08-28,STK,3,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC
8,83,17,NE3,2012-11-12,2014-04-13,None,3,0.4,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
9,93,19,NE1,2010-05-20,2012-10-15,STK,5,0.2,0000001,PAY_FREQ-22-SNACC PAY_FREQ-22-SNACC

In [122]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%PAY_FREQ-22-SNACC%%' limit 0,10;

,count(*)
0,91693

## Week 13 Report

### PART_PARTY

In [123]:
select count(*) into @rowCnt from PART_PARTY;

In [124]:
select 1 - (count(*) / @rowCnt) as 'Semantic Accuracy' from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SMACC%%';

,Semantic Accuracy
0,0.3121

In [125]:
update DQM_MDR
set
CHAR_SEM_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SMACC%%'),
CHAR_SYN_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SNACC%%'),
CHAR_COM = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-CMPLT%%'),
CHAR_INT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-INCNS%%'),
CHAR_EXT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-EXCNS%%')
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_RC';

In [129]:
CREATE PROCEDURE `4iz562`.`updateCharacteristics`(
    IN tablePar varchar(32),
    IN attributePar varchar(32),
    IN attributeAlias varchar(32),
    IN rowCnt bigint
)
BEGIN
  	   
   	 SET @s = concat(  
   	    "update DQM_MDR set",
   	    " CHAR_SEM_ACC = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-SMACC.*' = 1),",
   	    " CHAR_SYN_ACC = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-SNACC.*' = 1),",
		" CHAR_COM = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-CMPLT.*' = 1),",
		" CHAR_INT_CON = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-INCNS.*' = 1),",
		" CHAR_EXT_CON = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-EXCNS.*' = 1)",
		" where TABLE_NAME = ", quote(tablePar), " and COLUMN_NAME = ", quote(attributePar)
	);
				
   	prepare stmt from @s;
   	execute stmt;
    commit;
    deallocate prepare stmt;
END;

In [126]:
select @rowCnt

,@rowCnt
0,383131

In [130]:
CALL updateCharacteristics('PART_PARTY','PARTY_ID','ID',@rowCnt);

In [131]:
CALL updateCharacteristics('PART_PARTY','PARTY_TYPE','TYPE',@rowCnt);

In [132]:
CALL updateCharacteristics('PART_PARTY','PARTY_FNAME','FNAME',@rowCnt);

In [133]:
CALL updateCharacteristics('PART_PARTY','PARTY_LNAME','LNAME',@rowCnt);

In [134]:
CALL updateCharacteristics('PART_PARTY','PARTY_NAME','NAME',@rowCnt);

In [135]:
CALL updateCharacteristics('PART_PARTY','PARTY_FORM','FORM',@rowCnt);

In [136]:
CALL updateCharacteristics('PART_PARTY','PARTY_CREGNUM','CREGNUM',@rowCnt);

In [137]:
CALL updateCharacteristics('PART_PARTY','PARTY_RC','RC',@rowCnt);

In [138]:
CALL updateCharacteristics('PART_PARTY','PARTY_COUNTRY','COUNTRY',@rowCnt);

In [139]:
CALL updateCharacteristics('PART_PARTY','PARTY_POFBIRTH','POFBIRTH',@rowCnt);

In [140]:
CALL updateCharacteristics('PART_PARTY','PARTY_AGE','AGE',@rowCnt);

In [141]:
CALL updateCharacteristics('PART_PARTY','PARTY_TITBEF','TITBEF',@rowCnt);

In [142]:
CALL updateCharacteristics('PART_PARTY','PARTY_TITAFT','TITAFT',@rowCnt);

In [143]:
CALL updateCharacteristics('PART_PARTY','PARTY_ESA95','ESA95',@rowCnt);

In [144]:
CALL updateCharacteristics('PART_PARTY','PARTY_OKEC','OKEC',@rowCnt);

In [145]:
CALL updateCharacteristics('PART_PARTY','PARTY_SINCE','SINCE',@rowCnt);

In [146]:
CALL updateCharacteristics('PART_PARTY','PARTY_POFBIRTH','POFBIRTH',@rowCnt);

### PARTY_ADDRESS

In [147]:
select count(*) into @rowCnt from PARTY_ADDRESS;

In [148]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_ID','ID',@rowCnt);

In [149]:
CALL updateCharacteristics('PARTY_ADDRESS','PARTY_ID','ID',@rowCnt);

In [150]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_TYPE','TYPE',@rowCnt);

In [151]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_COUNTRY','COUNTRY',@rowCnt);

In [152]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_CITY','CITY',@rowCnt);

In [153]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_STREET','STREET',@rowCnt);

In [154]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_NUM1','NUM1',@rowCnt);

In [155]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_NUM2','NUM2',@rowCnt);

In [156]:
CALL updateCharacteristics('PARTY_ADDRESS','ADDR_ZIP','ZIP',@rowCnt);

### PARTY_CONTACT

In [157]:
select count(*) into @rowCnt from PARTY_CONTACT;

In [158]:
CALL updateCharacteristics('PARTY_CONTACT','CONT_ID','ID',@rowCnt);

In [159]:
CALL updateCharacteristics('PARTY_CONTACT','PARTY_ID','ID',@rowCnt);

In [160]:
CALL updateCharacteristics('PARTY_CONTACT','CONT_TYPE','TYPE',@rowCnt);

In [161]:
CALL updateCharacteristics('PARTY_CONTACT','CONT_PRIMARY_FLG','PRIMARY_FLG',@rowCnt);

In [162]:
CALL updateCharacteristics('PARTY_CONTACT','CONT_VALUE','VALUE',@rowCnt);

### PROD_CONTRACT

In [163]:
select count(*) into @rowCnt from PROD_CONTRACT;

In [164]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_ID','ID',@rowCnt);

In [165]:
CALL updateCharacteristics('PROD_CONTRACT','PARTY_ID','ID',@rowCnt);

In [166]:
CALL updateCharacteristics('PROD_CONTRACT','PRODUCT_CODE','CODE',@rowCnt);

In [167]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_VALIDFROM','VALIDFROM',@rowCnt);

In [168]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_VALIDTO','VALIDTO',@rowCnt);

In [169]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_CANCTYPE','CANCTYPE',@rowCnt);

In [170]:
CALL updateCharacteristics('PROD_CONTRACT','CNTR_PAY_FREQ','PAY_FREQ',@rowCnt);

### Exceptions

In [171]:
update DQM_MDR set CHAR_COM = (
    select 1 - (count(*) / (select count(*) from PART_PARTY)) from PART_PARTY 
    where DQM_ERR like '%%EMAIL-15-CMPLT%%' or 
    DQM_ERR like '%%MOBILE-16-CMPLT%%'
    )
 where TABLE_NAME = "PARTY_CONTACT" and COLUMN_NAME = "CONT_VALUE";

In [172]:
select * from DQM_MDR where not COLUMN_NAME like '%%DQM_%%';

,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,COLUMN_DEFAULT,DATA_TYPE,COLUMN_TYPE,COLLATION_NAME,COLUMN_COMMENT,CHAR_SEM_ACC,CHAR_SYN_ACC,CHAR_COM,CHAR_INT_CON,CHAR_EXT_CON
0,4iz562,PARTY_ADDRESS,ADDR_ID,None,bigint,bigint,None,,1.000000,1.000000,1.000000,1.000000,1.000000
1,4iz562,PARTY_ADDRESS,PARTY_ID,0,bigint,bigint,None,,1.000000,1.000000,1.000000,1.000000,1.000000
2,4iz562,PARTY_ADDRESS,ADDR_TYPE,,varchar,varchar(1),utf8mb4_0900_ai_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
3,4iz562,PARTY_ADDRESS,ADDR_COUNTRY,,varchar,varchar(3),utf8mb4_0900_ai_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
4,4iz562,PARTY_ADDRESS,ADDR_CITY,None,varchar,varchar(250),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
5,4iz562,PARTY_ADDRESS,ADDR_STREET,None,varchar,varchar(100),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
6,4iz562,PARTY_ADDRESS,ADDR_NUM1,None,varchar,varchar(10),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
7,4iz562,PARTY_ADDRESS,ADDR_NUM2,None,varchar,varchar(10),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
8,4iz562,PARTY_ADDRESS,ADDR_ZIP,None,char,char(5),utf8_czech_ci,,1.000000,0.979090,1.000000,1.000000,1.000000
9,4iz562,PARTY_ADDRESS,ADDR_CODE,None,bigint,bigint,None,,NaN,NaN,NaN,1.000000,1.000000
10,4iz562,PARTY_ADDRESS,ADDR_FMCODE,None,char,char(32),utf8_general_ci,,NaN,NaN,NaN,1.000000,1.000000
11,4iz562,PARTY_ADDRESS,ADDR_ZIP_STD,None,int,int,None,,NaN,NaN,NaN,1.000000,1.000000
12,4iz562,PARTY_CONTACT,CONT_ID,None,bigint,bigint,None,,1.000000,1.000000,1.000000,1.000000,1.000000
13,4iz562,PARTY_CONTACT,PARTY_ID,None,bigint,bigint,None,,1.000000,1.000000,1.000000,1.000000,1.000000
14,4iz562,PARTY_CONTACT,CONT_TYPE,None,char,char(1),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
15,4iz562,PARTY_CONTACT,CONT_PRIMARY_FLG,None,char,char(1),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
16,4iz562,PARTY_CONTACT,CONT_VALUE,None,varchar,varchar(255),utf8_czech_ci,,0.896118,0.759499,0.595496,1.000000,1.000000
17,4iz562,PART_PARTY,PARTY_ID,None,bigint,bigint,None,,1.000000,1.000000,1.000000,1.000000,1.000000
18,4iz562,PART_PARTY,PARTY_TYPE,None,char,char(1),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
19,4iz562,PART_PARTY,PARTY_FNAME,None,varchar,varchar(45),utf8_czech_ci,,0.817535,1.000000,1.000000,1.000000,1.000000
20,4iz562,PART_PARTY,PARTY_LNAME,None,varchar,varchar(60),utf8_czech_ci,,0.976603,1.000000,1.000000,1.000000,1.000000
21,4iz562,PART_PARTY,PARTY_NAME,None,varchar,varchar(255),utf8_czech_ci,,0.800173,1.000000,1.000000,1.000000,1.000000
22,4iz562,PART_PARTY,PARTY_FORM,None,smallint,smallint,None,,1.000000,1.000000,1.000000,1.000000,1.000000
23,4iz562,PART_PARTY,PARTY_CREGNUM,None,varchar,varchar(8),utf8_czech_ci,,0.693771,1.000000,1.000000,1.000000,1.000000
24,4iz562,PART_PARTY,PARTY_RC,None,varchar,varchar(10),utf8_czech_ci,,0.312421,0.966706,0.986840,0.318779,1.000000
25,4iz562,PART_PARTY,PARTY_COUNTRY,None,char,char(3),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
26,4iz562,PART_PARTY,PARTY_POFBIRTH,None,varchar,varchar(45),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
27,4iz562,PART_PARTY,PARTY_AGE,None,int,int,None,,1.000000,1.000000,1.000000,1.000000,1.000000
28,4iz562,PART_PARTY,PARTY_GENDER,None,char,char(1),utf8_czech_ci,,NaN,NaN,0.979802,1.000000,1.000000
29,4iz562,PART_PARTY,PARTY_DOFBIRTH,None,date,date,None,,NaN,NaN,NaN,1.000000,1.000000
30,4iz562,PART_PARTY,PARTY_TITBEF,None,varchar,varchar(10),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
31,4iz562,PART_PARTY,PARTY_TITAFT,None,varchar,varchar(10),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
32,4iz562,PART_PARTY,PARTY_ESA95,None,int,int,None,,1.000000,1.000000,1.000000,1.000000,1.000000
33,4iz562,PART_PARTY,PARTY_OKEC,None,char,char(4),utf8_czech_ci,,1.000000,1.000000,1.000000,1.000000,1.000000
34,4iz562,PART_PARTY,PARTY_SINCE,None,date,date,None,,1.000000,1.000000,1.000000,1.000000,0.923564
35,4iz562,PART_PARTY,PARTY_RC_STD,None,varchar,varchar(10),utf8_czech_ci,,NaN,NaN,NaN,1.000000,1.000000
36,4iz562,PART_PARTY,PARTY_FNAME_STD,None,varchar,varchar(45),utf8_czech_ci,,NaN,NaN,NaN,1.000000,1.000000
37,4iz562,PART_PARTY,PARTY_MNAME_STD,None,varchar,varchar(45),utf8_czech_ci,,NaN,NaN,NaN,1.000000,1.000000
38,4iz562,PART_PARTY,PARTY_LNAME_STD,None,varchar,varchar(45),utf8_czech_ci,,NaN,NaN,NaN,1.000000,1.000000
39,4iz562,PART_PARTY,PARTY_TITBEF_STD,None,varchar,varchar(10),utf8_czech_ci,,NaN,NaN,NaN,1.000000,1.000000
40,4iz562,PART_PARTY,PARTY_TITAFT_STD,None,varchar,varchar(10),utf8_czech_ci,,NaN,NaN,NaN,1.000000,1.000000
41,4iz562,PROD_CONTRACT,CNTR_ID,None,bigint,bigint,None,,1.000000,1.000000,1.000000,1.000000,1.000000
42,4iz562,PROD_CONTRACT,PARTY_ID,None,bigint,bigint,None,,1.000000,1.000000,1.000000,1.000000,1.000000
43,4iz562,PROD_CONTRACT,PRODUCT_CODE,None,char,char(3),utf8_czech_ci,,0.975116,1.000000,1.000000,1.000000,1.000000
44,4iz562,PROD_CONTRACT,CNTR_VALIDFROM,None,date,date,None,,1.000000,1.000000,1.000000,0.966332,1.000000
45,4iz562,PROD_CONTRACT,CNTR_VALIDTO,None,date,date,None,,1.000000,1.000000,1.000000,0.966332,1.000000
46,4iz562,PROD_CONTRACT,CNTR_CANCTYPE,None,char,char(3),utf8_czech_ci,,1.000000,1.000000,0.635358,1.000000,1.000000
47,4iz562,PROD_CONTRACT,CNTR_PAY_FREQ,None,smallint,smallint,None,,1.000000,0.902811,1.000000,1.000000,1.000000

## Duplicitní klienti

In [173]:
select count(*) from (
select
concat(PARTY_TYPE,'_',coalesce(trim(PARTY_RC),trim(PARTY_CREGNUM))) as CUST_ID, count(*) as FREQ
from PART_PARTY
group by 1 having count(*) >1) as a;

,count(*)
0,140932

## Matching adresa

In [174]:
ALTER TABLE `4iz562`.REF_UIRADR_MERGED ADD MCODE_CRISP char(32) NOT NULL;

In [175]:
update REF_UIRADR_MERGED set MCODE_CRISP = md5(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
)) where 1 = 1;

In [176]:
CREATE INDEX REF_UIRADR_MERGED_MCODE_CRISP_IDX USING BTREE ON `4iz562`.REF_UIRADR_MERGED (MCODE_CRISP);

In [177]:
select * from PARTY_ADDRESS where md5(concat(ADDR_ZIP,'_',ADDR_STREET,'_',ADDR_CITY)) not in (select MCODE_CRISP from REF_UIRADR_MERGED) limit 0,10;

,ADDR_ID,PARTY_ID,ADDR_TYPE,ADDR_COUNTRY,ADDR_CITY,ADDR_STREET,ADDR_NUM1,ADDR_NUM2,ADDR_ZIP,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR,ADDR_CODE,ADDR_FMCODE,ADDR_ZIP_STD
0,1,38569,C,CZE,Dobruška,Na Budíně 854,None,None,51801,0.0,000000000,None,None,None,None
1,2,292510,C,CZE,Dobruška,Na Budíně 854,None,None,51801,0.0,000000000,None,None,None,None
2,3,38570,C,CZE,Plzeň - Jižní Předměstí,U Svépomoci 1708/10,None,None,30100,0.0,000000000,None,None,None,None
3,4,183048,C,CZE,Plzeň - Jižní Předměstí,U Svépomoci 1708/10,None,None,30100,0.0,000000000,None,None,None,None
4,5,292511,C,CZE,Plzeň - Jižní Předměstí,U Svépomoci 1708/10,None,None,30100,0.0,000000000,None,None,None,None
5,6,38572,C,CZE,ZNOJMO,NA HRÁZI 3335/61,None,None,67181,0.0,000000000,None,None,None,None
6,7,38575,C,CZE,VRANÉ NAD VLTAVOU,Nad Zastávkou 213,None,None,25246,0.0,000000000,None,None,None,None
7,8,183051,C,CZE,VRANÉ NAD VLTAVOU,Nad Zastávkou 213,None,None,25246,0.0,000000000,None,None,None,None
8,9,292515,C,CZE,VRANÉ NAD VLTAVOU,Nad Zastávkou 213,None,None,25246,0.0,000000000,None,None,None,None
9,10,292279,C,CZE,Říčany,Brněnská 23,None,None,66482,0.0,000000000,None,None,None,None

In [178]:
select count(*) from PARTY_ADDRESS where md5(concat(ADDR_ZIP,'_',ADDR_STREET,'_',ADDR_CITY)) not in (select MCODE_CRISP from REF_UIRADR_MERGED);

,count(*)
0,582453

# Week 7 MySQL Parsing

## Useful Functions

CREATE FUNCTION `4iz562`.`split`(
    v_chars TEXT,
    v_splitter text,
    v_token smallint
) RETURNS text CHARSET utf8mb4
    NO SQL
    SQL SECURITY INVOKER
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
   
    SET v_retval = substring_index(substring_index(v_chars, v_splitter, v_token), v_splitter, -1);

    RETURN v_retval;
END;

In [7]:
select split('David#Pejcoch','#',1) as t1;

,t1
0,David

In [8]:
select split('David Pejcoch',' ',2) as t1;

,t1
0,Pejcoch

## REGEXP_SUBSTR

In [21]:
select 
SUBSTR(REGEXP_SUBSTR(CONT_VALUE, '@[0-9a-z]*'),2) as SLD,
split(CONT_VALUE,'.',-1) as TLD
from PARTY_CONTACT where CONT_TYPE = 'E' limit 0,10;

,SLD,TLD
0,seznam,cz
1,volny,cz
2,strnadovi,com
3,sulcovi,eu
4,None,lholubovi#gmail&com
5,gmail,cz
6,volny,cz
7,gmail,cz
8,volny,cz
9,volny,cz

## Split by all delimiters

In [29]:
select 
split(REGEXP_REPLACE(CONT_VALUE,'[\\s@\.&]','#'), '#', 1) as t1,
split(REGEXP_REPLACE(CONT_VALUE,'[\\s@\.&]','#'), '#', 2) as t2,
split(REGEXP_REPLACE(CONT_VALUE,'[\\s@\.&]','#'), '#', 3) as t3,
split(REGEXP_REPLACE(CONT_VALUE,'[\\s@\.&]','#'), '#', 4) as t4,
split(REGEXP_REPLACE(CONT_VALUE,'[\\s@\.&]','#'), '#', 5) as t5,
split(REGEXP_REPLACE(CONT_VALUE,'[\\s@\.&]','#'), '#', 6) as t6
from PARTY_CONTACT where CONT_TYPE = 'E' limit 0,10;

,t1,t2,t3,t4,t5,t6
0,erdenetuya,kovicovi,seznam,cz,cz,cz
1,vnemec,volny,cz,cz,cz,cz
2,elena,strnadovi,com,com,com,com
3,hasmik,sulcovi,eu,eu,eu,eu
4,lholubovi,gmail,com,com,com,com
5,ikucerovi,gmail,cz,cz,cz,cz
6,michele_cechovi,volny,cz,cz,cz,cz
7,tsebestovi,gmail,cz,cz,cz,cz
8,oksana,ivanivna_kucharovi,volny,cz,cz,cz
9,thanh,hai_mrizovi,volny,cz,cz,cz

In [33]:
select 
split(CONT_VALUE,'@',1),
split(CONT_VALUE,'@',2),
split(REGEXP_REPLACE(split(CONT_VALUE,'@',1),'[\\s@\.&]','#'), '#', 1) as t1,
split(REGEXP_REPLACE(split(CONT_VALUE,'@',1),'[\\s@\.&]','#'), '#', 2) as t2,
split(REGEXP_REPLACE(split(CONT_VALUE,'@',2),'[\\s@\.&]','#'), '#', 1) as t3,
split(REGEXP_REPLACE(split(CONT_VALUE,'@',2),'[\\s@\.&]','#'), '#', 2) as t4
from PARTY_CONTACT where CONT_TYPE = 'E' limit 0,10;

,"split(CONT_VALUE,'@',1)","split(CONT_VALUE,'@',2)",t1,t2,t3,t4
0,erdenetuya.kovicovi,seznam.cz,erdenetuya,kovicovi,seznam,cz
1,vnemec,volny.cz,vnemec,vnemec,volny,cz
2,elena,strnadovi.com,elena,elena,strnadovi,com
3,hasmik,sulcovi.eu,hasmik,hasmik,sulcovi,eu
4,lholubovi#gmail&com,lholubovi#gmail&com,lholubovi,gmail,lholubovi,gmail
5,ikucerovi,gmail.cz,ikucerovi,ikucerovi,gmail,cz
6,michele_cechovi,volny.cz,michele_cechovi,michele_cechovi,volny,cz
7,tsebestovi,gmail.cz,tsebestovi,tsebestovi,gmail,cz
8,oksana ivanivna_kucharovi,volny.cz,oksana,ivanivna_kucharovi,volny,cz
9,thanh hai_mrizovi,volny.cz,thanh,hai_mrizovi,volny,cz

In [ ]:
#### PARTY_TITBEF

## MySQL Standardization

In [1]:
mysql://student:student@localhost:3306;

In [2]:
use 4iz562;

## Why to Standardize

In [179]:
select ADDR_CITY, count(*) from PARTY_ADDRESS where upper(ADDR_CITY) like '%%BRAND%%' group by 1;

,ADDR_CITY,count(*)
0,BRANDÝSEK,191
1,Brandýs nad Labem-Stará Boleslav - Brandýs nad Labem,670
2,Brandýs nad Labem-Stará Boleslav - Stará Boleslav,573
3,Brandýsek - Olšany,122
4,BRANDÝS NAD LABEM-STARÁ BOLESLAV-BRANDÝS NAD LABEM,25
5,BRANDOV,36
6,BRANDÝS NAD ORLICÍ,117
7,Brandýsek-Olšany,8
8,Brandýs nad Labem-Stará Boleslav-Stará Boleslav,11
9,Brandlín,11

select ulice, count(*) from REF_UIRADR_MERGED 
where ulice like 'n.%' or lower(ulice) like 'nám.%' or lower(ulice) like 'náměstí%'
group by 1 order by 2 desc limit 0,10;

ulice                 |count(*)|
----------------------+--------+
Náměstí               |    2127|
Náměstí Míru          |    1247|
náměstí Svobody       |    1016|
Nám. Svobody          |     675|
nám. Míru             |     626|
náměstí Republiky     |     506|
Náměstí T. G. Masaryka|     492|
nám. T. G. Masaryka   |     472|
nám. Republiky        |     299|
nám. Osvobození       |     267|

In [181]:
select PARTY_FNAME, count(*) from PART_PARTY where strip(lower(PARTY_FNAME)) like '%%david%%' group by 1;

,PARTY_FNAME,count(*)
0,C H R I S T O P H E R D A V I D,4
1,D A V I D,4
2,D A V I D A L E X A N D E R,9
3,D A V I D A N D R E W,7
4,D A V I D C H R I S T O P H E R,9
5,D A V I D J A N,2
6,D A V I D J I Ř Í,5
7,D A V I D J O H N,8
8,D A V I D M I C H A E L,6
9,D A V I D T H O M A S,7
10,D A V I D W I L L I A M,3
11,D A V I D E,2
12,DAVID,106
13,DAVID ALEXANDER,71
14,DAVID ANDREV,1
15,DAVID ANDREW,34
16,DAVID CHRISTOPHER,42
17,DAVID JAN,50
18,DAVID JIŘÍ,48
19,DAVID JOHN,36
20,DAVID MICHAEL,55
21,DAVID THOMAS,33
22,DAVID WILLIAM,24
23,DAVIDE,28
24,CHRISTOPHER DAVID,55
25,M A T T H E W D A V I D,5
26,M A T Y Á Š D A V I D,2
27,M I C H A E L D A V I D,8
28,MATTHEV DAVID,1
29,MATTHEW DAVID,48
30,MATYÁŠ DAVID,29
31,MICHAEL DAVID,64

In [182]:
select PARTY_NAME, count(*) from PART_PARTY where lower(PARTY_NAME) like '%%ing.%%' group by 1 order by 2 desc limit 0,10;

,PARTY_NAME,count(*)
0,Ing. Milan Grygárek,6
1,Ing. JIŘÍ JEŽEK,5
2,ING. MIROSLAV POSPÍŠIL,5
3,Ing. Josef Svoboda,5
4,Ing. Michal Novák,5
5,Ing. Jiří Dvořák,5
6,Ing. Josef Ludvíček,4
7,Ing. Jiří Červenka,4
8,ING. JAROSLAV HROMÁDKA,4
9,Ing. Pavel Urban,4

## Useful Functions

CREATE FUNCTION `4iz562`.`strip`(
    v_chars TEXT
) RETURNS text CHARSET utf8mb4
    NO SQL
    SQL SECURITY INVOKER
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
   
    SET v_retval = replace(v_chars,' ','');
    RETURN v_retval;
END;

In [7]:
select strip('D A V I D') as t1;

,t1
0,DAVID

In [10]:
select REGEXP_REPLACE('/*4588/*-ga+!sdf"','[^a-zA-Z0-9]','') as t1;

,t1
0,4588gasdf

CREATE FUNCTION `4iz562`.`replaceDiacritics`(
    v_chars TEXT
) RETURNS text CHARSET utf8mb4
    NO SQL
    SQL SECURITY INVOKER
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
   
    SET v_retval = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
	trim(v_chars)
	, "Ě", "E")
	, "Š", "S")
	, "Č", "C")
	, "Ř", "R")
	, "Ž", "Z")
	, "Ý", "Z")
	, "Á", "A")
	, "Í", "I")
	, "É", "E")
	, "Ů", "U")
	, "Ú", "U")
	, "Ó", "O")
	, "Ť", "T")
	, "Ň", "N")
	, "Ď", "D")
	, "ě", "e")
	, "š", "s")
	, "č", "c")
	, "ř", "r")
	, "ž", "z")
	, "ý", "y")
	, "á", "a")
	, "í", "i")
	, "é", "e")
	, "ů", "u")
	, "ú", "u")
	, "ó", "o")
	, "ť", "t")
	, "ň", "n")
	, "ď", "d")
	;
    RETURN v_retval;
END;

In [183]:
select replaceDiacritics('Jasoň Psojič Voňavka') as t1;

,t1
0,Jason Psojic Vonavka

CREATE FUNCTION `4iz562`.`proper`(
    v_chars TEXT
) RETURNS text CHARSET utf8mb4
    NO SQL
    SQL SECURITY INVOKER
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
    DECLARE u_token  TEXT DEFAULT '';
    DECLARE u_buffer TEXT DEFAULT '';
    DECLARE u        INT UNSIGNED;
    DECLARE i        INT UNSIGNED;
   

    SET u =  1 + LENGTH(v_chars) - LENGTH(replace(v_chars,' ',''));
    SET i = 1;
   
   SET v_chars = lower(v_chars);
   
    WHILE i <= u
    DO
      SET u_token = substring_index(substring_index(v_chars, ' ', i), ' ', -1);
      SET u_buffer = v_retval;
      SET v_retval = CONCAT(u_buffer, ' ', upper(substr(u_token,1,1)), substr(u_token,2));
      SET i = i + 1;
    END WHILE;

    RETURN v_retval;
END;

In [184]:
select proper('DAVID PEJCOCH') as t1;

,t1
0,David Pejcoch

## Extend the Data Model with _STD columns

In [185]:
alter table PART_PARTY 
add PARTY_RC_STD varchar(10),
add PARTY_FNAME_STD varchar(45),
add PARTY_MNAME_STD varchar(45),
add PARTY_LNAME_STD varchar(45),
add PARTY_TITBEF_STD varchar(10),
add PARTY_TITAFT_STD varchar(10)
;

In [186]:
alter table PARTY_ADDRESS
add ADDR_CODE bigint,
add ADDR_FMCODE char(32),
add ADDR_ZIP_STD integer
;

In [187]:
alter table REF_UIRADR_MERGED
add MCODE_FUZZY char(32)
;

## Week 7 - 13 Standardize

### PART_PARTY

#### PARTY_RC

In [188]:
update PART_PARTY set PARTY_RC_STD = null where 1=1;

In [189]:
update PART_PARTY set PARTY_RC_STD = strip(PARTY_RC) 
where strip(PARTY_RC) regexp '[0-9]{9,10}' = 1
and ((length(strip(PARTY_RC)) = 9 and not DQM_ERR like '%%RC-1-SMACC%%') or (length(strip(PARTY_RC)) = 10 and not DQM_ERR like '%%RC-23-SMACC%%'));

In [190]:
select PARTY_RC_STD from PART_PARTY where PARTY_RC_STD is not null limit 0,10;

,PARTY_RC_STD
0,5704057690
1,5754058679
2,5704058679
3,5754026284
4,5703282190
5,5909233242
6,5909234100
7,5753257950
8,5753251108
9,5703234284

#### PARTY_TITBEF

In [191]:
update PART_PARTY as a
inner join REF_TITBEF as b
on(strip(replace(lower(a.PARTY_TITBEF),'.','')) = strip(replace(lower(b.VALUE),'.','')))
set a.PARTY_TITBEF_STD = b.VALUE;

In [192]:
select PARTY_TITBEF, PARTY_TITBEF_STD from PART_PARTY where PARTY_TITBEF_STD is not null and not PARTY_TITBEF = PARTY_TITBEF_STD limit 0,10;

,PARTY_TITBEF,PARTY_TITBEF_STD
0,MuDr,MUDr.
1,Bc,Bc.
2,prof,Prof.
3,Mgr,Mgr.
4,MUDr,MUDr.
5,Mgr,Mgr.
6,MUDr,MUDr.
7,MuDr,MUDr.
8,Bc,Bc.
9,MuDr,MUDr.

#### PARTY_TITAFT

In [193]:
update PART_PARTY as a
inner join REF_TITAFT as b
on(strip(replace(lower(a.PARTY_TITAFT),'.','')) = strip(replace(lower(b.VALUE),'.','')))
set a.PARTY_TITAFT_STD = b.VALUE;

In [194]:
select PARTY_TITAFT, PARTY_TITAFT_STD from PART_PARTY where PARTY_TITAFT_STD is not null and not PARTY_TITAFT = PARTY_TITAFT_STD limit 0,10;

,PARTY_TITAFT,PARTY_TITAFT_STD
0,PhD,Ph.D.
1,PhD,Ph.D.
2,CsC,CSc.
3,PhD,Ph.D.
4,PhD,Ph.D.
5,CsC,CSc.
6,Csc,CSc.
7,Csc,CSc.
8,Csc,CSc.
9,Csc,CSc.

#### PARTY_FNAME

In [196]:
update PART_PARTY set PARTY_FNAME_STD = proper(split(PARTY_FNAME,' ',1)) where PARTY_TYPE = 'P' and length(split(PARTY_FNAME,' ',1)) > 1;

In [197]:
update PART_PARTY set PARTY_MNAME_STD = proper(split(PARTY_FNAME,' ',2)) where PARTY_TYPE = 'P' and length(split(PARTY_FNAME,' ',2)) > 1 and not proper(split(PARTY_FNAME,' ',2)) = PARTY_FNAME_STD;

In [198]:
select PARTY_FNAME, PARTY_FNAME_STD, PARTY_MNAME_STD from PART_PARTY where PARTY_TYPE = 'P' and not PARTY_MNAME_STD = '' limit 0,10;

,PARTY_FNAME,PARTY_FNAME_STD,PARTY_MNAME_STD
0,THANH NGA,Thanh,Nga
1,MATYÁŠ JAN,Matyáš,Jan
2,OKSANA IVANIVNA,Oksana,Ivanivna
3,THANH HAI,Thanh,Hai
4,THU HA,Thu,Ha
5,HOANG YEN,Hoang,Yen
6,THI SAU,Thi,Sau
7,VAN QUYEN,Van,Quyen
8,THI VAN,Thi,Van
9,QUANG THANG,Quang,Thang

#### PARTY_LNAME

In [199]:
update PART_PARTY set PARTY_LNAME_STD = proper(PARTY_LNAME) where PARTY_TYPE = 'P';

In [200]:
select PARTY_FNAME, PARTY_LNAME, PARTY_FNAME_STD, PARTY_MNAME_STD, PARTY_LNAME_STD from PART_PARTY where PARTY_TYPE = 'P' and not PARTY_MNAME_STD = '' limit 0,10;

,PARTY_FNAME,PARTY_LNAME,PARTY_FNAME_STD,PARTY_MNAME_STD,PARTY_LNAME_STD
0,THANH NGA,ŠEBESTOVÁ,Thanh,Nga,Šebestová
1,MATYÁŠ JAN,KOHOUT,Matyáš,Jan,Kohout
2,OKSANA IVANIVNA,KUCHAŘOVÁ,Oksana,Ivanivna,Kuchařová
3,THANH HAI,MRÁZOVÁ,Thanh,Hai,Mrázová
4,THU HA,VLACHOVÁ,Thu,Ha,Vlachová
5,HOANG YEN,KOPŘIVOVÁ,Hoang,Yen,Kopřivová
6,THI SAU,SOUKUPOVÁ,Thi,Sau,Soukupová
7,VAN QUYEN,BLÁHA,Van,Quyen,Bláha
8,THI VAN,KLIMEŠOVÁ,Thi,Van,Klimešová
9,QUANG THANG,KOLÁŘ,Quang,Thang,Kolář

### PARTY_ADDRESS

#### ADDR_ZIP

In [201]:
update PARTY_ADDRESS set ADDR_ZIP_STD = cast(ADDR_ZIP as signed) where ADDR_ZIP regexp '[0-9]{5}' = 1;

In [202]:
select ADDR_ZIP_STD from PARTY_ADDRESS where ADDR_ZIP_STD is not null limit 0,10;

,ADDR_ZIP_STD
0,51801
1,51801
2,30100
3,30100
4,30100
5,67181
6,25246
7,25246
8,25246
9,66482

In [ ]:
update PARTY_ADDRESS as a
inner join (select distinct psc, strip(concat(lower(substr(coalesce(obec,cobce),1,3)),'_',substr(cast(psc as char(5)),1,4))) as mcode from REF_UIRADR_MERGED) as b
on (
    strip(concat(lower(substr(coalesce(a.ADDR_CITY,'NA'),1,3)),'_',strip(coalesce(ADDR_ZIP,'NA')))) = b.mcode 
    and a.ADDR_ZIP regexp '[0-9]{5}' = 0 
    and b.mcode is not null 
    and a.ADDR_ZIP_STD is null)
set a.ADDR_ZIP_STD = b.psc
;

In [208]:
select count(*) from PARTY_ADDRESS where ADDR_ZIP_STD is not null;

,count(*)
0,935243

In [209]:
select count(*) from PARTY_ADDRESS;

,count(*)
0,955217

In [ ]:
update REF_UIRADR_MERGED set MCODE_FUZZY = md5(
replaceDiacritics(
strip(
lower(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
))))) where 1 = 1;

In [23]:
update PARTY_ADDRESS set ADDR_FMCODE = md5 (
replaceDiacritics(
strip(
lower(
concat(
coalesce(ADDR_ZIP_STD,''),'_',
coalesce(trim(ADDR_STREET),''),'_',
coalesce(trim(ADDR_CITY),'')
))))
    ) where 1 = 1;

In [24]:
CREATE INDEX PARTY_ADDRESS_ADDR_FMCODE_IDX USING BTREE ON `4iz562`.PARTY_ADDRESS (ADDR_FMCODE);

In [25]:
CREATE INDEX REF_UIRADR_MERGED_MCODE_FUZZY_IDX USING BTREE ON `4iz562`.REF_UIRADR_MERGED (MCODE_FUZZY);

In [26]:
update PARTY_ADDRESS as a
inner join REF_UIRADR_MERGED as b
on (b.MCODE_FUZZY = a.ADDR_FMCODE)
set a.ADDR_CODE = b.adresa_kod
where 1 = 1;

SQL Error [1267] [HY000]: Illegal mix of collations (utf8_czech_ci,IMPLICIT) and (utf8_general_ci,IMPLICIT) for operation '='

In [27]:
ALTER TABLE `4iz562`.REF_UIRADR_MERGED MODIFY COLUMN MCODE_FUZZY char(32) CHARACTER SET utf8 COLLATE utf8_general_ci NULL;

In [28]:
update PARTY_ADDRESS as a
inner join REF_UIRADR_MERGED as b
on (b.MCODE_FUZZY = a.ADDR_FMCODE)
set a.ADDR_CODE = b.adresa_kod
where 1 = 1;

In [29]:
select count(*) / (select count(*) from PARTY_ADDRESS) as matched from PARTY_ADDRESS where ADDR_CODE is not null;

,matched
0,0.6139

In [30]:
select replaceDiacritics(
strip(
lower(
concat(
coalesce(ADDR_ZIP_STD,''),'_',
coalesce(trim(ADDR_STREET),''),'_',
coalesce(trim(ADDR_CITY),'')
)))) as mcode from PARTY_ADDRESS where ADDR_ID = 515;

,mcode
0,59442_poddalnici483_merin

In [31]:
select replaceDiacritics(
strip(
lower(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
)))) as mcode from REF_UIRADR_MERGED where psc = 59442 and ulice like '%%Pod dálnicí%%' limit 0,10;

,mcode
0,59442_poddalnici400_merin-merin
1,59442_poddalnici441_merin-merin
2,59442_poddalnici442_merin-merin
3,59442_poddalnici444_merin-merin
4,59442_poddalnici468_merin-merin
5,59442_poddalnici469_merin-merin
6,59442_poddalnici470_merin-merin
7,59442_poddalnici471_merin-merin
8,59442_poddalnici472_merin-merin
9,59442_poddalnici473_merin-merin

In [32]:
update REF_UIRADR_MERGED set MCODE_FUZZY = md5(
replaceDiacritics(
strip(
lower(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null and not trim(obec) = trim(cobce) then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
))))) where 1 = 1;

In [33]:
select replaceDiacritics(
strip(
lower(
concat(
coalesce(psc,''),'_',
coalesce(trim(ulice),''),
coalesce(cisdom_hod,''),
case when cisor_hod is not null and not trim(cisor_hod) = '' then concat('/',coalesce(cisor_hod,'')) else '' end,
case when cisor_pis is not null and not trim(cisor_pis) = '' then concat('',coalesce(cisor_pis,'')) else '' end,
'_',
coalesce(trim(obec),''),
case 
when mcast is not null then
	case when not trim(obec) = '' then concat(' - ',trim(mcast)) else trim(mcast) end
when cobce is not null and not trim(obec) = trim(cobce) then
	case when not trim(obec) = '' then concat(' - ',trim(cobce)) else trim(cobce) end
else ''
end
)))) as mcode from REF_UIRADR_MERGED where psc = 59442 and ulice like '%%Pod dálnicí%%' limit 0,10;

,mcode
0,59442_poddalnici400_merin
1,59442_poddalnici441_merin
2,59442_poddalnici442_merin
3,59442_poddalnici444_merin
4,59442_poddalnici468_merin
5,59442_poddalnici469_merin
6,59442_poddalnici470_merin
7,59442_poddalnici471_merin
8,59442_poddalnici472_merin
9,59442_poddalnici473_merin

In [34]:
update PARTY_ADDRESS as a
inner join REF_UIRADR_MERGED as b
on (b.MCODE_FUZZY = a.ADDR_FMCODE)
set a.ADDR_CODE = b.adresa_kod
where 1 = 1;

In [211]:
select count(*) / (select count(*) from PARTY_ADDRESS) as matched from PARTY_ADDRESS where ADDR_CODE is not null;

## Standardization schema

### Using CASE WHEN

In [216]:
update PARTY_ADDRESS
set TMP_ADDR_STREET_STR_1 =
CASE
when trim(TMP_ADDR_STREET_STR_1) = 'NAM' then 'NÁMĚSTÍ'
when trim(TMP_ADDR_STREET_STR_1) = 'NÁM.' then 'NÁMĚSTÍ'
when trim(TMP_ADDR_STREET_STR_1) = 'SÍDL.' then 'SÍDLIŠTĚ'
when trim(TMP_ADDR_STREET_STR_1) = 'BŘÍ.' then 'BRATŘÍ'
when trim(TMP_ADDR_STREET_STR_1) = 'GEN.' then 'GENERÁLA.'
when trim(TMP_ADDR_STREET_STR_1) = 'NÁB.' then 'NÁBŘEŽÍ'
when trim(TMP_ADDR_STREET_STR_1) = 'AK.' then 'AKADEMIKA'
when trim(TMP_ADDR_STREET_STR_1) = 'AKAD.' then 'AKADEMIKA'
when trim(TMP_ADDR_STREET_STR_1) = 'ANT' then 'ANTONÍNA'
when trim(TMP_ADDR_STREET_STR_1) = 'ANT.' then 'ANTONÍNA'
when trim(TMP_ADDR_STREET_STR_1) = 'BEDŘ.' then 'BEDŘICHA'
when trim(TMP_ADDR_STREET_STR_1) = 'BOŽ.' then 'BOŽENY'
when trim(TMP_ADDR_STREET_STR_1) = 'KPT.' then 'KAPITÁNA'
when trim(TMP_ADDR_STREET_STR_1) = 'FR.' then 'FRANTIŠKA'
when trim(TMP_ADDR_STREET_STR_1) = 'BOH.' then 'BOHUSLAVA'
when trim(TMP_ADDR_STREET_STR_1) = 'UL.' then 'ULICE'
else trim(TMP_ADDR_STREET_STR_1)
end
;

In [217]:
update PARTY_ADDRESS_WRK
set TMP_ADDR_CITY =
case 
when trim(ADDR_CITY) = 'BRANDÝS N L' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS N L ST BOLESLAV' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS N LABEM' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS N.L.-ST. BOLESLAV' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs n.L.-St.Bolesl.' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs n.Labem-St.Bol.' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs n/Labem-Stará Bol' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS NAD LABEM' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs nad Labem-Stará B' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'Brandýs nad Labem-Stará Boleslav' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDÝS NAD LABEMSTARÁ B' then 'Brandýs n. Labem - St. Bol.'
when trim(ADDR_CITY) = 'BRANDŽS NAD LABEM' then 'Brandýs n. Labem - St. Bol.'
else trim(ADDR_CITY)
end
;

# Week 8 MySQL Imputation

In [46]:
mysql://student:student@localhost:3306;

In [47]:
use 4iz562;

## Derived Column

In [218]:
select count(*) from PART_PARTY where PARTY_DOFBIRTH is null and PARTY_TYPE ='P';

,count(*)
0,2655

In [219]:
ALTER TABLE `4iz562`.PART_PARTY ADD PARTY_DOFBIRTH_STD DATE NULL;

In [220]:
update PART_PARTY set PARTY_DOFBIRTH_STD = PARTY_DOFBIRTH where PARTY_TYPE = 'P' and DQM_ERR not like '%%RC-3-INCNS%%';

In [221]:
select (select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) /  count(*) from PART_PARTY where PARTY_TYPE = 'P';

,(select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) / count(*)
0,0.0479

In [222]:
update PART_PARTY
set PARTY_DOFBIRTH_STD =
 str_to_date(
 concat(   
 case when length(trim(PARTY_RC)) = 10 and trim(substr(PARTY_RC,1,2)) * 1 < 54
 then concat('20',trim(substr(PARTY_RC,1,2)))
 else concat('19',trim(substr(PARTY_RC,1,2)))
 end, '-',
 case when cast(trim(substr(PARTY_RC,3,2)) as signed) > 12 then cast(cast(trim(substr(PARTY_RC,3,2)) as signed) - 50 as char(2)) else trim(substr(PARTY_RC,3,2)) end, '-',
 trim(substr(PARTY_RC,5,2))
 )
 , '%%Y-%%m-%%d')
 where
 party_type = 'P'
 and PARTY_RC REGEXP '[0-9]+'
 and PARTY_DOFBIRTH_STD is null
 and DQM_ERR not like '%%RC-2-SMACC%%'
 and DQM_ERR not like '%%RC-1-SMACC%%' 
;

In [223]:
select (select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) /  count(*) from PART_PARTY where PARTY_TYPE = 'P';

,(select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) / count(*)
0,0.0627

In [224]:
update PART_PARTY
set PARTY_DOFBIRTH_STD = PARTY_DOFBIRTH
where PARTY_DOFBIRTH_STD is null
and str_to_date(cast(PARTY_DOFBIRTH as char(10)), '%%Y-%%m-%%d') is not null
;

In [225]:
select (select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) /  count(*) from PART_PARTY where PARTY_TYPE = 'P';

,(select count(*) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_DOFBIRTH_STD is not null) / count(*)
0,0.9901

## Lookup / Merge / Join

update t1
inner join t2
(on t1.a1 = t2.a1)
set t1.a2 = t2.a2
where t1.a2 is null or t1.a2 = ''
;

## Fuzzy Join

### Why NOT to use phonetic algorithms for fuzzy join

In [50]:
select a.PARTY_NAME, a.PARTY_CREGNUM, soundex(a.PARTY_NAME), b.FIRMA, b.ICO
from PART_PARTY as a
inner join REF_RES as b
on (soundex(a.PARTY_NAME) = soundex(b.FIRMA))
where a.PARTY_TYPE = 'C' limit 0,10;

,PARTY_NAME,PARTY_CREGNUM,soundex(a.PARTY_NAME),FIRMA,ICO
0,"ZPS, a.s.",00009393,Z120,ZVVZ a. s.,00009041
1,"DEZA, a.s.",00011835,D200,"DEZA, a.s.",00011835
2,OBVODNÍ SOUD PRO PRAHU 8,00024457,O135231616,Obvodní soud pro Prahu 1,00024384
3,OBVODNÍ SOUD PRO PRAHU 8,00024457,O135231616,Obvodní soud pro Prahu 2,00024392
4,OBVODNÍ SOUD PRO PRAHU 8,00024457,O135231616,Obvodní soud pro Prahu 3,00024406
5,OBVODNÍ SOUD PRO PRAHU 8,00024457,O135231616,Obvodní soud pro Prahu 4,00024414
6,OBVODNÍ SOUD PRO PRAHU 8,00024457,O135231616,Obvodní soud pro Prahu 5,00024422
7,OBVODNÍ SOUD PRO PRAHU 8,00024457,O135231616,Obvodní soud pro Prahu 6,00024431
8,OBVODNÍ SOUD PRO PRAHU 8,00024457,O135231616,Obvodní soud pro Prahu 7,00024449
9,OBVODNÍ SOUD PRO PRAHU 8,00024457,O135231616,Obvodní soud pro Prahu 8,00024457

(pymysql.err.OperationalError) (1267, "Illegal mix of collations (utf8_czech_ci,IMPLICIT) and (utf8_general_ci,IMPLICIT) for operation '='") [SQL: select a.PARTY_NAME, a.PARTY_CREGNUM, soundex(a.PARTY_NAME), b.FIRMA, b.ICO from PART_PARTY as a inner join REF_RES as b on (soundex(a.PARTY_NAME) = soundex(b.FIRMA)) where a.PARTY_TYPE = 'C' limit 0,10] (Background on this error at: https://sqlalche.me/e/14/e3q8)

### What does work in some SQL dialects but not in MySQL

In [52]:
select a.PARTY_NAME, a.PARTY_CREGNUM, STRCMP(a.PARTY_NAME, b.FIRMA), b.FIRMA, b.ICO
from PART_PARTY as a
inner join REF_RES as b
on (ABS(STRCMP(a.PARTY_NAME, b.FIRMA)) < 2 )
where a.PARTY_TYPE = 'C' limit 0,10;

,PARTY_NAME,PARTY_CREGNUM,"STRCMP(a.PARTY_NAME, b.FIRMA)",FIRMA,ICO
0,Zdeněk ANTL - AsL Centrum,11223375,1,Lesní správa Lány,00000078
1,Petr Lachnit JUDr.,11222999,1,Lesní správa Lány,00000078
2,Pavel Hašlar,11222981,1,Lesní správa Lány,00000078
3,Ing. Ctibor LUSK,11222808,-1,Lesní správa Lány,00000078
4,BPRECKÝ - BEZET,11221020,-1,Lesní správa Lány,00000078
5,Yveta PRACHOVÁ,11219505,1,Lesní správa Lány,00000078
6,KAREL GRLAK-ZEDNICTVÍ,11218690,-1,Lesní správa Lány,00000078
7,Martin Bělohradský,11218428,1,Lesní správa Lány,00000078
8,Jaroslav Kubín,11218207,-1,Lesní správa Lány,00000078
9,Vladimír SEDLÁČEK,11218088,1,Lesní správa Lány,00000078

### What works in SAS PROC SQL

proc sql;
select t1.*, t2.*
from t1, t2
where t1.a =* t2.a
;
quit;

proc sql;
select t1.*, t2.*
from t1, t2
where
spedis(t1.a,t2.a) < 10
;
quit;

## Simple Imputation

In [226]:
select 
AVG(PARTY_AGE) as mean, 
(floor(18 + RAND() * 80)) as random, 
(MAX(PARTY_AGE) - MIN(PARTY_AGE)) / 2 as midrange
from PART_PARTY
where PARTY_TYPE = 'P'
and PARTY_AGE is not null;

,mean,random,midrange
0,45.6612,64.0,41.5

In [227]:
select (floor(18 + RAND() * 80)) as random
from PART_PARTY
where PARTY_TYPE = 'P' limit 0,10
;

,random
0,92.0
1,93.0
2,92.0
3,83.0
4,42.0
5,22.0
6,45.0
7,64.0
8,85.0
9,55.0

# Week 11 MySQL Enhancement

## Interesting facts about RUIAN

### Streets with potential swap in numbers

#### cp = cor OR cor = cp

In [ ]:
select count(*) from
(select psc, ulice, obec, cisdom_hod, cisor_hod from REF_UIRADR_MERGED where cisdom_hod is not null and cisor_hod is not null) as a
inner join 
(select psc, ulice, obec, cisdom_hod, cisor_hod from REF_UIRADR_MERGED where cisdom_hod is not null and cisor_hod is not null) as b
on (a.psc = b.psc and a.obec = b.obec and a.ulice = b.ulice and (a.cisdom_hod = b.cisor_hod or a.cisor_hod = b.cisdom_hod))
;

#### cp = cor AND cor = cp

In [10]:
select count(*) from
(select psc, ulice, obec, cisdom_hod, cisor_hod from REF_UIRADR_MERGED where cisdom_hod is not null and cisor_hod is not null) as a
inner join 
(select psc, ulice, obec, cisdom_hod, cisor_hod from REF_UIRADR_MERGED where cisdom_hod is not null and cisor_hod is not null) as b
on (a.psc = b.psc and a.obec = b.obec and a.ulice = b.ulice and a.cisdom_hod = b.cisor_hod and a.cisor_hod = b.cisdom_hod)
;

,count(*)
0,1209

#### Examples

In [11]:
select a.* from
(select psc, ulice, obec, cisdom_hod, cisor_hod from REF_UIRADR_MERGED where cisdom_hod is not null and cisor_hod is not null) as a
inner join 
(select psc, ulice, obec, cisdom_hod, cisor_hod from REF_UIRADR_MERGED where cisdom_hod is not null and cisor_hod is not null) as b
on (a.psc = b.psc and a.obec = b.obec and a.ulice = b.ulice and a.cisdom_hod = b.cisor_hod and a.cisor_hod = b.cisdom_hod) limit 0,20;

,psc,ulice,obec,cisdom_hod,cisor_hod
0,40753,Náměstí,Jiříkov,4,3
1,40753,Náměstí,Jiříkov,3,4
2,40753,Tylova,Jiříkov,14,14
3,40753,Františkova,Jiříkov,12,12
4,40753,Františkova,Jiříkov,13,13
5,40801,Šluknovská,Rumburk,26,24
6,40801,Šluknovská,Rumburk,24,26
7,40801,U potoka,Rumburk,4,3
8,40801,U potoka,Rumburk,3,4
9,40801,U potoka,Rumburk,7,7
10,40801,U potoka,Rumburk,11,11
11,40801,Rolnická,Rumburk,16,16
12,40502,Masarykovo nám.,Děčín,1,1
13,40502,Masarykovo nám.,Děčín,3,3
14,40502,Litoměřická,Děčín,158,158
15,40502,U Obory,Děčín,1,1
16,40502,Jelení,Děčín,57,57
17,40502,Sněžnická,Děčín,36,36
18,40502,Obvodová,Děčín,30,30
19,40502,Oldřichovská,Děčín,55,55

In [20]:
select a.* from
(select psc, ulice, obec, cisdom_hod, cisor_hod from REF_UIRADR_MERGED where cisdom_hod is not null and cisor_hod is not null and ulice = 'Vinohradská') as a
inner join 
(select psc, ulice, obec, cisdom_hod, cisor_hod from REF_UIRADR_MERGED where cisdom_hod is not null and cisor_hod is not null and ulice = 'Vinohradská') as b
on (a.psc = b.psc and a.obec = b.obec and a.ulice = b.ulice and (a.cisdom_hod = b.cisor_hod or a.cisor_hod = b.cisdom_hod))
where substr(a.psc,1,1) = '1';

,psc,ulice,obec,cisdom_hod,cisor_hod
0,12000,Vinohradská,Praha,1596,29
1,12000,Vinohradská,Praha,34,30
2,12000,Vinohradská,Praha,1215,32
3,12000,Vinohradská,Praha,1420,33
4,12000,Vinohradská,Praha,1253,34
5,12000,Vinohradská,Praha,30,75
6,12000,Vinohradská,Praha,937,35
7,12000,Vinohradská,Praha,938,37
8,12000,Vinohradská,Praha,35,25
9,12000,Vinohradská,Praha,37,13
10,12000,Vinohradská,Praha,32,91
11,12000,Vinohradská,Praha,34,30
12,12000,Vinohradská,Praha,33,89
13,12000,Vinohradská,Praha,29,93
14,13000,Vinohradská,Praha,707,86
15,13000,Vinohradská,Praha,111,109
16,13000,Vinohradská,Praha,788,88
17,13000,Vinohradská,Praha,90,92
18,13000,Vinohradská,Praha,89,90
19,13000,Vinohradská,Praha,86,111
20,13000,Vinohradská,Praha,86,111
21,13000,Vinohradská,Praha,88,115
22,13000,Vinohradská,Praha,76,68
23,13000,Vinohradská,Praha,102,96
24,13000,Vinohradská,Praha,112,101
25,13000,Vinohradská,Praha,120,103
26,13000,Vinohradská,Praha,137,105
27,13000,Vinohradská,Praha,1678,76
28,13000,Vinohradská,Praha,1720,102
29,13000,Vinohradská,Praha,1899,112
30,13000,Vinohradská,Praha,2178,120
31,13000,Vinohradská,Praha,1874,137

### Streets in multiple cities

In [23]:
select ulice, count(distinct obec) as cnt
from REF_UIRADR_MERGED 
where ulice is not null and obec is not null 
group by 1 order by 2 desc limit 0,20;

,ulice,cnt
0,Zahradní,613
1,Nádražní,492
2,Krátká,468
3,Školní,422
4,Komenského,378
5,Polní,376
6,Husova,340
7,Družstevní,336
8,Tyršova,328
9,Nová,323
10,Luční,320
11,Jiráskova,319
12,Havlíčkova,310
13,Smetanova,277
14,Lesní,273
15,Palackého,270
16,Sadová,267
17,Nerudova,267
18,Žižkova,236
19,Příčná,235

## Geocoding

### Distance Calculation

In [5]:
select abs(12742*asin(power(cos(radians(-0.315535))*cos(radians(-0.315535))*(1 - cos(radians(51.454115) - radians(51.454115)))/2, 0.5))) as distance

,distance
0,0.0

# Week 11 MySQL Match / Merge

## Customer Deduplication

In [234]:
drop table if exists WRK_CDI;

Create index for all instances of PARTY_ID, ADDR_TYPE, CONT_TYPE in tabes present in the query!!!!

In [235]:
create table WRK_CDI as 
select 
a.PARTY_ID, 
a.PARTY_TYPE,
a.PARTY_LNAME_STD,
a.PARTY_FNAME_STD,
a.PARTY_NAME,
a.PARTY_RC,
a.PARTY_CREGNUM,
a.PARTY_GENDER,
a.PARTY_DOFBIRTH_STD,
b.ADDR_CODE as ADDR_PERM,
c.ADDR_CODE as ADDR_CORR,
d.ADDR_CODE as ADDR_OTHER,
e.CONT_VALUE as CONT_EMAIL,
f.CONT_VALUE as CONT_MOBILE,
g.PARTY_SINCE,
g.CONTR_LATEST_START,
g.CONTR_CNT,
a.DQM_VALID_SCORE + b.DQM_VALID_SCORE + c.DQM_VALID_SCORE + d.DQM_VALID_SCORE + e.DQM_VALID_SCORE + f.DQM_VALID_SCORE as DQM_VALID_SCORE
from PART_PARTY as a
left outer join (select PARTY_ID, ADDR_CODE, DQM_VALID_SCORE from PARTY_ADDRESS where ADDR_TYPE = 'P') as b
on (a.PARTY_ID = b.PARTY_ID)
left outer join (select PARTY_ID, ADDR_CODE, DQM_VALID_SCORE from PARTY_ADDRESS where ADDR_TYPE = 'C') as c
on (a.PARTY_ID = c.PARTY_ID)
left outer join (select PARTY_ID, ADDR_CODE, DQM_VALID_SCORE from PARTY_ADDRESS where ADDR_TYPE = 'O') as d
on (a.PARTY_ID = d.PARTY_ID)
left outer join (select PARTY_ID, CONT_VALUE, DQM_VALID_SCORE from PARTY_CONTACT where CONT_TYPE = 'E') as e
on (a.PARTY_ID = e.PARTY_ID)
left outer join (select PARTY_ID, CONT_VALUE, DQM_VALID_SCORE from PARTY_CONTACT where CONT_TYPE = 'M') as f
on (a.PARTY_ID = f.PARTY_ID)
left outer join (select PARTY_ID, min(CNTR_VALIDFROM) as PARTY_SINCE, max(CNTR_VALIDFROM) as CONTR_LATEST_START, count(*) as CONTR_CNT from PROD_CONTRACT group by 1) as g
on (a.PARTY_ID = g.PARTY_ID)
;

In [115]:
alter table WRK_CDI add CUST_MCODE char(32);

In [119]:
update WRK_CDI
set CUST_MCODE = md5(
 case
 when not PARTY_RC = '' or not PARTY_CREGNUM = '' 
    then concat(coalesce(strip(PARTY_RC), strip(PARTY_CREGNUM)))
 when PARTY_DOFBIRTH_STD is not null and not PARTY_LNAME_STD = '' and not PARTY_FNAME_STD = '' and not CONT_EMAIL = '' and PARTY_TYPE = 'P' 
    then concat(PARTY_DOFBIRTH_STD,'_',PARTY_LNAME_STD,'_',PARTY_FNAME_STD,'_',CONT_EMAIL)
 end
) where 1=1;

In [122]:
select CUST_MCODE, PARTY_RC, PARTY_DOFBIRTH_STD, PARTY_LNAME_STD, PARTY_FNAME_STD, CONT_EMAIL, DQM_VALID_SCORE, PARTY_SINCE, CONTR_CNT from WRK_CDI
 where CUST_MCODE in (
    select CUST_MCODE from (
        select CUST_MCODE, count(*) from WRK_CDI where PARTY_TYPE = 'P' and CUST_MCODE is not null and not CUST_MCODE = '' group by 1 having count(*) > 1
    ) as a) order by CUST_MCODE limit 0,10;

,CUST_MCODE,PARTY_RC,PARTY_DOFBIRTH_STD,PARTY_LNAME_STD,PARTY_FNAME_STD,CONT_EMAIL,DQM_VALID_SCORE,PARTY_SINCE,CONTR_CNT
0,000060ba94aa9e3a88bd2fce255a61b0,325523359,1932-05-23,Blažková,Ž,ze a.blazkovi@gmail.cz,NaN,2010-10-05,1
1,000060ba94aa9e3a88bd2fce255a61b0,325523359,1932-05-23,Blažková,Žeňa,ze a@blazkovi.cz,NaN,2010-07-01,5
2,000060ba94aa9e3a88bd2fce255a61b0,325523359,2010-09-17,Blažková,Žeňa,zblazkovi@gmail.cz,NaN,2011-01-17,1
3,000173d4df06b53259ececc157c1b771,7558114173,1975-08-11,Polášková,Táňa,ti a_poliskovi@yahoo.com,0.4,2010-06-03,5
4,000173d4df06b53259ececc157c1b771,7558114173,1975-08-11,Polášková,Táňa,tpoliskovi@gmail.cz,0.4,2012-04-16,1
5,000173d4df06b53259ececc157c1b771,7558114173,1975-08-11,Polášková,Táňa,ti a&poliskovi#gmail&com,0.5,2010-07-24,2
6,0001c390cf62d9ff71d84b2ec6a0d3bc,7962213948,1979-12-21,Růžičková,Adam,aruzickovi@seznam.cz,0.7,2011-09-06,1
7,0001c390cf62d9ff71d84b2ec6a0d3bc,7962213948,1979-12-21,Růzičková,Adam,aruzickovi@volny.cz,0.9,2010-07-11,5
8,00034cbd86c75e0b61576e4eaf571e7f,515821037,1951-08-21,Burešová,Lesana,lesana@buresovi.cz,NaN,2011-01-09,5
9,00034cbd86c75e0b61576e4eaf571e7f,515821037,1951-08-21,Burešová,Lesana,lesana.buresovi@yahoo.com,NaN,2011-04-17,2

## Householding

### Harmonize the Last Names

In [51]:
select REGEXP_REPLACE('Janovská', "ovská", "ovský", length('Janovská')-5) as SHORT_NAME

,SHORT_NAME
0,Janovský

In [53]:
select substr(trim(PARTY_LNAME_STD),-3) as ova, count(*) as freq 
from WRK_CDI 
where PARTY_GENDER = 'F' 
group by 1 order by 2 desc;

,ova,freq
0,ová,138728
1,tná,1348
2,chá,1273
3,rná,1235
4,olá,707
5,alá,678
6,ubá,675
7,čná,666
8,rká,663
9,ivá,644
10,ená,638
11,uhá,637
12,cká,634
13,elá,617
14,tká,608
15,ará,590
16,ská,564

In [54]:
select substr(trim(PARTY_LNAME_STD),-4) as ova, count(*) as freq 
from WRK_CDI 
where PARTY_GENDER = 'F' 
and substr(trim(PARTY_LNAME_STD),-3) = 'ová'
group by 1 order by 2 desc;

,ova,freq
0,ková,71059
1,lova,8732
2,nová,8677
3,rová,6911
4,šová,6373
5,cová,5144
6,hova,4540
7,dova,4493
8,tová,4466
9,řová,4401
10,mová,3108
11,čová,2641
12,pová,2539
13,bová,1846
14,žová,1276
15,sová,637
16,fová,631
17,vová,627
18,zová,598
19,yová,27
20,iová,2

In [28]:
alter table WRK_CDI add PARTY_LNAME_HSHLD varchar(50);

In [104]:
update WRK_CDI set PARTY_LNAME_HSHLD = trim(PARTY_LNAME_STD) where PARTY_TYPE = 'P';

In [105]:
update WRK_CDI 
set PARTY_LNAME_HSHLD = trim(REGEXP_REPLACE(strip(PARTY_LNAME_STD), "čová", "č", length(replaceDiacritics(PARTY_LNAME_STD))-4))
where PARTY_TYPE = 'P' and strip(PARTY_LNAME_STD) like '%%čová%%';

In [106]:
update WRK_CDI 
set PARTY_LNAME_HSHLD = trim(REGEXP_REPLACE(strip(PARTY_LNAME_STD), "ovská", "ovský", length(replaceDiacritics(PARTY_LNAME_STD))-5))
where PARTY_TYPE = 'P' and strip(PARTY_LNAME_STD) like '%%ovská%%';

In [107]:
update WRK_CDI 
set PARTY_LNAME_HSHLD = trim(REGEXP_REPLACE(strip(PARTY_LNAME_STD), "dová", "da", length(replaceDiacritics(PARTY_LNAME_STD))-4))
where PARTY_TYPE = 'P' and strip(PARTY_LNAME_STD) like '%%dová%%';

In [108]:
update WRK_CDI 
set PARTY_LNAME_HSHLD = trim(REGEXP_REPLACE(strip(PARTY_LNAME_STD), "dká", "dký", length(replaceDiacritics(PARTY_LNAME_STD))-3))
where PARTY_TYPE = 'P' and strip(PARTY_LNAME_STD) like '%%dká%%';

In [109]:
update WRK_CDI 
set PARTY_LNAME_HSHLD = trim(REGEXP_REPLACE(strip(PARTY_LNAME_STD), "sá", "sý", length(replaceDiacritics(PARTY_LNAME_STD))-2))
where PARTY_TYPE = 'P' and strip(PARTY_LNAME_STD) like '%%sá%%';

In [110]:
update WRK_CDI 
set PARTY_LNAME_HSHLD = trim(REGEXP_REPLACE(strip(PARTY_LNAME_STD), "há", "hý", length(replaceDiacritics(PARTY_LNAME_STD))-2))
where PARTY_TYPE = 'P' and strip(PARTY_LNAME_STD) like '%%há%%';

In [111]:
update WRK_CDI 
set PARTY_LNAME_HSHLD = trim(REGEXP_REPLACE(strip(PARTY_LNAME_STD), "lová", "la", length(replaceDiacritics(PARTY_LNAME_STD))-4))
where PARTY_TYPE = 'P' and strip(PARTY_LNAME_STD) like '%%lová%%';

### Household Identification

In [58]:
alter table WRK_CDI
 add HSHLD_ADDR_CODE bigint,
 add HSHLD_MCODE char(32)
;

In [90]:
update WRK_CDI set HSHLD_MCODE = '' where 1=1;

In [59]:
update WRK_CDI
set HSHLD_ADDR_CODE = 
case
when ADDR_CORR is not null then ADDR_CORR
when ADDR_PERM is not null then ADDR_PERM
else ADDR_OTHER
end;

In [113]:
update WRK_CDI
set HSHLD_MCODE = md5(concat(coalesce(HSHLD_ADDR_CODE,''),'_',coalesce(trim(PARTY_LNAME_HSHLD),'')))
where PARTY_TYPE = 'P' and HSHLD_ADDR_CODE is not null;

In [114]:
select HSHLD_MCODE, HSHLD_ADDR_CODE, PARTY_LNAME_STD, PARTY_FNAME_STD
from WRK_CDI 
where HSHLD_MCODE in (
    select HSHLD_MCODE from (
        select HSHLD_MCODE, count(distinct PARTY_FNAME_STD) from WRK_CDI where HSHLD_MCODE is not null and not HSHLD_MCODE = '' group by 1 having count(distinct PARTY_FNAME_STD) > 1
    ) as a) order by HSHLD_MCODE limit 0,10;

,HSHLD_MCODE,HSHLD_ADDR_CODE,PARTY_LNAME_STD,PARTY_FNAME_STD
0,00bb1eb22470008a3148f9250e8cc1a9,20407122,Kalina,Věněk
1,00bb1eb22470008a3148f9250e8cc1a9,20407122,Kalina,Vjeněk
2,00bb1eb22470008a3148f9250e8cc1a9,20407122,Kalina,Věněk
3,00bd902b88d66a2db98309c47c8d5f17,12584126,Martínková,Šimona
4,00bd902b88d66a2db98309c47c8d5f17,12584126,Martínková,Šimona
5,00bd902b88d66a2db98309c47c8d5f17,12584126,Martínková,Š
6,0117b7116221fb96a7724a8079e2f502,10093648,Janeček,Vjekoslav
7,0117b7116221fb96a7724a8079e2f502,10093648,Janeček,Věkoslav
8,014b237a84db2bbc109eadf93a2b88fc,20452390,Pešek,Ą
9,014b237a84db2bbc109eadf93a2b88fc,20452390,Pešek,Ąuboslav