# Week 1

In [136]:
mysql://student:student123@localhost:3306

In [137]:
show databases;

,Database
0,4iz562
1,information_schema
2,mysql
3,performance_schema
4,sys

In [139]:
use 4iz562;

In [140]:
show tables;

,Tables_in_4iz562
0,DQM_ISSUES
1,DQM_MDR
2,LOV_ADDR_TYPE
3,LOV_CONT_TYPE
4,LOV_COUNTRY
5,LOV_ESA95
6,LOV_GENDER
7,LOV_OKEC
8,LOV_PARTY_TYPE
9,LOV_PMT_FREQ
10,LOV_PRODUCT_CAT
11,PARTY_ADDRESS
12,PARTY_CONTACT
13,PART_PARTY
14,PRODUCT_CATALOGUE
15,PROD_CONTRACT
16,REF_CALENDAR
17,REF_FNAME
18,REF_LNAME
19,REF_NACE
20,REF_PARTY_CREGNUM
21,REF_RES
22,REF_TITAFT
23,REF_TITBEF
24,REF_UIRADR_ADRESA
25,REF_UIRADR_MERGED

In [5]:
describe table PART_PARTY;

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PART_PARTY,None,ALL,None,None,None,None,383131,100.0,None

# Week 2

In [6]:
drop table if exists DQM_MDR;

create table DQM_MDR as  
select 
table_schema,
table_name,
column_name, 
column_default,
data_type,
column_type,
collation_name,
column_comment
from information_schema.columns 
where table_schema='4iz562' 
and table_name in (
    'PART_PARTY',
    'PARTY_ADDRESS',
    'PARTY_CONTACT',
    'PROD_CONTRACT'
    )
order by table_schema, table_name, ordinal_position;

In [7]:
alter table DQM_MDR
add CHAR_SEM_ACC decimal(18,10),
add CHAR_SYN_ACC decimal(18,10),
add CHAR_COM decimal(18,10),
add CHAR_INT_CON decimal(18,10),
add CHAR_EXT_CON decimal(18,10)
;

In [9]:
describe DQM_MDR;

,Field,Type,Null,Key,Default,Extra
0,TABLE_SCHEMA,varchar(64),NO,,None,
1,TABLE_NAME,varchar(64),NO,,None,
2,COLUMN_NAME,varchar(64),YES,,None,
3,COLUMN_DEFAULT,text,YES,,None,
4,DATA_TYPE,longtext,YES,,None,
5,COLUMN_TYPE,mediumtext,NO,,None,
6,COLLATION_NAME,varchar(64),YES,,None,
7,COLUMN_COMMENT,text,NO,,None,
8,CHAR_SEM_ACC,"decimal(18,10)",YES,,None,
9,CHAR_SYN_ACC,"decimal(18,10)",YES,,None,
10,CHAR_COM,"decimal(18,10)",YES,,None,
11,CHAR_INT_CON,"decimal(18,10)",YES,,None,
12,CHAR_EXT_CON,"decimal(18,10)",YES,,None,

In [10]:
update DQM_MDR set CHAR_INT_CON = 1, CHAR_EXT_CON = 1 where 1 = 1;

In [11]:
 update DQM_MDR set CHAR_COM = 1 where 
(TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_ID')
 or 
(TABLE_NAME = 'PARTY_ADDRESS' and COLUMN_NAME = 'ADDRESS_ID')
 or   
(TABLE_NAME = 'PARTY_CONTACT' and COLUMN_NAME = 'CONT_ID')
 or   
(TABLE_NAME = 'PROD_CONTRACT' and COLUMN_NAME = 'CNTR_ID')
;

In [12]:
select count(*) into @part_party_count from PART_PARTY;

In [13]:
select count(*) into @part_party_p_count from PART_PARTY where PARTY_TYPE = 'P';

In [14]:
select count(*) into @part_party_c_count from PART_PARTY where PARTY_TYPE = 'C';

In [15]:
select 
@part_party_count,
@part_party_p_count,
@part_party_c_count;

,@part_party_count,@part_party_p_count,@part_party_c_count
0,383131,263783,119348

In [16]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_count 
from PART_PARTY 
where (PARTY_TYPE is not null or not PARTY_TYPE = '')
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_TYPE';

In [17]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_count 
from PART_PARTY 
where (PARTY_COUNTRY is not null or not PARTY_COUNTRY = '')
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_COUNTRY';

In [18]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_count 
from PART_PARTY 
where (PARTY_SINCE is not null)
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_SINCE';

In [19]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_count 
from PART_PARTY 
where (PARTY_ESA95 is not null or not PARTY_ESA95 = '')
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_ESA95';

In [20]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_FNAME is not null or not PARTY_FNAME = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_FNAME';

In [21]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_FNAME is not null or not PARTY_FNAME = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_FNAME';

In [22]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_LNAME is not null or not PARTY_LNAME = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_LNAME';

In [23]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_RC is not null or not PARTY_RC = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_RC';

In [24]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_AGE is not null or not PARTY_AGE = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_AGE';

In [25]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_POFBIRTH is not null or not PARTY_POFBIRTH = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_POFBIRTH';

In [26]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_GENDER is not null or not PARTY_GENDER = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_GENDER';

In [27]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_DOFBIRTH is not null) and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_DOFBIRTH';

In [28]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_TITBEF is not null or not PARTY_TITBEF = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_TITBEF';

In [29]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_p_count 
from PART_PARTY 
where (PARTY_TITAFT is not null or not PARTY_TITAFT = '') and PARTY_TYPE = 'P'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_TITAFT';

In [30]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_c_count 
from PART_PARTY 
where (PARTY_CREGNUM is not null or not PARTY_CREGNUM = '') and PARTY_TYPE = 'C'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_CREGNUM';

In [31]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_c_count 
from PART_PARTY 
where (PARTY_NAME is not null or not PARTY_NAME = '') and PARTY_TYPE = 'C'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_NAME';

In [32]:
update DQM_MDR
set CHAR_COM = (
select count(*) / @part_party_c_count 
from PART_PARTY 
where (PARTY_FORM is not null or not PARTY_FORM = '') and PARTY_TYPE = 'C'
)
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_FORM';

In [33]:
select 
TABLE_NAME, 
COLUMN_NAME,  
CHAR_SEM_ACC,
CHAR_SYN_ACC,
CHAR_COM,
CHAR_INT_CON,
CHAR_EXT_CON
from DQM_MDR;

,TABLE_NAME,COLUMN_NAME,CHAR_SEM_ACC,CHAR_SYN_ACC,CHAR_COM,CHAR_INT_CON,CHAR_EXT_CON
0,PARTY_ADDRESS,ADDR_ID,None,None,NaN,1.0,1.0
1,PARTY_ADDRESS,PARTY_ID,None,None,NaN,1.0,1.0
2,PARTY_ADDRESS,ADDR_TYPE,None,None,NaN,1.0,1.0
3,PARTY_ADDRESS,ADDR_COUNTRY,None,None,NaN,1.0,1.0
4,PARTY_ADDRESS,ADDR_CITY,None,None,NaN,1.0,1.0
5,PARTY_ADDRESS,ADDR_STREET,None,None,NaN,1.0,1.0
6,PARTY_ADDRESS,ADDR_NUM1,None,None,NaN,1.0,1.0
7,PARTY_ADDRESS,ADDR_NUM2,None,None,NaN,1.0,1.0
8,PARTY_ADDRESS,ADDR_ZIP,None,None,NaN,1.0,1.0
9,PARTY_CONTACT,CONT_ID,None,None,1.000000,1.0,1.0
10,PARTY_CONTACT,PARTY_ID,None,None,NaN,1.0,1.0
11,PARTY_CONTACT,CONT_TYPE,None,None,NaN,1.0,1.0
12,PARTY_CONTACT,CONT_PRIMARY_FLG,None,None,NaN,1.0,1.0
13,PARTY_CONTACT,CONT_VALUE,None,None,NaN,1.0,1.0
14,PART_PARTY,PARTY_ID,None,None,1.000000,1.0,1.0
15,PART_PARTY,PARTY_TYPE,None,None,1.000000,1.0,1.0
16,PART_PARTY,PARTY_FNAME,None,None,1.000000,1.0,1.0
17,PART_PARTY,PARTY_LNAME,None,None,1.000000,1.0,1.0
18,PART_PARTY,PARTY_NAME,None,None,1.000000,1.0,1.0
19,PART_PARTY,PARTY_FORM,None,None,0.930900,1.0,1.0
20,PART_PARTY,PARTY_CREGNUM,None,None,1.000000,1.0,1.0
21,PART_PARTY,PARTY_RC,None,None,1.000000,1.0,1.0
22,PART_PARTY,PARTY_COUNTRY,None,None,1.000000,1.0,1.0
23,PART_PARTY,PARTY_POFBIRTH,None,None,1.000000,1.0,1.0
24,PART_PARTY,PARTY_AGE,None,None,0.989833,1.0,1.0
25,PART_PARTY,PARTY_GENDER,None,None,0.979802,1.0,1.0
26,PART_PARTY,PARTY_DOFBIRTH,None,None,0.989935,1.0,1.0
27,PART_PARTY,PARTY_TITBEF,None,None,0.166656,1.0,1.0
28,PART_PARTY,PARTY_TITAFT,None,None,0.041902,1.0,1.0
29,PART_PARTY,PARTY_ESA95,None,None,0.311507,1.0,1.0
30,PART_PARTY,PARTY_OKEC,None,None,NaN,1.0,1.0
31,PART_PARTY,PARTY_SINCE,None,None,0.929852,1.0,1.0
32,PROD_CONTRACT,CNTR_ID,None,None,1.000000,1.0,1.0
33,PROD_CONTRACT,PARTY_ID,None,None,NaN,1.0,1.0
34,PROD_CONTRACT,PRODUCT_CODE,None,None,NaN,1.0,1.0
35,PROD_CONTRACT,CNTR_VALIDFROM,None,None,NaN,1.0,1.0
36,PROD_CONTRACT,CNTR_VALIDTO,None,None,NaN,1.0,1.0
37,PROD_CONTRACT,CNTR_CANCTYPE,None,None,NaN,1.0,1.0
38,PROD_CONTRACT,CNTR_PAY_FREQ,None,None,NaN,1.0,1.0

# Week 3

In [34]:
select count(*) from (
    select PARTY_ID, max(CNTR_VALIDTO) from PROD_CONTRACT group by 1 having max(CNTR_VALIDTO) < current_date
    ) as a;

,count(*)
0,82054

In [35]:
select
concat(PARTY_TYPE,'_',coalesce(trim(PARTY_RC),trim(PARTY_CREGNUM))) as CUST_ID, count(*) as FREQ
from PART_PARTY
group by 1 having count(*) >3 order by 2 desc limit 0,15

,CUST_ID,FREQ
0,P_,5042
1,P_CIZINEC,2633
2,P_NEVYPLNENO,2555
3,P_9999999999,2542
4,P_NENI,2526
5,C_NEVYPLNENO,1171
6,C_9999999999,1161
7,C_,1150
8,C_NENI,1143
9,P_335215951,6
10,P_436206711,6
11,P_500720609,6
12,P_500926272,6
13,P_506120963,6
14,P_510326770,6

## Shuffle

In [61]:
# https://stackoverflow.com/questions/11860023/shuffle-a-string-with-mysql-sql

CREATE FUNCTION shuffle(
    v_chars TEXT
)
RETURNS TEXT
NOT DETERMINISTIC -- multiple RAND()'s
NO SQL
SQL SECURITY INVOKER
COMMENT ''
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
    DECLARE u_pos    INT UNSIGNED;
    DECLARE u        INT UNSIGNED;

    SET u = LENGTH(v_chars);
    WHILE u > 0
    DO
      SET u_pos = 1 + FLOOR(RAND() * u);
      SET v_retval = CONCAT(v_retval, MID(v_chars, u_pos, 1));
      SET v_chars = CONCAT(LEFT(v_chars, u_pos - 1), MID(v_chars, u_pos + 1, u));
      SET u = u - 1;
    END WHILE;

    RETURN v_retval;
END;

In [ ]:
SET GLOBAL log_bin_trust_function_creators = 1;

In [62]:
select PARTY_LNAME, shuffle(PARTY_LNAME) from PART_PARTY where PARTY_TYPE = 'P' limit 0,10;

In [36]:
select PARTY_RC, md5(PARTY_RC), crc32(PARTY_RC) from PART_PARTY where PARTY_TYPE = 'P' and PARTY_RC is not null limit 0,10;

,PARTY_RC,md5(PARTY_RC),crc32(PARTY_RC)
0,9999999999,e0ec043b3f9e198ec09041687e4d4e8d,719060942
1,320815621,031856f70bd9bd206f3ba679e6fd1f43,3618853718
2,325815553,c3d354dccc9cf8f828bef164ee8f28f2,1088073458
3,325815000,7856f3a8b336c65fedce2846d33a4370,2725235174
4,325814030,deae90e017d38a8ab5525c03a835f795,838794560
5,325814126,3fe5f2cda30286eb4a07b34e8aed7d6e,3225682691
6,325814795,4e662560fdbf6da51b3b684cd7d36ecc,3191142336
7,325813596,98ca75b9cfe53f6548599b77ed8ddc95,3111013037
8,320812182,494cce7971e339e377278df015cc9c5d,3741213162
9,325812685,6ca02187e9935c7bb77e6bafce689652,2206659434

In [41]:
alter table REF_LNAME add RAND_ID decimal(18,16);

In [42]:
update REF_LNAME set RAND_ID = rand();

In [43]:
select RAND_ID, count(*) from REF_LNAME group by 1 having count(*) > 1 limit 0,10;

,RAND_ID,count(*)
0,0.000247,2
1,0.000380,2
2,0.000451,2
3,0.000980,2
4,0.001262,2
5,0.001473,2
6,0.001648,2
7,0.001749,2
8,0.002197,2
9,0.002502,2

In [44]:
select CODE, VALUE from REF_LNAME limit 0,10;

,CODE,VALUE
0,1,AADI
1,2,AAFJES
2,3,AALBREGT
3,4,AALDERS
4,5,AALDERSOV
5,6,AAMANN
6,7,AANDERUD
7,8,AANENSENOV
8,9,AAOUATIF
9,10,AARDOOM

In [45]:
select 
CONT_VALUE, 
@num_tokens := 1 + LENGTH(CONT_VALUE) - LENGTH(regexp_replace(CONT_VALUE,'[-\._@]','')) AS num_tokens,
substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 1)), '#', -1) as t1,
IF(@num_tokens > 1, substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 2)), '#', -1), '') as t2,
IF(@num_tokens > 2, substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 3)), '#', -1), '') as t3,
IF(@num_tokens > 3, substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 4)), '#', -1), '') as t4,
IF(@num_tokens > 4, substring_index(upper(substring_index(regexp_replace(CONT_VALUE,'[-\._@]','#'), '#', 5)), '#', -1), '') as t5
from  PARTY_CONTACT where CONT_TYPE = 'E' limit 0,5;

,CONT_VALUE,num_tokens,t1,t2,t3,t4,t5
0,erdenetuya.kovicovi@seznam.cz,4,ERDENETUYA,KOVICOVI,SEZNAM,CZ,
1,vnemec@volny.cz,3,VNEMEC,VOLNY,CZ,,
2,elena@strnadovi.com,3,ELENA,STRNADOVI,COM,,
3,hasmik@sulcovi.eu,3,HASMIK,SULCOVI,EU,,
4,lholubovi#gmail&com,1,LHOLUBOVI,,,,

In [46]:
select AES_ENCRYPT(PARTY_RC, UNHEX(SHA2('My secret passphrase',512))) from PART_PARTY limit 0,5;

,"AES_ENCRYPT(PARTY_RC, UNHEX(SHA2('My secret passphrase',512)))"
0,b'q3\xc4\xd4C\x00\x82\xb1\xeb!\xccU\xcb\xf6\x9e\xdd'
1,"b""\xa1D[\xf6\xbaX'C\xa6\xe0rh5;\xc6\x8b"""
2,"b'\x9d\x1b\xf6\xa5\xad\\D\x10kU\x15f""\xf8\xff\x17'"
3,b'\xf4/#\tz}^\xcd&:I_\x08\x1f\xb3c'
4,"b'*\xf3\xa8B \xd9,|j\xe3\xc4\xc3\xa67:\xd9'"

# Week 4

In [51]:
select 
count(*) as NUM_OF_RECORDS,
count(distinct PARTY_ID) as NUM_OF_PARTY_ID,
min(PARTY_ID) as MIN_PARTY_ID,  
max(PARTY_ID) as MAX_PARTY_ID, 
max(PARTY_ID) - min(PARTY_ID) + 1 as ID_RANGE 
from PARTY_CONTACT 
where PARTY_ID not in (select PARTY_ID from PART_PARTY);

,NUM_OF_RECORDS,NUM_OF_PARTY_ID,MIN_PARTY_ID,MAX_PARTY_ID,ID_RANGE
0,37879,37879,383132,421010,37879

In [52]:
select a.PARTY_TYPE, b.PARTY_TYPE_CNT, count(*) as NUM_OF_RECORDS
from PART_PARTY as a
inner join (select PARTY_TYPE, count(*) as PARTY_TYPE_CNT from PART_PARTY group by 1) as b
on (a.PARTY_TYPE = b.PARTY_TYPE)
where PARTY_ID not in (select PARTY_ID from PARTY_CONTACT)
group by 1;

,PARTY_TYPE,PARTY_TYPE_CNT,NUM_OF_RECORDS
0,C,119348,119348

In [53]:
select
translate(
lower(PARTY_RC),
    'abcdefghijklmnopqrstuvwxyz0123456789',
    'AAAAAAAAAAAAAAAAAAAAAAAAAA9999999999') as PATTERN,
count(*) as FREQ
from PART_PARTY
group by lower(PARTY_RC);

In [54]:
select
REGEXP_REPLACE(REGEXP_REPLACE(lower(PARTY_RC),'[a-z]','A'), '[0-9]', '9') as PATTERN,
count(*) as FREQ
from PART_PARTY
group by 1;

,PATTERN,FREQ
0,9999999999,183810
1,999999999,68378
2,AAAAAAA,2633
3,,6192
4,AAAAAAAAAA,3726
5,AAAA,3669
6,None,114723

In [55]:
select
PARTY_TYPE,
REGEXP_REPLACE(REGEXP_REPLACE(lower(PARTY_RC),'[a-z]+','A'), '[0-9]+', '9') as PATTERN,
count(*) as FREQ
from PART_PARTY
group by 1,2;

,PARTY_TYPE,PATTERN,FREQ
0,P,9,251027
1,P,A,7714
2,P,,5042
3,C,None,114723
4,C,A,2314
5,C,,1150
6,C,9,1161

In [56]:
select 
count(*) as FREQ,
count(distinct PARTY_AGE) as DISTINCT_FREQ,
min(PARTY_AGE) as MIN,
max(PARTY_AGE) as MAX,
avg(PARTY_AGE) as AVG,
std(PARTY_AGE) as STD,
variance(PARTY_AGE) as VAR
from PART_PARTY
where PARTY_TYPE = 'P';

,FREQ,DISTINCT_FREQ,MIN,MAX,AVG,STD,VAR
0,263783,84,15,98,45.6612,18.49909,342.216337

In [57]:
select
min(year(PARTY_DOFBIRTH) + PARTY_AGE) as MIN,
max(year(PARTY_DOFBIRTH) + PARTY_AGE) as MAX
from PART_PARTY
where PARTY_TYPE = 'P';

,MIN,MAX
0,2012,2108

In [58]:
select
year(PARTY_DOFBIRTH) + PARTY_AGE as DT,
count(*) as FREQ
from PART_PARTY
where PARTY_TYPE = 'P'
group by 1
order by 2 desc limit 0,10;

,DT,FREQ
0,2012.0,232558
1,NaN,5304
2,2044.0,585
3,2045.0,559
4,2040.0,530
5,2041.0,513
6,2048.0,512
7,2042.0,508
8,2046.0,504
9,2043.0,500

In [59]:
select
substr(PARTY_RC, 1,6) as RC_YEAR, PARTY_AGE, PARTY_DOFBIRTH, year(PARTY_DOFBIRTH) + PARTY_AGE as DT
from PART_PARTY
where PARTY_TYPE = 'P'
and year(PARTY_DOFBIRTH) + PARTY_AGE = 2044
limit 0,10;

,RC_YEAR,PARTY_AGE,PARTY_DOFBIRTH,DT
0,NENI,34,2010-07-23,2044
1,785105,34,2010-05-20,2044
2,780105,34,2010-10-13,2044
3,785106,34,2010-10-19,2044
4,780107,34,2010-01-27,2044
5,780109,34,2010-08-26,2044
6,780109,34,2010-06-08,2044
7,780110,34,2010-02-07,2044
8,785116,34,2010-08-15,2044
9,780116,34,2010-02-11,2044

In [60]:
select (PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE())), count(*) from PART_PARTY where PARTY_TYPE = 'P' group by 1 order by 1 limit 0,10;

,"(PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE()))",count(*)
0,NaN,5304
1,-10.0,97618
2,-9.0,134940
3,3.0,128
4,4.0,319
5,5.0,352
6,6.0,419
7,7.0,378
8,8.0,410
9,9.0,403

# Week 5 + 6

In [63]:
alter table PART_PARTY
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(18) default '000000000000000000',
add DQM_ERR longtext
;

In [64]:
alter table PARTY_ADDRESS
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(9) default '000000000',
add DQM_ERR longtext
;

In [65]:
alter table PARTY_CONTACT
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(5) default '00000',
add DQM_ERR longtext
;

In [66]:
alter table PROD_CONTRACT
add DQM_VALID_SCORE decimal(3,2) default 0,
add DQM_VALID_CODE char(7) default '0000000',
add DQM_ERR longtext
;

In [71]:
drop table if exists DQM_ISSUES;

In [72]:
CREATE TABLE `DQM_ISSUES` (
  `ISSUE_ID` bigint NOT NULL AUTO_INCREMENT,
  `ISSUE_TSTMP` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `TABLE_NAME` varchar(100) COLLATE utf8_czech_ci NOT NULL,
  `ATTRIBUTE_NAME` varchar(100) COLLATE utf8_czech_ci NOT NULL,
  `ROW_ID` bigint NOT NULL,
  `ISSUE_CODE` smallint NOT NULL,
  `ISSUE_TEXT` longtext COLLATE utf8_czech_ci,
  PRIMARY KEY (`ISSUE_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_czech_ci;

In [73]:
select max(CAL_DATE) from REF_CALENDAR;

,max(CAL_DATE)
0,2014-12-31

In [74]:
drop table if exists REF_RES;

In [75]:
CREATE TABLE `REF_RES` (
  `ICO` char(8) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `OKRESLAU` char(6) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `DDATVZN` date DEFAULT NULL,
  `DDATZAN` date DEFAULT NULL,
  `ZPZAN` int DEFAULT NULL,
  `DDATPAKT` date DEFAULT NULL,
  `FORMA` int DEFAULT NULL,
  `ROSFORMA` int DEFAULT NULL,
  `KATPO` int DEFAULT NULL,
  `NACE` varchar(10) DEFAULT NULL,
  `ICZUJ` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `FIRMA` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `CCISS2010` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `KODADM` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `PSC` char(5) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `OBEC_TEXT` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `COBCE_TEXT` varchar(100) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `ULICE_TEXT` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `TYPCDOM` smallint DEFAULT NULL,
  `CDOM` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `COR` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `DATPLAT` date DEFAULT NULL,
  `PRIZNAK` char(1) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `CISS2010` varchar(50) DEFAULT NULL,
  `TEXTADR` varchar(256) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

In [76]:
SHOW GLOBAL VARIABLES like '%%local_infile%%';

,Variable_name,Value
0,local_infile,OFF

In [77]:
SET GLOBAL local_infile = 'ON';

In [78]:
SHOW GLOBAL VARIABLES like '%%local_infile%%';

,Variable_name,Value
0,local_infile,ON

In [79]:
load data local infile 'ROS.csv' into table REF_RES;

In [80]:
select 
case when trim(ADDR_NUM1) 
regexp '^[0-9]+$' = 1 
then 'T' else 'F' end as flag, count(*) as freq 
from PARTY_ADDRESS group by 1;

,flag,freq
0,F,955217

In [81]:
select 
case when trim(ADDR_STREET) 
regexp '^[0-9a-zA-Z]+$' = 1 
then 'T' else 'F' end as flag, count(*) as freq 
from PARTY_ADDRESS group by 1;

,flag,freq
0,F,465796
1,T,489421

In [82]:
select concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)) from PART_PARTY limit 0,1;

,"concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10))"
0,000000010000000000

In [83]:
update PART_PARTY
set 
DQM_VALID_SCORE = 0,
DQM_VALID_CODE = '000000000000000000',
DQM_ERR = ''
where 1 = 1;

In [84]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-1-SMACC ') 
where
cast(
    concat(
        '19',substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 9
    ;

In [85]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-2-SMACC ') 
where
cast(
    concat(
        case when substr(PARTY_RC,1,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) < 54
        then '20'
        else '19'
        end,
        substr(PARTY_RC,1,2),'-',
        case when substr(PARTY_RC,3,2) REGEXP '[0-9]+' and cast(substr(PARTY_RC,3,2) as signed) > 50
        then cast(cast(substr(PARTY_RC,3,2) as signed) - 50 as char(2))
        else substr(PARTY_RC,3,2)
        end,
        '-',
        substr(PARTY_RC,5,2)
    )
    as char(10))
    not in (select cast(CAL_DATE as char(10)) from REF_CALENDAR)
    and PARTY_TYPE = 'P'
    and length(trim(PARTY_RC)) = 10
    ;

In [86]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-3-INCNS ') 
where
party_type = 'P'
and PARTY_RC REGEXP '[0-9]+'
and not
cast(
    concat(
        case when length(trim(PARTY_RC)) = 10 and trim(substr(PARTY_RC,1,2)) * 1 < 54
        then concat('20',trim(substr(PARTY_RC,1,2)))
        else concat('19',trim(substr(PARTY_RC,1,2)))
        end,
        trim(substr(PARTY_RC,3,2)),
        trim(substr(PARTY_RC,5,2))
    ) as char(10)
) = cast(PARTY_DOFBIRTH as char(10))
;

In [87]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-4-CMPLTN ') 
where
PARTY_TYPE = 'P'
and (PARTY_RC is null or PARTY_RC = '' or PARTY_RC = ' ')
;

In [88]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-5-SMACC RC-5-SNACC ') 
where
PARTY_TYPE = 'P'
and not PARTY_RC REGEXP '[0-9]+'
;

In [89]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-6-INCNS ') 
where
PARTY_TYPE = 'P'
and
(
(substr(PARTY_RC,3,2) - 1 > 50 and PARTY_GENDER not in ('F'))
 or
(substr(PARTY_RC,3,2) - 1 < 50 and PARTY_GENDER not in ('M'))
)
;

In [90]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1',substr(DQM_VALID_CODE,9,10)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'RC-7-INCNS ') 
where
PARTY_TYPE = 'P'
and
(PARTY_AGE - TIMESTAMPDIFF(YEAR, PARTY_DOFBIRTH, CURDATE())) <> 0
;

In [91]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-8-SMACC ') 
where
PARTY_TYPE = 'C' and
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 0 and substr(PARTY_CREGNUM,8,1) <> 1
)
or
(
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11) = 1 and substr(PARTY_CREGNUM,8,1) <> 0
)
or
(
MOD(11 -
MOD(
    (substr(PARTY_CREGNUM,1,1) * 8) +
    (substr(PARTY_CREGNUM,2,1) * 7) +
    (substr(PARTY_CREGNUM,3,1) * 6) +
    (substr(PARTY_CREGNUM,4,1) * 5) +
    (substr(PARTY_CREGNUM,5,1) * 4) +
    (substr(PARTY_CREGNUM,6,1) * 3) +
    (substr(PARTY_CREGNUM,7,1) * 2)
,11),10) <> substr(PARTY_CREGNUM,8,1)
);

In [92]:
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-8-SMACC%%' limit 0,10;

In [93]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1',substr(DQM_VALID_CODE,8,11)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CREGNUM-9-SMACC ') 
where
PARTY_TYPE = 'C' and
trim(PARTY_CREGNUM) not in (select trim(PARTY_CREGNUM)from REF_PARTY_CREGNUM);

In [94]:
select PARTY_CREGNUM from PART_PARTY where DQM_ERR like '%%CREGNUM-9-SMACC%%' limit 0,10;

,PARTY_CREGNUM
0,10363670
1,10363904
2,10364986
3,10364994
4,10366041
5,10366661
6,10367179
7,10370943
8,10372695
9,10373527

In [95]:
alter table REF_FNAME add MCODE char(32);

In [96]:
update REF_FNAME set MCODE = md5(upper(trim(VALUE)));

In [97]:
alter table REF_FNAME add index(MCODE);

In [98]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'FNAME-10-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_FNAME))) not in (select MCODE from REF_FNAME);

In [100]:
select PARTY_FNAME from PART_PARTY where DQM_ERR like '%%FNAME-10-SMACC%%' limit 0,10;

,PARTY_FNAME
0,ERDENETUYA
1,OKSANA IVANIVNA
2,A N N A
3,ZINOVIY
4,L
5,E L I S A
6,THI SAU
7,VAN QUYEN
8,M E L N I A
9,TSOLMON

#### Rule 11: PARTY_LNAME lookup failed

In [99]:
alter table REF_LNAME add MCODE char(32);

In [101]:
update REF_LNAME set MCODE = md5(upper(trim(VALUE)));

In [102]:
alter table REF_LNAME add index(MCODE);

In [103]:
update PART_PARTY
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,15)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'LNAME-11-SMACC ') 
where
PARTY_TYPE = 'P' and
md5(trim(upper(PARTY_LNAME))) not in (select MCODE from REF_LNAME);

In [104]:
select PARTY_LNAME from PART_PARTY where DQM_ERR like '%%LNAME-11-SMACC%%' limit 0,10;

,PARTY_LNAME
0,STRNADOVA
1,ECHOVA
2,POSPILOVA
3,MOVA
4,TESAOVA
5,JLKOVA
6,PROKEOVA
7,RICHTEROVA
8,JANOUKOVA
9,SOBOTKOVA

#### Rule 12: PARTY_SINCE inconsistent to contract

In [105]:
update PART_PARTY as a
inner join (select PARTY_ID, min(cntr_validfrom) as min_valid_from from PROD_CONTRACT group by 1) as b
on (a.PARTY_ID = b.PARTY_ID)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,17),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'SINCE-12-EXCNS ')
where not a.PARTY_SINCE = b.min_valid_from
;

#### Rule 13: Incorrect PSC syntax

In [107]:
update PARTY_ADDRESS
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,7),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'ZIP-13-SNACC ') 
where not ADDR_ZIP regexp '^[0-9]{5}$' = 1
;

In [108]:
select ADDR_ZIP from PARTY_ADDRESS where DQM_ERR like '%%ZIP-13-SNACC%%' limit 0,10;

,ADDR_ZIP
0,398 4
1,796 0
2,431 0
3,798 6
4,580 0
5,696 6
6,390 0
7,266 0
8,684 0
9,278 0

#### Rule 14: Incorrect Email syntax

In [109]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-14-SNACC ') 
where CONT_TYPE = 'E' and not trim(CONT_VALUE) regexp '^[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*@[a-zA-Z0-9]{1}([\\.\\-]?[a-zA-Z0-9])*\\.[a-zA-Z]{2,6}$' = 1
;

In [110]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-14-SNACC%%';

,count(*)
0,98130

In [111]:
select * from PARTY_CONTACT where DQM_ERR like '%%VALUE-14-SNACC%%' limit 0,10;

,CONT_ID,PARTY_ID,CONT_TYPE,CONT_PRIMARY_FLG,CONT_VALUE,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,5,5,E,None,lholubovi#gmail&com,0.1,00001,VALUE-14-SNACC
1,7,7,E,None,michele_cechovi@volny.cz,0.1,00001,VALUE-14-SNACC
2,9,10,E,None,oksana ivanivna_kucharovi@volny.cz,0.1,00001,VALUE-14-SNACC
3,10,11,E,None,thanh hai_mrizovi@volny.cz,0.1,00001,VALUE-14-SNACC
4,12,13,E,None,lydie_strnadovi@gmail.com,0.1,00001,VALUE-14-SNACC
5,13,14,E,None,thu ha.vlachovi@gmail.cz,0.1,00001,VALUE-14-SNACC
6,19,20,E,None,anastazie_mrizovi@gmail.com,0.1,00001,VALUE-14-SNACC
7,22,23,E,None,elisa_sobotkovi@volny.cz,0.1,00001,VALUE-14-SNACC
8,23,24,E,None,thi sau_soukupovi@gmail.cz,0.1,00001,VALUE-14-SNACC
9,27,28,E,None,alben&hlavicek#gmail&cz,0.1,00001,VALUE-14-SNACC

#### Rule 15: Missing Email

#### Rule 16: Missing Mobile

#### Rule 17: Incorrect Mobile Prefix

In [112]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-17-SMACC ') 
where CONT_TYPE = 'M'
and substr(CONT_VALUE,1,3) * 1 not between 601 and 608
and substr(CONT_VALUE,1,3) * 1 not in (702,703,705)
and substr(CONT_VALUE,1,3) * 1 not between 720 and 739
and substr(CONT_VALUE,1,3) * 1 not between 770 and 779
and substr(CONT_VALUE,1,3) * 1 not between 790 and 792
and substr(CONT_VALUE,1,3) * 1 not in (797,799)
;

In [113]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-17-SMACC%%';

,count(*)
0,55038

#### Rule 18: Incorrect Mobile Length

In [115]:
update PARTY_CONTACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,4),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALUE-18-SMACC VALUE-18-SNACC ') 
where CONT_TYPE = 'M'
and length(replace(CONT_VALUE,' ','')) <> 9
;

In [116]:
select count(*) from PARTY_CONTACT where DQM_ERR like '%%VALUE-18-SMACC%%';

,count(*)
0,29291

#### Rule 19: Invalid product code

In [119]:
update PROD_CONTRACT as a
inner join (select PRODUCT_CODE, min(VALID_FROM) as min_valid_from, max(VALID_TO) as max_valid_to from PRODUCT_CATALOGUE group by 1) as b
on (a.PRODUCT_CODE = b.PRODUCT_CODE)
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,2),'1',substr(DQM_VALID_CODE,4,3)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CODE-19-SMACC ') 
where 
not a.CNTR_VALIDFROM between b.min_valid_from and b.max_valid_to
;

In [ ]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

#### Rule 20: Valid From after Valid To

In [120]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,3),'11',substr(DQM_VALID_CODE,6,2)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'VALIDFROM-20-INCNS VALIDTO-20-INCNS ') 
where CNTR_VALIDFROM > CNTR_VALIDTO
;

In [121]:
select * from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

,CNTR_ID,PARTY_ID,PRODUCT_CODE,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE,CNTR_PAY_FREQ,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,27,6,DO3,2012-08-04,2012-07-14,DSM,2,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
1,36,8,UI3,2012-07-22,2012-04-25,DSM,2,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
2,64,14,PR3,2012-11-15,2012-04-23,STK,2,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
3,125,26,HA3,2012-06-09,2012-03-14,STK,12,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
4,134,28,PR3,2012-08-28,2012-05-20,STK,2,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
5,139,29,PR3,2012-05-10,2012-02-17,STK,4,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
6,220,45,HA3,2012-09-21,2012-04-15,STK,5,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
7,223,45,NE3,2012-08-15,2012-07-20,STK,12,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
8,278,57,HA3,2012-09-07,2012-02-17,STK,1,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS
9,316,64,NE3,2012-06-25,2012-04-15,STK,12,0.1,0001100,VALIDFROM-20-INCNS VALIDTO-20-INCNS

In [122]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%VALIDFROM-20-INCNS%%' limit 0,10;

,count(*)
0,31764

#### Rule 21: Terminated contract with no canceltype

In [123]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,5),'1',substr(DQM_VALID_CODE,7,1)),
DQM_ERR = concat(coalesce(DQM_ERR,''),'CANCTYPE-21-CMPLT ') 
where
CNTR_CANCTYPE is null and CNTR_VALIDTO <= current_date;
;

In [124]:
select CNTR_VALIDFROM, CNTR_VALIDTO, CNTR_CANCTYPE from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE
0,2012-02-01,2016-03-15,None
1,2012-11-07,2016-03-08,None
2,2011-06-15,2019-10-05,None
3,2012-12-22,2020-03-17,None
4,2012-11-12,2013-06-10,None
5,2010-11-24,2013-06-04,None
6,2010-11-19,2019-08-06,None
7,2011-12-17,2020-06-26,None
8,2010-10-15,2013-04-13,None
9,2011-10-05,2019-04-11,None

In [125]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%CANCTYPE-21-CMPLT%%' limit 0,10;

,count(*)
0,342318

#### Rule 22: Incorrect frequency of payment

In [126]:
update PROD_CONTRACT
set
DQM_VALID_SCORE = DQM_VALID_SCORE + 0.1,   
DQM_VALID_CODE = concat(substr(DQM_VALID_CODE,1,6),'1'),
DQM_ERR = concat(coalesce(DQM_ERR,''),'PAY_FREQ-22-SNACC ') 
where
CNTR_PAY_FREQ not in (select CODE from LOV_PMT_FREQ);
;

In [127]:
select * from PROD_CONTRACT where DQM_ERR like '%%PAY_FREQ-22-SNACC%%' limit 0,10;

,CNTR_ID,PARTY_ID,PRODUCT_CODE,CNTR_VALIDFROM,CNTR_VALIDTO,CNTR_CANCTYPE,CNTR_PAY_FREQ,DQM_VALID_SCORE,DQM_VALID_CODE,DQM_ERR
0,21,5,UI2,2011-10-05,2019-04-11,None,3,0.2,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
1,44,10,PR2,2011-10-20,2999-06-28,None,3,0.1,0000001,PAY_FREQ-22-SNACC
2,53,11,NE1,2010-06-15,2013-12-22,None,3,0.2,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
3,62,13,DO3,2012-02-27,2023-02-22,None,5,0.1,0000001,PAY_FREQ-22-SNACC
4,63,13,NE3,2012-01-15,2023-02-25,None,3,0.1,0000001,PAY_FREQ-22-SNACC
5,68,14,NE1,2010-10-10,2018-05-28,None,5,0.2,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
6,73,15,NE2,2011-01-13,2014-07-06,None,3,0.2,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
7,75,16,HA2,2011-04-01,2012-08-28,STK,3,0.1,0000001,PAY_FREQ-22-SNACC
8,83,17,NE3,2012-11-12,2014-04-13,None,3,0.2,0000011,CANCTYPE-21-CMPLT PAY_FREQ-22-SNACC
9,93,19,NE1,2010-05-20,2012-10-15,STK,5,0.1,0000001,PAY_FREQ-22-SNACC

In [128]:
select count(*) from PROD_CONTRACT where DQM_ERR like '%%PAY_FREQ-22-SNACC%%' limit 0,10;

,count(*)
0,91693

## Report

In [129]:
select count(*) into @rowCnt from PART_PARTY;

In [130]:
select 1 - (count(*) / @rowCnt) as 'Semantic Accuracy' from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SMACC%%';

,Semantic Accuracy
0,0.3189

In [132]:
update DQM_MDR
set
CHAR_SEM_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SMACC%%'),
CHAR_SYN_ACC = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-SNACC%%'),
CHAR_COM = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-CMPLT%%'),
CHAR_INT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-INCNS%%'),
CHAR_EXT_CON = (select 1 - (count(*) / @rowCnt) from PART_PARTY where DQM_ERR like '%%RC-%%' and DQM_ERR like '%%-EXCNS%'),
where TABLE_NAME = 'PART_PARTY' and COLUMN_NAME = 'PARTY_RC';

In [142]:
CREATE PROCEDURE `4iz562`.`updateCharacteristics`(
    IN tablePar varchar(32),
    IN attributePar varchar(32),
    IN attributeAlias varchar(32),
    IN rowCnt bigint
)
BEGIN
  	   
   	 SET @s = concat(  
   	    "update DQM_MDR set",
   	    " CHAR_SEM_ACC = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-SMACC.*' = 1),",
   	    " CHAR_SYN_ACC = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-SNACC.*' = 1),",
		" CHAR_COM = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-CMPLT.*' = 1),",
		" CHAR_INT_CON = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-INCNS.*' = 1),",
		" CHAR_EXT_CON = (select 1 - (count(*) / ", rowCnt, ") from ", tablePar," where DQM_ERR regexp '.*", attributeAlias,"-[0-9]{0,3}-EXCNS.*' = 1)",
		" where TABLE_NAME = ", quote(tablePar), " and COLUMN_NAME = ", quote(attributePar)
	);
				
   	prepare stmt from @s;
   	execute stmt;
    commit;
    deallocate prepare stmt;
END;

In [134]:
select @rowCnt

,@rowCnt
0,383131

# Week 7

In [143]:
CREATE FUNCTION `4iz562`.`split`(
    v_chars TEXT,
    v_splitter text,
    v_token smallint
) RETURNS text CHARSET utf8mb4
    NO SQL
    SQL SECURITY INVOKER
BEGIN
    DECLARE v_retval TEXT DEFAULT '';
   
    SET v_retval = substring_index(substring_index(v_chars, v_splitter, v_token), v_splitter, -1);

    RETURN v_retval;
END;

In [144]:
select 
SUBSTR(REGEXP_SUBSTR(CONT_VALUE, '@[0-9a-z]*'),2) as SLD,
split(CONT_VALUE,'.',-1) as TLD
from PARTY_CONTACT where CONT_TYPE = 'E' limit 0,10;

## Standardization

In [145]:
select ADDR_CITY, count(*) from PARTY_ADDRESS where upper(ADDR_CITY) like '%%BRAND%%' group by 1;

,ADDR_CITY,count(*)
0,BRANDSEK,191
1,Brands nad Labem-Star Boleslav - Brands nad Labem,670
2,Brands nad Labem-Star Boleslav - Star Boleslav,573
3,Brandsek - Olany,122
4,BRANDS NAD LABEM-STAR BOLESLAV-BRANDS NAD LABEM,25
5,BRANDOV,36
6,BRANDS NAD ORLIC,117
7,Brandsek-Olany,8
8,Brands nad Labem-Star Boleslav-Star Boleslav,11
9,Brandln,11

In [147]:
select ulice, count(*) from REF_UIRADR_MERGED 
where ulice like 'n.%' or lower(ulice) like 'nm.%' or lower(ulice) like 'nmst%'
group by 1 order by 2 desc limit 0,10;

In [148]:
select PARTY_FNAME, count(*) from PART_PARTY where strip(lower(PARTY_FNAME)) like '%%david%%' group by 1;